<br><br><br><br><br><br>
<div class="sc-jGxEUC hcYcAk">
    <div class="sc-jdeSqf eHyZJQ">
       <div class="sc-iNhVCk laEuRu">
          <div class="sc-gRnDUn kgFsVe">
             <div class="sc-cmjSyW fRcuob"><span class="sc-iYUSvU ktdeEK">AR</span></div>
             <div class="sc-sdtwF cHCFEc">
                <div class="sc-cHSUfg hIdwQT">Manage Account<span class="sc-cugefK kNWNAk"><a class="sc-fnwBNb bDXQtB" href="#"><span aria-hidden="true" class="fa fa-cog"></span></a></span></div>
                <div class="sc-cTjmhe dPSWbG bvDjiZ">Arunoday Ray</div>
             </div>
          </div>
       </div>
       <div class="sc-cBrjTV fYEKnA">
          <div class="sc-iCwjlJ cjEiKV">Your Investor Accounts</div>
          <div class="sc-fkyLDJ PtMZq">
             <div class="sc-jdfcpN estXrN">Name</div>
             <div class="sc-jRuhRL iZqgJW">Account Type</div>
             <div class="sc-kNBZmU fLxIWu">Identity</div>
             <div class="sc-eopZyb jLNXcn">External Banks</div>
             <div class="sc-eNNmBn keQskr">Accreditation</div>
             <div class="sc-eEieub kGMxRI">Manage</div>
          </div>
          <div class="sc-gbOuXE eWJhsW">
             <div class="sc-hUfwpO dulerD">
                <label class="sc-eAKXzc dixlvZ">Name</label>
                <div class="sc-gkFcWv dLlNwB">Arunoday Ray</div>
             </div>
             <div class="sc-imABML gzhKFi">
                <label class="sc-eAKXzc dixlvZ">Account Type</label>
                <div class="sc-bfYoXt dGPcJq">Self account</div>
             </div>
             <div class="sc-cjHlYL hVFpBU">
                <label class="sc-eAKXzc dixlvZ">Identity</label>
                <div class="sc-hcmgZB cRhRmN"><span class="sc-RbTVP gfDLEz" color="rgb(171, 180, 186)"><span aria-hidden="true" class="fa fa-minus"></span> Unverified</span></div>
             </div>
             <div class="sc-dRaagA jQhFuQ">
                <label class="sc-eAKXzc dixlvZ">External Banks</label>
                <div class="sc-dHmInP boGHIF"><span class="sc-RbTVP gfDLEz" color="rgb(171, 180, 186)"><span aria-hidden="true" class="fa fa-minus"></span> None</span></div>
             </div>
             <div class="sc-fEUNkw gsmEjg">
                <label class="sc-eAKXzc dixlvZ">Accreditation</label>
                <div class="sc-ejGVNB bUDSEu"><span class="sc-RbTVP gfDLEz" color="rgb(171, 180, 186)"><span aria-hidden="true" class="fa fa-minus"></span> Unverified</span></div>
             </div>
             <div class="sc-dREXXX dGEwbL">
                <label class="sc-eLdqWK eOglTc">Manage</label>
                <div class="sc-kcbnda idCEhG"><a class="sc-iiUIRa ilfVuw" (click)="setupAcc();">Set Up Your Account</a></div>
             </div>
          </div>
          <div class="sc-iIHSe goLzOr">
             <div class="sc-gldTML RRkFf">
                <div class="sc-feryYK ibqglv">You need another account only if you want to:</div>
                <div class="sc-cJOK euMgRV">Invest as an entity, such as an LLC or Trust.</div>
                <div class="sc-cJOK euMgRV">Invest with a self-directed IRA or solo 401(k).</div>
                <div class="sc-cJOK euMgRV">Invest on behalf of others.</div>
             </div>
             <div class="sc-ccSCjj ckmZdp"><button class="sc-jKmXuR iUcfNf sc-hgRTRy cWqfyr" id="profileaccounts-newaccount" (click)="selecInv();">Add New Account</button></div>
          </div>
       </div>
    </div>
 </div>