<div class="Main__Wrapper-fTNHWf fHOsuF">
    <div class="Main__Container-jeBqdM gQKlCo">
       <div class="PortfolioContainer__Wrapper-hvqmVE ikFBWa">
          <div class="Navbar__InnerWrapper-jFgBlI cuaAbL Container-gZqETv dedQyW">
             <div class="Navbar__NavbarWrapper-gvcNVs jdzcjd">
                <ul class="Navbar__Wrapper-kOBqOU inRjwF">
                   <li class="NavItem__ListItem-jObUkA eZhMjM">
                      <a class="" aria-current="false" href="/portfolio">
                         <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/OverviewActive.b3840050.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/OverviewDefault.b4fc387f.svg">
                         <div class="title NavItem__TabTitle-jsVGJM eJexFz">Overview</div>
                      </a>
                   </li>
                   <li class="NavItem__ListItem-jObUkA eZhMjM">
                      <a class="active active" aria-current="true" href="/portfolio/investments">
                         <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/InvestmentsActive.1aea9b0f.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/InvestmentsDefault.2650c329.svg">
                         <div class="title NavItem__TabTitle-jsVGJM eJexFz">Investments</div>
                      </a>
                   </li>
                   <li class="NavItem__ListItem-jObUkA eZhMjM">
                      <a class="" aria-current="false" href="/portfolio/wallet">
                         <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/WalletActive.80210110.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/WalletDefault.0e0c70c6.svg">
                         <div class="title NavItem__TabTitle-jsVGJM eJexFz">Wallet</div>
                      </a>
                   </li>
                   <li class="NavItem__ListItem-jObUkA eZhMjM">
                      <a class="" aria-current="false" href="/profile/funds">
                         <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ManageFundsActive.cb837e75.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ManageFundsDefault.8dad5e3a.svg">
                         <div class="title NavItem__TabTitle-jsVGJM eJexFz">Transfer Funds</div>
                      </a>
                   </li>
                   <li class="NavItem__ListItem-jObUkA eZhMjM">
                      <a class="" aria-current="false" href="/portfolio/reports">
                         <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ReportsActive.a6f721c1.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ReportsDefault.183daf3d.svg">
                         <div class="title NavItem__TabTitle-jsVGJM eJexFz">Reports</div>
                      </a>
                   </li>
                   <li class="NavItem__ListItem-jObUkA eZhMjM">
                      <a class="" aria-current="false" href="/portfolio/transactions">
                         <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/TransactionsActive.136ccf21.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/TransactionsDefault.1a96eba4.svg">
                         <div class="title NavItem__TabTitle-jsVGJM eJexFz">Transactions</div>
                      </a>
                   </li>
                   <li class="NavItem__ListItem-jObUkA eZhMjM">
                      <a class="" aria-current="false" href="/profile/accounts">
                         <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ManageInvestorsActive.9f98461a.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ManageInvestorsDefault.05f4f95a.svg">
                         <div class="title NavItem__TabTitle-jsVGJM eJexFz">Manage Accounts</div>
                      </a>
                   </li>
                   <li class="NavItem__ListItem-jObUkA eZhMjM">
                      <a class="" aria-current="false" href="/portfolio/tax-center">
                         <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/TaxCenterActive.3da60d3d.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/TaxCenterDefault.4257e649.svg">
                         <div class="title NavItem__TabTitle-jsVGJM eJexFz">Tax Center</div>
                      </a>
                   </li>
                   <li class="NavItem__ListItem-jObUkA eZhMjM">
                      <a href="mailto:investments@yieldstreet.com">
                         <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ContactDefault.a091529a.svg">
                         <div class="title NavItem__TabTitle-jsVGJM eJexFz">Contact Us</div>
                      </a>
                   </li>
                </ul>
             </div>
             <div class="PortfolioContainer__ContentWrapper-bLzDll fRUPbU">
                <div class="Header__Wrapper-jGBIxR dWYIdt">
                   <div class="Header__TitleWrapper-eiGINF iWVqVB">
                      <div class="Header__Title-dLRSgy fnOXBv">
                         <div class="Breadcrumb__Container-iFkNRY gdpVpA"><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>portfolio</span><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>investments</span></div>
                      </div>
                      <div class="Header__CurrentTab-dWpQpn dQsaWW">Investments</div>
                   </div>
                   <div class="Header__DropdownWrapper-kzZVJq cMVwLP">
                      <div>
                         <div class="shared__Desktop-hjxvYk cGsOEk">
                            <div class="Investments__FilterContainer-csvBeW cPrxJq">
                               <div class="shared__StyledHeaderDropdown-nCqUr cHWqGL HeaderDropdown__DropdownWrapper-coMKrj jvsIdX">
                                  <div class="HeaderDropdown__StyledDropdown-cfQxqG beZXOE Dropdown__Container-cUUygg dlinaM" id="portfolio-investor-dropdown">
                                     <div class="HeaderDropdown__StyledDropdown-cfQxqG beZXOE false Dropdown__ActiveContainer-ftVMPU ilTLWk" data-click-id="dropdown" id="active-container">
                                        <div class="Dropdown__ActiveOption-eGGXhI eguRTf" data-click-id="dropdown" id="active-option">All Investors</div>
                                        <span id="dropdown-arrow" data-click-id="dropdown" theme="secondary" aria-hidden="true" class="fa fa-angle-down Dropdown__DropdownIcon-dIxNDU ikGzXA"></span>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="shared__Mobile-gnnfyx iORixb">
                            <div class="shared__MobileButton-HkEuD geypWD"><span aria-hidden="true" class="fa fa-filter"></span></div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="PortfolioContainer__SectionWrapper-kfBCZx jXkgWa">
                   <div class="Investments__Container-gUoaLB VnLjP">
                      <div class="Teaser__CompAcctContainer-hyPlEi exeJdx shared__ComponentWrapper-hNHPcs inGxEQ">
                         <h2 class="Teaser__HeaderPortfolio-fzeyQS kNqYvZ">Track performance in your Portfolio as soon as you make your first investment</h2>
                         <div class="Teaser__PictureTextContainer-jCIfQI bQuzXb">
                            <div class="ContentItem__Flex-hAdvJV joOubh">
                               <div class="ContentItem__PortfolioImage-dpXkNY gCsApv"><img alt="Responsive Image" src="https://www.yieldstreet.com/static/media/invest-performance-gpx-2-x@3x.65b072c0.png" srcset="https://www.yieldstreet.com/static/media/invest-performance-gpx-2-x@3x.65b072c0.png 1x, https://www.yieldstreet.com/static/media/invest-performance-gpx-2-x@3x.65b072c0.png 2x"></div>
                               <div class="ContentItem__PortfolioContentWrapper-hUJFaL eMtOAP">
                                  <div class="ContentItem__PortfolioTitle-hRBaaV eEoukw">Assess Investment Performance</div>
                                  <div class="ContentItem__PortfolioParagraph-hkhCjQ grddad">We report your account value in real time, as you accrue interest and make new investments.</div>
                               </div>
                            </div>
                            <div class="ContentItem__Flex-hAdvJV joOubh">
                               <div class="ContentItem__PortfolioImage-dpXkNY ONPUU"><img alt="Responsive Image" src="https://www.yieldstreet.com/static/media/transactions-gpx-2-x@3x.770cc8a2.png" srcset="https://www.yieldstreet.com/static/media/transactions-gpx-2-x@3x.770cc8a2.png 1x, https://www.yieldstreet.com/static/media/transactions-gpx-2-x@3x.770cc8a2.png 2x"></div>
                               <div class="ContentItem__PortfolioContentWrapper-hUJFaL eMtOAP">
                                  <div class="ContentItem__PortfolioTitle-hRBaaV eEoukw">View and Download Transactions</div>
                                  <div class="ContentItem__PortfolioParagraph-hkhCjQ grddad">Track payments as they come into your YieldStreet Account or export your payment data to analyze cash flow.</div>
                               </div>
                            </div>
                            <div class="ContentItem__Flex-hAdvJV joOubh">
                               <div class="ContentItem__PortfolioImage-dpXkNY gCsApv"><img alt="Responsive Image" src="https://www.yieldstreet.com/static/media/invest-details-gpx@3x.e3f41c69.png" srcset="https://www.yieldstreet.com/static/media/invest-details-gpx@3x.e3f41c69.png 1x, https://www.yieldstreet.com/static/media/invest-details-gpx@3x.e3f41c69.png 2x"></div>
                               <div class="ContentItem__PortfolioContentWrapper-hUJFaL eMtOAP">
                                  <div class="ContentItem__PortfolioTitle-hRBaaV eEoukw">View Investment Details</div>
                                  <div class="ContentItem__PortfolioParagraph-hkhCjQ grddad">Measure performance of each investment independently, view quarterly reports and download tax documents.</div>
                               </div>
                            </div>
                            <div class="ContentItem__Flex-hAdvJV joOubh">
                               <div class="ContentItem__PortfolioImage-dpXkNY ONPUU"><img alt="Responsive Image" src="https://www.yieldstreet.com/static/media/transfer-gpx-2-x@3x.4d98b010.png" srcset="https://www.yieldstreet.com/static/media/transfer-gpx-2-x@3x.4d98b010.png 1x, https://www.yieldstreet.com/static/media/transfer-gpx-2-x@3x.4d98b010.png 2x"></div>
                               <div class="ContentItem__PortfolioContentWrapper-hUJFaL eMtOAP">
                                  <div class="ContentItem__PortfolioTitle-hRBaaV eEoukw">Transfer Funds</div>
                                  <div class="ContentItem__PortfolioParagraph-hkhCjQ grddad">View your YieldStreet Account Balance and transfer money between YieldStreet and any of your linked external banks.</div>
                               </div>
                            </div>
                         </div>
                         <div class="Heading__HeadingContainer-hOOtWD ckXoti">
                            <h2 class="Heading__HeadingH2-kuBRyt hOrePZ">Since Inception, YieldStreet Investments Have An Expected<span> 12.63%<a class="IRR__StyledAnchor-kbEfdt hysIUH AnchorLink__Anchor-gvnPRg dbwGLr" href="#sup2">2</a> IRR </span></h2>
                            <div class="Heading__HeadingInnerDiv-btnnfZ jXryFJ"></div>
                            <span class="Heading__HeadingInnerSpan-kyHyx gqYavA">See why our average investor has more than 4 investments.</span>
                         </div>
                         <div class="Teaser__ButtonWrapper-dCRhbV cQktSg"><a href="/offerings"><button class="PrimaryButton__ButtonPrimary-exVhhh jcEjeY" id="cta-browse-offering">Browse Offerings<img class="PrimaryButton__Arrow-bFuMQr cjfbRg" src="https://www.yieldstreet.com/static/media/arrow.bd5e780d.svg" alt=""></button></a></div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>