.gdpVpA {
	color: rgb(171, 180, 186);
	font-size: 10px;
	-webkit-letter-spacing: 1px;
	-moz-letter-spacing: 1px;
	-ms-letter-spacing: 1px;
	letter-spacing: 1px;
	line-height: 21px;
	text-transform: uppercase;
	clear: both;
}

@media (min-width:768px) {
	.gdpVpA {
		font-size: 11px;
		line-height: 14px;
		padding-top: 5px;
	}
}

@media (min-width:992px) {
	.gdpVpA {
		font-size: 12px;
		line-height: 21px;
		padding-top: 0;
	}
}

.gGHvIX {
	padding: 0 1em;
}

.cvyNLD:first-child>span {
	display: none;
}

.dWYIdt {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-family: Raleway;
	font-size: 12px;
	-webkit-letter-spacing: 1.4px;
	-moz-letter-spacing: 1.4px;
	-ms-letter-spacing: 1.4px;
	letter-spacing: 1.4px;
	text-align: left;
	padding-top: 8px;
}

.iWVqVB {
	margin-right: auto;
	line-height: 21px;
}

.fnOXBv {
	color: rgb(171, 180, 186);
	text-transform: uppercase;
}

.dQsaWW {
	color: rgb(53, 56, 58);
	font-size: 28px;
	text-transform: capitalize;
	margin-top: 4px;
	line-height: 30px;
}

.kbfNmS {
	margin-right: 7px;
}

.kbfNmS:last-child {
	margin-right: 0;
}

.inGxEQ {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	border: solid 1px rgb(223, 227, 228);
	margin-bottom: 15px;
	background: rgb(255, 255, 255);
}

.cGsOEk {
	display: none;
}

@media (min-width:768px) {
	.cGsOEk {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: row;
		-webkit-justify-content: row;
		-ms-flex-pack: row;
		justify-content: row;
	}
}

.iORixb {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.iORixb>div {
	margin-right: 10px;
}

.iORixb>div:last-child {
	margin-right: 0;
}

@media (min-width:768px) {
	.iORixb {
		display: none;
	}
}
.geypWD {
	width: 36px;
	height: 36px;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border-radius: 1px;
	background-color: rgb(255, 255, 255);
	border: solid 1px rgb(223, 227, 228);
	color: rgb(43, 184, 192);
}

.geypWD>span {
	width: 100%;
	line-height: 36px;
	font-size: 20px;
}
.cHWqGL {
	margin-right: 7px;
}

.cHWqGL:last-child {
	margin-right: 0;
}
.ebBrLw {
	color: rgb(43, 184, 192);
}
.cvdaUI {
	padding-top: 4px;
	color: rgb(118, 129, 135);
}

@media (min-width:576px) {
	.cvdaUI {
		width: 25%;
		padding-bottom: 8px;
		border-bottom: 1px solid rgb(223, 227, 228);
	}
}
.bIGknH {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-bottom: 5px;
}

@media (min-width:576px) {
	.bIGknH:nth-child(2) {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.bIGknH:nth-child(3) {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}
.bJjaDE {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-bottom: 16px;
}

@media (min-width:576px) {
	.bJjaDE {
		padding-bottom: 12px;
	}
}
.kQMInM {
	font-size: 16px;
	font-weight: 500;
	color: rgb(82, 87, 90);
	padding-bottom: 12px;
}
.irGaRx {
	margin: 5px 0 18px 0;
	font-size: 14px;
	padding: 13px 14px 18px 15px;
	border: 1px solid rgb(223, 227, 228);
	background-color: #ffffff;
}

.irGaRx>div:last-child>span {
	font-weight: 500;
}

@media (min-width:576px) {
	.irGaRx {
		padding: 13px 45px 18px 45px;
	}
}
.kQNqoN {
	color: rgb(82, 87, 90);
	min-width: 280px;
	margin-bottom: 18px;
}

@media (min-width:576px) {
	.kQNqoN {
		max-width: 991px;
	}
}

@media (min-width:992px) {
	.kQNqoN {
		display: none;
	}
}
.hlwqKg {
	box-sizing: border-box;
	overflow: hidden;
	background-image: linear-gradient(to bottom, #fbfbfb, #f6f6f6);
	font-size: 12px;
	padding-left: 10px;
	height: 35px;
	line-height: 35px;
	border: solid 1px rgb(223, 227, 228);
}

@media (min-width:576px) {
	.hlwqKg {
		padding-left: 45px;
	}
}
.kekjSJ {
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	-webkit-letter-spacing: normal;
	-moz-letter-spacing: normal;
	-ms-letter-spacing: normal;
	letter-spacing: normal;
	background-color: #fcfcfc;
	padding: 13px 14px 18px 15px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: rgb(223, 227, 228);
}

.kekjSJ:nth-child(even) {
	background-color: #ffffff;
}

@media (min-width:576px) {
	.kekjSJ {
		padding: 13px 45px 18px 45px;
	}
}
.VnLjP {
	clear: both;
	margin-top: 10px;
}

.VnLjP>div {
	margin-top: 10px;
}

.VnLjP>div:first-child {
	margin-top: 10px;
}
.cPrxJq {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: row;
	-webkit-justify-content: row;
	-ms-flex-pack: row;
	justify-content: row;
}

.koUArz {
	font-size: 14px;
	font-weight: 500;
	color: rgb(82, 87, 90);
	margin: 30px 0 10px 0;
}
.hFiCDe {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media (min-width:992px) {
	.hFiCDe {
		padding-top: 20px;
	}
}

@media (min-width:1200px) {
	.hFiCDe {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}
.dmErfv {
	display: block;
	margin: 0;
}

@media (min-width:768px) {
	.dmErfv {
		width: 100%;
	}
}

@media (min-width:1200px) {
	.dmErfv {
		width: calc(65% - 15px);
		margin-right: 15px;
	}
}
.kFasWa {
	display: block;
}

@media (min-width:768px) {
	.kFasWa {
		width: 100%;
	}
}

@media (min-width:1200px) {
	.kFasWa {
		width: 35%;
	}
}
.bkEoXR {
	margin-bottom: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.edXjDV {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: row;
	-webkit-justify-content: row;
	-ms-flex-pack: row;
	justify-content: row;
}
.gImYpM {
	margin-top: 15px;
	display: none;
}

.gImYpM:first-child {
	margin-top: 0;
}

@media (min-width:768px) {
	.gImYpM {
		display: block;
	}
}
.hkJHei {
	border: 0;
	text-align: right;
	min-width: 160px;
}
.kaVBSA {
	color: rgb(43, 184, 192);
	font-size: 14px;
}

.kaVBSA:hover {
	color: rgb(30, 156, 159);
}
.dGHvBv .highcharts-container {
	width: 100% !important;
}

.dGHvBv .highcharts-root {
	width: 100% !important;
}
.gepSRm {
	display: none;
}

@media (min-width:1200px) {
	.gepSRm {
		display: block;
	}
}

.gepSRm .highcharts-container {
	width: 100% !important;
}

.gepSRm .highcharts-root {
	width: 100% !important;
}
.exnwwl {
	display: none;
}

@media (min-width:1200px) {
	.exnwwl {
		display: block;
	}
}

.exnwwl .highcharts-container {
	width: 100% !important;
}

.exnwwl .highcharts-root {
	width: 100% !important;
}
.kdnBLZ {
	font-weight: 400;
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 14px;
	color: rgb(82, 87, 90);
}
.kMQpQH {
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 228);
	border-top: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	height: auto;
}
.gcRVDh {
	color: rgb(53, 56, 58);
	-webkit-flex: 0 1 250px;
	-ms-flex: 0 1 250px;
	flex: 0 1 250px;
	font-size: 14px;
	padding: 26px 15px;
	text-align: right;
	-webkit-flex: 0 1 425px;
	-ms-flex: 0 1 425px;
	flex: 0 1 425px;
	padding: 0 15px;
}

.gcRVDh:first-child {
	text-align: left;
}

.iIWHKI {
	color: rgb(53, 56, 58);
	-webkit-flex: 0 1 250px;
	-ms-flex: 0 1 250px;
	flex: 0 1 250px;
	font-size: 14px;
	padding: 26px 15px;
	text-align: right;
	color: rgb(82, 87, 90);
}

.iIWHKI:first-child {
	text-align: left;
}

.uMzOX {
	color: rgb(53, 56, 58);
	-webkit-flex: 0 1 250px;
	-ms-flex: 0 1 250px;
	flex: 0 1 250px;
	font-size: 14px;
	padding: 26px 15px;
	text-align: right;
}

.uMzOX:first-child {
	text-align: left;
}

.hxlqyY {
	color: rgb(53, 56, 58);
	-webkit-flex: 0 1 250px;
	-ms-flex: 0 1 250px;
	flex: 0 1 250px;
	font-size: 14px;
	padding: 26px 15px;
	text-align: right;
	-webkit-flex: 0 1 425px;
	-ms-flex: 0 1 425px;
	flex: 0 1 425px;
	color: rgb(82, 87, 90);
	font-size: 16px;
}

.hxlqyY:first-child {
	text-align: left;
}

.cntOit {
	color: rgb(53, 56, 58);
	-webkit-flex: 0 1 250px;
	-ms-flex: 0 1 250px;
	flex: 0 1 250px;
	font-size: 14px;
	padding: 26px 15px;
	text-align: right;
	color: rgb(82, 87, 90);
	font-size: 16px;
	white-space: nowrap;
}

.cntOit:first-child {
	text-align: left;
}

.guMcgk {
	color: rgb(53, 56, 58);
	-webkit-flex: 0 1 250px;
	-ms-flex: 0 1 250px;
	flex: 0 1 250px;
	font-size: 14px;
	padding: 26px 15px;
	text-align: right;
	color: rgb(82, 87, 90);
	font-size: 16px;
	font-weight: 500;
}

.guMcgk:first-child {
	text-align: left;
}
.icCAYC {
	width: 100%;
}
.eLqeCd {
	background: linear-gradient(to bottom, #fbfbfb, #f6f6f6);
	color: rgb(82, 87, 90);
	border: 1px solid rgb(223, 227, 228);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	font-size: 12px;
	height: 38px;
	width: 100%;
}
.hafpuL {
	-webkit-flex: 0 1 425px;
	-ms-flex: 0 1 425px;
	flex: 0 1 425px;
	padding: 10px 15px;
	white-space: nowrap;
	text-align: right;
}

.hafpuL:first-child {
	text-align: left;
}

.ftYXIy {
	-webkit-flex: 0 1 250px;
	-ms-flex: 0 1 250px;
	flex: 0 1 250px;
	padding: 10px 15px;
	white-space: nowrap;
	text-align: right;
}

.ftYXIy:first-child {
	text-align: left;
}

.kCVXCf {
	display: none;
}

@media (min-width:992px) {
	.kCVXCf {
		display: block;
	}
}

.cVxJDE {
	line-height: 14px;
}
.gRwTuC {
	color: rgb(43, 184, 192);
	padding: 13px 0 7px;
}
.PcQdF {
	color: rgb(118, 129, 135);
	font-size: 12px;
	padding-bottom: 15px;
}
.gdpVpA {
	color: rgb(171, 180, 186);
	font-size: 10px;
	-webkit-letter-spacing: 1px;
	-moz-letter-spacing: 1px;
	-ms-letter-spacing: 1px;
	letter-spacing: 1px;
	line-height: 21px;
	text-transform: uppercase;
	clear: both;
}

@media (min-width:768px) {
	.gdpVpA {
		font-size: 11px;
		line-height: 14px;
		padding-top: 5px;
	}
}

@media (min-width:992px) {
	.gdpVpA {
		font-size: 12px;
		line-height: 21px;
		padding-top: 0;
	}
}
.gGHvIX {
	padding: 0 1em;
}
.cvyNLD:first-child>span {
	display: none;
}

.dWYIdt {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-family: Raleway;
	font-size: 12px;
	-webkit-letter-spacing: 1.4px;
	-moz-letter-spacing: 1.4px;
	-ms-letter-spacing: 1.4px;
	letter-spacing: 1.4px;
	text-align: left;
	padding-top: 8px;
}
.iWVqVB {
	margin-right: auto;
	line-height: 21px;
}
.fnOXBv {
	color: rgb(171, 180, 186);
	text-transform: uppercase;
}
.dQsaWW {
	color: rgb(53, 56, 58);
	font-size: 28px;
	text-transform: capitalize;
	margin-top: 4px;
	line-height: 30px;
}
.eZhMjM {
	margin-bottom: 15px;
	height: 30px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.eZhMjM a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	color: rgb(118, 129, 135);
}

.eZhMjM a .activeSVG {
	display: none;
}

.eZhMjM a .defaultSVG {
	display: block;
}

.eZhMjM a.active {
	border-left: 1px solid rgb(30, 156, 159);
	color: rgb(30, 156, 159);
}

.eZhMjM a.active .activeSVG {
	display: block;
}

.eZhMjM a.active .defaultSVG {
	display: none;
}

.eZhMjM a.active img:first-child {
	margin-left: 9px;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.eZhMjM a.active span:nth-child(2) {
	margin-left: 10px;
}

.eZhMjM a:not(.active) {
	margin-left: 10px;
}
.iWUARF {
	width: 15px;
	margin-right: 10px;
	fill: black;
}

.iWUARF path {
	fill: green;
}
.eJexFz {
	font-size: 16px;
	position: relative;
}

.cuaAbL {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0 2vw;
}
.jdzcjd {
	display: none;
}

@media (min-width:992px) {
	.jdzcjd {
		display: block;
		padding: 17px 20px 0 0;
		min-width: 200px;
	}
}
.inRjwF {
	display: none;
}

@media (min-width:768px) {
	.inRjwF {
		display: block;
	}
}
.kpOVNO {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
.sPeIT {
	margin: -5px 0px 0px 2px;
}

.dkSWQY {
	margin: -3px 0 0 2px;
}

.cZxCwK {
	margin: 5px 0 0;
	position: absolute;
	width: 100%;
	text-align: right;
	padding-right: 15px;
}
.hFWcYb {
	color: rgb(118, 129, 135);
}
.jiXRhn {
	background-color: rgb(43, 184, 192) !important;
	max-width: 300px;
	opacity: 1 !important;
	width: 160px;
}

.jiXRhn:after {
	border-top-color: rgb(43, 184, 192) !important;
}

.jiXRhn .place-top {
	margin-top: -10px;
}

@media (min-width:576px) {
	.jiXRhn {
		width: unset;
		margin-top: -3px !important;
	}
	.jiXRhn:after {
		border-top-color: transparent !important;
		border-right-color: rgb(43, 184, 192) !important;
	}
}

@media (min-width:768px) {
	.jiXRhn:after {
		border-top-color: rgb(43, 184, 192) !important;
		border-right-color: transparent !important;
	}
}
.inGxEQ {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	border: solid 1px rgb(223, 227, 228);
	margin-bottom: 15px;
	background: rgb(255, 255, 255);
}

.cfYEto {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	border: solid 1px rgb(223, 227, 228);
	margin-bottom: 15px;
	background: rgb(255, 255, 255);
	padding: 1em;
	margin-bottom: 15px;
	border-radius: 2px;
	box-shadow: 0 0 4px 0 rgba(196, 200, 207, 0.25);
}
.cGsOEk {
	display: none;
}

@media (min-width:768px) {
	.cGsOEk {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: row;
		-webkit-justify-content: row;
		-ms-flex-pack: row;
		justify-content: row;
	}
}
.iORixb {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.iORixb>div {
	margin-right: 10px;
}

.iORixb>div:last-child {
	margin-right: 0;
}

@media (min-width:768px) {
	.iORixb {
		display: none;
	}
}
.geypWD {
	width: 36px;
	height: 36px;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border-radius: 1px;
	background-color: rgb(255, 255, 255);
	border: solid 1px rgb(223, 227, 228);
	color: rgb(43, 184, 192);
}

.geypWD>span {
	width: 100%;
	line-height: 36px;
	font-size: 20px;
}
.hcoKcq:first-child {
	padding-right: 20px;
}

.hcoKcq:nth-child(2) {
	padding-left: 10px;
	border-left: 1px solid rgb(238, 240, 240);
}

.hcoKcq dd {
	color: black;
	font-size: 16px;
}

.hcoKcq dt {
	color: rgb(118, 129, 135);
	font-size: 12px;
}
.cvmefl {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size: 16px;
	font-family: Gotham A, Gotham B;
	color: rgb(53, 56, 58);
	font-weight: 500;
	margin-bottom: 10px;
}

@media (min-width:768px) {
	.cvmefl {
		margin-bottom: 0px;
	}
}
.lbpClL {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	color: rgb(43, 184, 192);
	margin-bottom: 10px;
}

@media (min-width:768px) {
	.lbpClL {
		margin-bottom: 0px;
	}
}
.cIvssv {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.hXiNjo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.hXiNjo.background {
	background: #f8fbfb;
}
.fJAWkb {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 5px 0px;
	color: rgb(30, 156, 159);
	font-size: 14px;
}
.dlLuYI {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	display: none;
	padding-right: 20px;
	margin: 5px 0px;
}

@media (min-width:576px) {
	.dlLuYI {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}

.dlLuYI .normal {
	display: block;
}

.dlLuYI .active {
	display: none;
}

.dlLuYI:hover .normal {
	display: none;
}

.dlLuYI:hover .active {
	display: block;
}
.dgFsF {
	font-size: 16px;
	color: rgb(53, 56, 58);
	font-family: Gotham A, Gotham B;
	font-weight: 500;
	margin-bottom: 10px;
}

@media (min-width:768px) {
	.dgFsF {
		margin-bottom: 0px;
	}
}
.ikFBWa {
	background: rgb(246, 246, 246);
	width: 100%;
}
.fRUPbU {
	width: 100%;
}

.gXoOcc {
	text-align: center;
	margin: 15vh 10vw;
	color: rgb(53, 56, 58);
}

.jRCsLI {
	position: relative;
	clear: both;
	overflow: hidden;
	background-image: url(https://va4l.imgeng.in/https://ysdocs.s3.amazonaws.com/prod/NOTES/wTbO6Q/iucKOwDEQs5XlMJE9mNWoCsJ.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.15);
}

.jRCsLI:after {
	content: '';
	display: table;
	clear: both;
}

@media (min-width:768px) {
	.jRCsLI {
		max-width: 190px;
	}
}

@media (min-width:992px) {
	.jRCsLI {
		max-width: 250px;
		min-height: 0;
	}
}
.dsoWNo {
	clear: both;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media (min-width:768px) {
	.dsoWNo {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}
.dljKDL {
	display: block;
	border-left: 2px solid rgb(223, 227, 228);
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-bottom: 15px;
	padding-left: 10px;
	width: 50%;
}

@media (min-width:768px) {
	.dljKDL {
		margin-bottom: 20px;
		margin-right: 20px;
		width: auto;
	}
}

@media (min-width:992px) {
	.dljKDL {
		margin-bottom: 10px;
		max-width: 140px;
	}
}

@media (min-width:1440px) {
	.dljKDL {
		margin-bottom: 20px;
	}
}

.hcvWDF {
	display: none;
	border-left: 2px solid rgb(223, 227, 228);
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-bottom: 15px;
	padding-left: 10px;
	width: 50%;
}

@media (min-width:768px) {
	.hcvWDF {
		margin-bottom: 20px;
		margin-right: 20px;
		width: auto;
	}
}

@media (min-width:992px) {
	.hcvWDF {
		margin-bottom: 10px;
		max-width: 140px;
	}
}

@media (min-width:1440px) {
	.hcvWDF {
		margin-bottom: 20px;
	}
}
.jzEqpJ {
	color: rgb(118, 129, 135);
	font-size: 11px;
	line-height: 15px;
}

@media (min-width:768px) {
	.jzEqpJ {
		font-size: 12px;
		line-height: 20px;
	}
}

@media (min-width:992px) {
	.jzEqpJ {
		font-size: 14px;
	}
}
.jURBfU {
	color: rgb(30, 156, 159);
	font-size: 16px;
	line-height: 20px;
}

@media (min-width:768px) {
	.jURBfU {
		font-size: 16px;
		line-height: 22px;
	}
}

@media (min-width:992px) {
	.jURBfU {
		font-size: 20px;
	}
}

@media (min-width:1440px) {
	.jURBfU {
		line-height: 25px;
	}
}
.cERDkL {
	color: rgb(118, 129, 135);
	cursor: pointer;
	font-size: 10px;
	line-height: 10px;
	margin-left: 3px;
	position: absolute;
	z-index: 100;
}
.iultKI {
	color: rgb(53, 56, 58);
	font-family: Raleway;
	font-size: 22px;
	line-height: 28px;
	clear: both;
}

@media (min-width:768px) {
	.iultKI {
		font-size: 28px;
		line-height: 33px;
	}
}

@media (min-width:992px) {
	.iultKI {
		font-size: 32px;
		line-height: 37px;
		margin-bottom: 5px;
	}
}

@media (min-width:1440px) {
	.iultKI {
		font-size: 42px;
		line-height: 48px;
	}
}
.cTvRfZ {
	fill: transparent;
	stroke-width: 26;
	stroke: #B54C2C;
}
.hVRGrN {
	fill: transparent;
	stroke: rgb(223, 227, 228);
	stroke-width: 26;
	stroke-dasharray: 0 10000;
	-webkit-transition: stroke-dasharray 0.3s ease;
	transition: stroke-dasharray 0.3s ease;
}
.kyWOAd {
	margin: 0 auto;
	border-radius: 50%;
	display: block;
}
.ceTJLX {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	clear: both;
	padding: 0 0 0 15px;
	float: right;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border: 0;
	margin: 0;
	position: static;
	text-align: center;
	top: 0;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

@media (min-width:768px) {
	.ceTJLX {
		padding-left: 0;
		float: unset;
	}
}
.kKZzrH {
	color: #B54C2C;
}
.duvuxp {
	font-size: 24px;
	line-height: 28px;
}

@media (min-width:768px) {
	.duvuxp {
		font-size: 32px;
		line-height: 34px;
	}
}

@media (min-width:992px) {
	.duvuxp {
		font-size: 42px;
		line-height: 45px;
	}
}
.cWQmxH {
	font-size: 8px;
	line-height: 11px;
	text-transform: uppercase;
}

@media (min-width:768px) {
	.cWQmxH {
		margin-top: 2px;
		font-size: 12px;
		line-height: 13px;
	}
}

@media (min-width:992px) {
	.cWQmxH {
		margin-top: 4px;
	}
}
.bmZYIY {
	margin-top: 10px;
	color: rgb(118, 129, 135);
	font-size: 12px;
	line-height: 13px;
}

@media (min-width:768px) {
	.bmZYIY {
		margin-top: 9px;
		font-size: 14px;
		line-height: 15px;
	}
}

@media (min-width:992px) {
	.bmZYIY {
		margin-top: 16px;
		font-size: 16px;
		line-height: 18px;
	}
}
.gGJDHi {
	display: none;
}

@media (min-width:768px) {
	.gGJDHi {
		display: block;
		font-size: 14px;
		line-height: 20px;
		margin-top: auto;
		height: 52px;
	}
}

@media (min-width:992px) {
	.gGJDHi {
		margin-bottom: 20px;
		margin-top: 31px;
		font-size: 20px;
		height: 52px;
		line-height: 26px;
	}
}

@media (min-width:1440px) {
	.gGJDHi {
		margin-top: 20px;
	}
}
.kkMHBY {
	color: rgb(44, 181, 145);
}
.kednpY {
	color: rgb(118, 129, 135);
}

@media (min-width:992px) {
	.kednpY {
		font-size: 14px;
	}
}
.kJqRFd {
	display: block;
}

@media (min-width:768px) {
	.kJqRFd {
		display: none;
	}
}

@media (min-width:992px) {
	.kJqRFd {
		display: none;
	}
}

@media (min-width:1440px) {
	.kJqRFd {
		display: none;
	}
}

.fwAhwC {
	display: none;
}

@media (min-width:768px) {
	.fwAhwC {
		display: block;
	}
}

@media (min-width:992px) {
	.fwAhwC {
		display: none;
	}
}

@media (min-width:1440px) {
	.fwAhwC {
		display: none;
	}
}

.hNVqkq {
	display: none;
}

@media (min-width:768px) {
	.hNVqkq {
		display: none;
	}
}

@media (min-width:992px) {
	.hNVqkq {
		display: block;
	}
}

@media (min-width:1440px) {
	.hNVqkq {
		display: none;
	}
}

.cUzVuB {
	display: none;
}

@media (min-width:768px) {
	.cUzVuB {
		display: none;
	}
}

@media (min-width:992px) {
	.cUzVuB {
		display: none;
	}
}

@media (min-width:1440px) {
	.cUzVuB {
		display: block;
	}
}
.gmpsP {
	position: relative;
}
.bptdSl {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.cUGTtX {
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	min-height: 350px;
}
.imAOFj {
	font-size: 18px;
	width: 90%;
	color: rgb(82, 87, 90);
	font-family: Gotham A, Gotham B;
	line-height: 20px;
	margin-bottom: 20px;
	font-weight: 500;
}
.gJQlKE {
	font-size: 14px;
	width: 90%;
	margin: 10px auto 25px auto;
	color: rgb(82, 87, 90);
	font-family: Gotham A, Gotham B;
}
@media (min-width:768px) {
	.bMQkEO {
		width: 100px;
	}
}

@media (min-width:992px) {
	.bMQkEO {
		width: calc(100% / 5);
	}
}

@media (min-width:1200px) {
	.bMQkEO {
		width: 158px;
	}
}

.ibqjOa {
	clear: both;
	margin-top: 10px;
}

.ibqjOa>div {
	margin-top: 10px;
}

.ibqjOa>div:first-child {
	margin-top: 10px;
}
.kZzUUf {
	font-size: 14px;
	font-weight: 500;
	color: rgb(82, 87, 90);
	margin-top: 30px;
	margin-bottom: 10px;
}

.kZzUUf:first-child {
	margin-top: 20px;
}
.kOQBGu {
	font-size: 13px;
	display: block;
	position: relative;
	padding-top: 5px;
}
.bPVvy {
	padding: 9px 15px;
	height: 40px;
	min-width: 96px;
	width: 96px;
}
.dYvagt {
	white-space: nowrap;
	margin-right: 10px;
}
.lGhJn {
	-webkit-flex-shrink: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	margin-left: 10px;
	white-space: nowrap;
}
.ctETmp {
	width: 100%;
	box-sizing: content-box;
	height: 1px;
	border-bottom: 0.5px solid rgb(223, 227, 228);
}
.jyXbON {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-family: Gotham A, Gotham B;
	font-size: 13px;
	color: rgb(82, 87, 90);
	-webkit-align-items: baseline;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}
.ksbCRB {
	font-family: Gotham A, Gotham B;
	margin-bottom: 15px;
}

.ksbCRB:last-child {
	margin-bottom: 0px;
}
.cHWqGL {
	margin-right: 7px;
}

.cHWqGL:last-child {
	margin-right: 0;
}
.jNAgny {
	display: none;
	background-image: linear-gradient( to right, #333 10%, rgba(255, 255, 255, 0) 50%);
	background-position: top;
	background-size: 3px 1px;
	background-repeat: repeat-x;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 15px;
}

@media (min-width:768px) {
	.jNAgny {
		margin-bottom: 20px;
	}
}
.cRtorD {
	padding: 12px;
}
.bVZnjl {
	font-size: 16px;
	color: rgb(53, 56, 58);
	font-weight: 500;
	margin-bottom: 12px;
	line-height: 18px;
	font-family: Gotham A, Gotham B;
}

@media (min-width:768px) {
	.bVZnjl {
		margin-bottom: 10px;
	}
}
.ieKagt {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.fyVIsv {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.fatJAi {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	line-height: 1.6;
	font-family: Gotham A, Gotham B;
}

.fatJAi div {
	width: auto;
}

.fBOLIy {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	line-height: 1.6;
	font-family: Gotham A, Gotham B;
	font-size: 14px;
	font-weight: 500;
	color: rgb(44, 181, 145);
	margin-bottom: 0px;
}

.fBOLIy div {
	width: auto;
}

@media (min-width:768px) {
	.fBOLIy {
		font-size: 16px;
	}
}
.gRPRxq {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	line-height: 1.6;
	font-family: Gotham A, Gotham B;
}

@media (min-width:768px) {
	.gRPRxq {
		font-size: 16px;
	}
}

.gdVlAY {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	line-height: 1.6;
	font-family: Gotham A, Gotham B;
	font-size: 16px;
	font-weight: 500;
	color: rgb(44, 181, 145);
	margin-bottom: 0px;
}

@media (min-width:768px) {
	.gdVlAY {
		font-size: 16px;
	}
}

@media (min-width:768px) {
	.gdVlAY {
		font-size: 20px;
	}
}
.bYuSNA {
	display: block;
	font-size: 14px;
	padding: 15px 0;
	margin: 0 26px;
	color: rgb(82, 87, 90);
	border-bottom: 2px solid rgb(223, 227, 228);
}
.vwOQo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}


/* sc-component-id: Item__Title-cKLOJg */

.dbkqwm {
	margin-right: 10px;
	max-width: 65%;
	font-size: 12px;
	text-transform: uppercase;
	color: rgb(53, 56, 58);
	position: relative;
}

.dbkqwm:before {
	content: '•';
	top: -6px;
	left: -12px;
	position: absolute;
	font-size: 22px;
	color: rgb(44, 181, 145);
}

.lwEFh {
	margin-right: 10px;
	max-width: 65%;
	font-size: 12px;
	text-transform: uppercase;
	color: rgb(53, 56, 58);
	position: relative;
}
.eFfwpE {
	font-size: 11px;
	text-transform: uppercase;
	color: rgb(118, 129, 135);
}
.ghdoim {
	padding-top: 5px;
}
.ePYheE {
	line-height: 22px;
}
.kCJLWE {
	font-weight: 500;
}
.jxMeWy {
	cursor: pointer;
	color: rgb(43, 184, 192);
}
.dtzgFK {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 15px;
	border-bottom: 1px solid rgb(223, 227, 228);
}

.dtzgFK>div:last-child {
	margin-left: 14px;
}
.pjrCR {
	margin-right: auto;
	font-size: 16px;
	font-weight: 800;
	padding: 15px 0;
}

.PsOBr {
	cursor: pointer;
	position: relative;
	padding: 15px 0;
	min-width: 70px;
	text-align: center;
	font-size: 14px;
}

.dfvdLW {
	cursor: pointer;
	position: relative;
	padding: 15px 0;
	min-width: 70px;
	text-align: center;
	font-size: 14px;
}

.dfvdLW:after {
	content: '•';
	top: 5px;
	position: absolute;
	font-size: 22px;
	color: rgb(44, 181, 145);
}
.gZOyEB {
	color: rgb(44, 181, 145);
	border-bottom: 2px solid rgb(44, 181, 145);
}

.bOcZmN {
	color: rgb(118, 129, 135);
	border-bottom: 0;
}
.PCpOK {
	color: rgb(118, 129, 135);
	border-bottom: 0;
}

.boetUH {
	color: rgb(44, 181, 145);
	border-bottom: 2px solid rgb(44, 181, 145);
}
.iAALAZ {
	display: block;
	max-height: 250px;
	overflow-y: scroll;
}

.iAALAZ>div:last-child {
	border-bottom: 0;
}

@media (min-width:768px) {
	.iAALAZ {
		max-height: 518px;
	}
}
.ajWpe {
	display: none;
	max-height: 250px;
	overflow-y: scroll;
}

.ajWpe>div:last-child {
	border-bottom: 0;
}

@media (min-width:768px) {
	.ajWpe {
		max-height: 565px;
	}
}

.hCWbKF {
	display: block;
	max-height: 250px;
	overflow-y: scroll;
}

.hCWbKF>div:last-child {
	border-bottom: 0;
}

@media (min-width:768px) {
	.hCWbKF {
		max-height: 565px;
	}
}
.jmStYf {
	border-top: 2px solid rgb(223, 227, 228);
	padding: 15px 12px;
	font-size: 14px;
	color: rgb(44, 181, 145);
}
.kHLCXQ {
	margin-left: 10px;
	width: 16px;
}
.gYHaNL {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	padding: 0 20px;
}
.iNenyc {
	color: rgb(53, 56, 58);
	display: block;
	font-size: 14px;
	padding: 1px 0;
}

@media (min-width:768px) {
	.iNenyc {
		font-size: 16px;
	}
}

.gFCkKI {
	color: rgb(53, 56, 58);
	display: none;
	font-size: 14px;
	padding: 1px 0;
}

@media (min-width:768px) {
	.gFCkKI {
		font-size: 16px;
	}
}
.eiMFFC {
	color: rgb(118, 129, 135);
	font-size: 12px;
	padding: 1px 0;
	word-wrap: break-word;
}

@media (min-width:768px) {
	.eiMFFC {
		font-size: 14px;
	}
}

.gXsCkX {
	color: rgb(30, 156, 159);
	font-size: 12px;
	padding: 1px 0;
	word-wrap: break-word;
}

@media (min-width:768px) {
	.gXsCkX {
		font-size: 14px;
	}
}

.kldmKx {
	color: rgb(83, 186, 159);
	font-size: 12px;
	padding: 1px 0;
	word-wrap: break-word;
}

@media (min-width:768px) {
	.kldmKx {
		font-size: 14px;
	}
}

.iIMFyo {
	color: rgb(79, 165, 167);
	font-size: 12px;
	padding: 1px 0;
	word-wrap: break-word;
}

@media (min-width:768px) {
	.iIMFyo {
		font-size: 14px;
	}
}

.eNqPEd {
	color: rgb(94, 193, 139);
	font-size: 12px;
	padding: 1px 0;
	word-wrap: break-word;
}

@media (min-width:768px) {
	.eNqPEd {
		font-size: 14px;
	}
}
.bVSjPT {
	color: rgb(118, 129, 135);
	font-size: 16px;
	padding: 10px 5px 10px 0px;
}

@media (min-width:768px) {
	.bVSjPT {
		font-size: 20px;
		padding: 10px 10px 10px 0px;
	}
}
.eEcywa {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.gYaXdq {
	display: inline-block;
}
.iUuejq {
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 228);
	box-shadow: 0 0 4px 0 rgba(196, 200, 207, 0.25);
	margin-bottom: 15px;
}
.jsfscT {
	color: rgb(82, 87, 90);
	font-size: 16px;
	font-weight: 500;
	padding: 15px 20px;
	text-align: center;
}

@media (min-width:768px) {
	.jsfscT {
		text-align: left;
	}
}
.ilJqVW {
	display: inline;
}

@media (min-width:768px) {
	.ilJqVW {
		display: none;
	}
}
.dmWZDb {
	display: none;
	margin-left: auto;
	padding-right: 10px;
}

@media (min-width:768px) {
	.dmWZDb {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}
.kifCoU {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

@media (min-width:768px) {
	.kifCoU {
		margin-right: 0;
	}
}

.eYvdzj {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media (min-width:768px) {
	.eYvdzj {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}