<div class="Main_container_3ITgZ">
    <div class="InvestorAccountType__Wrapper-hpMNEt hJIBlq" id="investor-account-type">
       <div class="Container-gZqETv bBSfBP">
          <!-- <div class="AccountHeader__Header-dzfoXL eUFaOX">
             <div class="AccountAvatar__Container-hnDrws fGMnpS">
                <div class="AccountAvatar__Sphere-cZYEID bZWnwk"><span class="AccountAvatar__SphereText-gbhJYI jScECE">AR</span></div>
                <div class="AccountAvatar__Content-jJObCI cpMlqO">
                   <div class="AccountAvatar__Title-iRTHDV kUprSS">Manage Account<span class="AccountAvatar__CogContainer-eskLGc jMFmlD"><a class="AccountAvatar__CogLink-cJlgBb gDhyzX" ><span aria-hidden="true" class="fa fa-cog"></span></a></span></div>
                   <div class="AccountAvatar__AccountName-iYHFiC iffCbE">Arunoday Ray</div>
                </div>
             </div>
          </div> -->
          <app-manage-account-header></app-manage-account-header>
          <form (submit) = "selectedInvestor($event)">
          <div class="InvestorAccountType__Content-huxUSV iUvvEp">
             <div class="InvestorAccountType__Title-kDGOTi bSVjAq">Select Investor Account Type</div>
             <div class="InvestorAccountType__OptionContainer-cTOVYp kRMRqm">
                <div class="investor-account-type-option investor-account-type-option-individual RadioInput__OptionContent-czBJyF gdCScW">
                   <div class="RadioInput__StyledInput-kQFKpi ghVESY">
                      <label class="radio-inline customRadioLabel">
                          <input type="radio" class="RadioInput__Circle-eUFKVO bmBchR" name="optradio" (click) = "checkIfChecKed($event.target.value)">
                          <div class="RadioInput__Circle-eUFKVO cUdjyD"></div>
                           <span class="radioTitle">Another Individual</span>
                      </label>
                   </div>
                   <div class="RadioInput__OptionDescription-crpiEF PybdY  "><span>Provide a SSN to invest on behalf of someone else.</span></div>
                </div>
                <div class="investor-account-type-option investor-account-type-option-revocable RadioInput__OptionContent-czBJyF gdCScW">
                   <div class="RadioInput__StyledInput-kQFKpi ghVESY">
                      <label class="radio-inline customRadioLabel">
                          <input type="radio" class="RadioInput__Circle-eUFKVO bmBchR" name="optradio" (click) = "checkIfChecKed($event.target.value)">
                          <div class="RadioInput__Circle-eUFKVO cUdjyD"></div>
                          <span class="radioTitle">Revocable Trust</span>
                      </label>
                   </div>
                   <div class= "RadioInput__OptionDescription-crpiEF PybdY  ">Provide a SSN and a Trust Agreement to invest with your revocable trust.</div>
                </div>
                <div class="investor-account-type-option investor-account-type-option-entity RadioInput__OptionContent-czBJyF gdCScW">
                   <div class="RadioInput__StyledInput-kQFKpi ghVESY">
                      <label class="radio-inline customRadioLabel">
                          <input type="radio" class="RadioInput__Circle-eUFKVO bmBchR" name="optradio">
                          <div class="RadioInput__Circle-eUFKVO cUdjyD"></div>
                          <span class="radioTitle">Entity (i.e. LLC, Partnership, S Corp)</span>
                      </label>
                   </div>
                   <div class="RadioInput__OptionDescription-crpiEF PybdY  ">Provide an EIN to invest as a business entity.</div>
                </div>
                <div class="investor-account-type-option investor-account-type-option-selfdirected RadioInput__OptionContent-czBJyF gdCScW">
                   <div class="RadioInput__StyledInput-kQFKpi ghVESY">
                      <label class="radio-inline customRadioLabel">
                          <input type="radio" class="RadioInput__Circle-eUFKVO bmBchR" name="optradio" (click) = "checkIfChecKed($event.target.value)">
                          <div class="RadioInput__Circle-eUFKVO cUdjyD"></div>
                          <span class="radioTitle">Self-Directed IRA Account</span>
                      </label>
                   </div>
                   <div class="RadioInput__OptionDescription-crpiEF PybdY  ">Provide an EIN and an Account Opening or Verification document to invest with your self-directed IRA.</div>
                </div>
                <div class="investor-account-type-option investor-account-type-option-irrevocable RadioInput__OptionContent-czBJyF gdCScW">
                   <div class="RadioInput__StyledInput-kQFKpi ghVESY">
                      <label class="radio-inline customRadioLabel">
                          <input type="radio" class="RadioInput__Circle-eUFKVO bmBchR" name="optradio" (click) = "checkIfChecKed($event.target.value)">
                          <div class="RadioInput__Circle-eUFKVO cUdjyD"></div>
                          <span class="radioTitle">Irrevocable Trust, Checkbook IRA or Solo 401(k)</span>
                      </label>
                   </div>
                   <div class="RadioInput__OptionDescription-crpiEF PybdY  ">Provide an EIN and a Trust Agreement to invest with your irrevocable trust, solo 401(k) or checkbook IRA.</div>
                </div>
             </div>
             <div class="InvestorAccountType__ButtonContainer-hKatlb csoiKj">
               <a class="InvestorAccountType__StyledLink-eOhBGX gnjOPH" >
                <button class="PrimaryButton__ButtonPrimary-exVhhh" [disabled] = "testvalue == true" [ngClass]= "testvalue == false ? 'dkfyQQ' : 'hkmwMx'">Next</button>
              </a>
              <a class="InvestorAccountType__StyledLink-eOhBGX gnjOPH" >
                <button class="PrimaryButton__ButtonPrimary-exVhhh hPkfgc" routerLink = "/account">Cancel</button>
              </a>
            </div>
          </div>
        </form>
       </div>
    </div>
 </div>
