  <div class="Main__Container-jeBqdM gQKlCo">
     <div class="InvestorAccounts__Wrapper-sc-1xaw1zp-0 dGEGqw">
        <!-- Modal -->
        <div class="InvestorAccountModal__InvestorModal-rz3u4w-0 fIEKfQ Modal__ModalBackground-sc-1prg9d1-0 bgbVJM " *ngIf="modalBack">
          <div  class="Modal__ModalContainer-sc-1prg9d1-1 YgHVe" id="myModal" role="dialog">
              <div class="Modal__ModalHeader-sc-1prg9d1-2 bSVhQa">
                <a (click)="showModal()">
                    <img src="../../assets/ui-image/modal_close_btn.svg" class="Modal__Icon-sc-1prg9d1-4 eISWrm">
                </a>

              </div>
              <div class="Modal__ModalContent-sc-1prg9d1-3 kZXKqu">
                <div class="InvestorAccountModal__Wrapper-rz3u4w-1 hLzzSP">
                    <h2 class="InvestorAccountModal__ModalTitle-rz3u4w-2 jIJMsg">Need to create another investor account? </h2>
                    <div class="InvestorAccountModal__ModalText-rz3u4w-3 iFoYpU">
                      If one of the following is applicable, you can create another investment account:
                      <ul class="InvestorAccountModal__ListWrapper-rz3u4w-5 cQfxxn">
                          <li class="InvestorAccountModal__ListItem-rz3u4w-6 jhWbYn">You want to invest on behalf of an entity, such as an LLC or Trust.</li>
                          <li class="InvestorAccountModal__ListItem-rz3u4w-6 jhWbYn">You want to invest with a self-directed IRA or Solo 401(k) account.</li>
                          <li class="InvestorAccountModal__ListItem-rz3u4w-6 jhWbYn">You are a financial advisor and invest on behalf of others.</li>
                      </ul>
                    </div>
                    <div class="InvestorAccountModal__ButtonWrapper-rz3u4w-4 dBBxrE">
                      <button id="transfer-funds-delete-account-confirm" class="PrimaryButton__ButtonPrimary confirmButton PrimaryButton__ButtonPrimary-lm14bl-0 dzKqIi" routerLink ='/selectinvestor'>Create New Account</button><button id="transfer-funds-delete-account-cancel" class="PrimaryButton__ButtonPrimary cancelButton PrimaryButton__ButtonPrimary-lm14bl-0 bdxOfW" (click)="showModal()">Cancel</button>
                    </div>
                </div>
              </div>
          </div>
        </div>
        <div class="Navbar__InnerWrapper-jFgBlI cuaAbL Container-gZqETv dedQyW">
            <app-sidebar-navigation></app-sidebar-navigation>
           <div class="InvestorAccounts__ContentWrapper-hmDOdb eYkedC">
              <div class="AccountHeader__Header-dzfoXL eUFaOX">
                 <div class="AccountAvatar__Container-hnDrws fGMnpS">
                    <div class="AccountAvatar__Sphere-cZYEID bZWnwk"><span class="AccountAvatar__SphereText-gbhJYI jScECE">TD</span></div>
                    <div class="AccountAvatar__Content-jJObCI cpMlqO">
                       <div class="AccountAvatar__Title-iRTHDV kUprSS">Manage Account<span class="AccountAvatar__CogContainer-eskLGc jMFmlD"><a class="AccountAvatar__CogLink-cJlgBb gDhyzX" href="/profile/user"><span aria-hidden="true" class="fa fa-cog"></span></a></span></div>
                       <div class="AccountAvatar__AccountName-iYHFiC iffCbE">{{currentUser}}</div>
                    </div>
                 </div>
              </div>
              <div class="InvestorAccounts__Content-xzUNG hPFPqk">
                  <div class="alert alert-success" *ngIf="showUploadStatus">
                      <strong>Success!</strong>Upload Successful!
                      <i class="fa fa-close clickCursor" (click) = "closeUploadAlert()"></i>
                    </div>
                 <div class="InvestorAccounts__Title-kFjJyR eiwQig">Your Investor Accounts</div>
                 <div class="InvestorAccounts__StyledHeader-eKdaqk PxFFM">
                    <div class="InvestorAccounts__ItemTitle-jIZWoq eyIXqu">Name</div>
                    <div class="InvestorAccounts__ItemTitle-jIZWoq ihUoFz">Account Type</div>
                    <div class="InvestorAccounts__ItemTitle-jIZWoq hsXCls">Identity</div>
                    <div class="InvestorAccounts__ItemTitle-jIZWoq bfjtHr">Accreditation</div>
                    <div class="InvestorAccounts__ItemTitle-jIZWoq caksyX">Next Steps</div>
                 </div>
                 <app-loader *ngIf="appConfig.getLoader()"></app-loader>
                 <div *ngIf="!appConfig.getLoader()" >
                      <div class="InvestorAccountsItem__Row-jGQHOG iQwHZA"  *ngFor= "let accData of accountData">
                          <div class="InvestorAccountsItem__Item-qmFTp eAqlTR">
                              <input #accid type="hidden" id="accId" name="accId" [value] = "accData.uid">
                            <label class="InvestorAccountsItem__MobileLabel-goEcfD fLwSqC">Name</label>
                            <div class="InvestorAccountsItem__Value-eVFkKX bvDjiZ">{{accData.first_name}} {{accData.title}}</div>
                          </div>
                          <div class="InvestorAccountsItem__Item-qmFTp kexPqu">
                            <label class="InvestorAccountsItem__MobileLabel-goEcfD fLwSqC">Account Type</label>
                            <div class="InvestorAccountsItem__Value-eVFkKX cBtYdm">{{accData.account_type}}</div>
                          </div>
                          <div class="InvestorAccountsItem__Item-qmFTp UxSRi">
                            <label class="InvestorAccountsItem__MobileLabel-goEcfD fLwSqC">Identity</label>
                            <div class="InvestorAccountsItem__Value-eVFkKX fSfYgx">
                                <span class="InvestorAccounts__ValueText-gvYKBd iVgXXZ">
                                  <div><span aria-hidden="true" class="fa fa-clock-o"></span> Pending </div>
                                </span>
                            </div>
                          </div>
                          <div class="InvestorAccountsItem__Item-qmFTp eIykCj">
                            <label class="InvestorAccountsItem__MobileLabel-goEcfD fLwSqC">Accreditation</label>
                            <div class="InvestorAccountsItem__Value-eVFkKX fSfYgx">
                                <span class="InvestorAccounts__ValueText-gvYKBd eyJVWC" color="rgb(171, 180, 186)">
                                  <div><span aria-hidden="true" class="fa fa-minus"></span> {{accData.status}} </div>
                                </span>
                            </div>
                          </div>
                          <div class="InvestorAccountsItem__Item-qmFTp fUzbkT">
                            <a class="InvestorAccountsItem__StyledLinkSetUp-hOxxYE fadEfH" (click) ='uploadDocument($event)'>
                              Upload Identity Documents
                            </a>
                          </div>
                      </div>
                  </div>
                 <!-- <div class="InvestorAccounts__AddNewInvestorButton-htUWOm idVsRd" id="profile-accounts-new-account" data-toggle="modal" data-target="#myModal">+ Add New Account</div> -->
                 <div class="InvestorAccounts__AddNewInvestorButton-htUWOm idVsRd" id="profile-accounts-new-account" data-toggle="modal" data-target="#myModal" (click)="showModal()" data-backdrop="false" >+ Add New Account</div>

              </div>
           </div>
        </div>
     </div>
  </div>
