.kAIOAZ {
	text-align: justify;
	padding: 5px 30px;
	font-size: 12px;
	color: rgb(118, 129, 135);
}

@media (min-width:992px) {
	.kAIOAZ {
		grid-column: 1/span 3;
	}
}

.geFHgL p {
	text-align: justify;
	padding: 5px 30px;
	font-size: 12px;
	color: rgb(118, 129, 135);
}

.geFHgL a {
	font-size: 10px;
}

.geFHgL #footnote-read-more-2 {
	padding-top: 100px !important;
}

.geFHgL #footnote-read-more-3 {
	padding-top: 100px;
}

.clofcx {
	padding: 0 5px;
}

.gyZyXo {
	font-family: 'Gotham A', 'Gotham B';
	font-weight: 500;
	font-size: 12px;
	padding: 40px 0 10px;
}

.duevyT {
	display: block;
	text-align: left;
	padding: 20px 30px;
	font-size: 10px;
	color: rgb(118, 129, 135);
}

@media (min-width:992px) {
	.duevyT {
		grid-column: 1/span 3;
	}
}

.gQKlCo {
	padding-top: 60px;
}

@media (min-width:1200px) {
	.gQKlCo {
		padding-top: 85px;
	}
}

.fQXNhe {
	padding-top: 60px;
	background: rgb(246, 246, 246);
}

@media (min-width:1200px) {
	.fQXNhe {
		padding-top: 85px;
	}
}
.fGMnpS {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-right: auto;
}

@media (min-width:768px) {
	.fGMnpS {
		margin-right: 60px;
	}
}

@media (min-width:992px) {
	.fGMnpS {
		margin-right: 75px;
	}
}
.bZWnwk {
	background: rgb(223, 227, 228);
	border-radius: 100%;
	float: left;
	height: 40px;
	margin-left: 15px;
	text-align: center;
	width: 40px;
}

@media (min-width:992px) {
	.bZWnwk {
		height: 50px;
		margin: auto 0 5px 15px;
		width: 50px;
	}
}

.cpMlqO {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	line-height: 20px;
	margin-left: 10px;
}

@media (min-width:768px) {
	.cpMlqO {
		line-height: 19px;
	}
}

@media (min-width:992px) {
	.cpMlqO {
		line-height: 0;
	}
}
.jScECE {
	float: left;
	font-size: 16px;
	height: inherit;
	padding-top: 10px;
	width: inherit;
}

@media (min-width:768px) {
	.jScECE {
		font-size: 18px;
		padding-top: 9px;
	}
}

@media (min-width:992px) {
	.jScECE {
		font-size: 20px;
		padding-top: 12px;
	}
}

.kUprSS {
	color: rgb(118, 129, 135);
	font-size: 12px;
}

@media (min-width:768px) {
	.kUprSS {
		line-height: 17px;
	}
}

@media (min-width:992px) {
	.kUprSS {
		font-size: 14px;
		line-height: 24px;
	}
}
.iffCbE {
	color: rgb(53, 56, 58);
	font-family: Raleway, sans-serif;
	font-size: 17px;
}

@media (min-width:768px) {
	.iffCbE {
		font-size: 18px;
		line-height: 24px;
	}
}

@media (min-width:992px) {
	.iffCbE {
		font-size: 20px;
		line-height: 30px;
	}
}

.jMFmlD {
	position: absolute;
	font-size: 16px;
	padding-left: 6px;
}

@media (min-width:992px) {
	.jMFmlD {
		font-size: 20px;
	}
}

.gDhyzX {
	color: rgb(53, 56, 58);
}
.boLsGi {
	font-size: 13px;
	color: rgb(118, 129, 135);
	color: rgb(30, 156, 159);
}

.iuJceP {
	font-size: 13px;
	color: rgb(118, 129, 135);
}

.jncQVe {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	z-index: 2;
	width: 25%;
	text-align: center;
	margin-top: 10px;
}

.ctOiyt {
	width: 22px;
	height: 22px;
	margin-bottom: 5px;
	border-radius: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 400;
	font-size: 13px;
	color: rgb(118, 129, 135);
	border: solid 1px rgb(223, 227, 228);
	background-color: rgb(246, 246, 246);
	border: solid 1px rgb(30, 156, 159);
	color: rgb(30, 156, 159);
	background-color: rgb(238, 240, 240);
}

.hFWenB {
	width: 22px;
	height: 22px;
	margin-bottom: 5px;
	border-radius: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 400;
	font-size: 13px;
	color: rgb(118, 129, 135);
	border: solid 1px rgb(223, 227, 228);
	background-color: rgb(246, 246, 246);
}
.dQgiJq {
	position: absolute;
	width: 73%;
	z-index: 1;
	height: 44px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.jYObjW {
	-webkit-flex: 0;
	-ms-flex: 0;
	flex: 0;
	background-color: rgb(30, 156, 159);
	height: 2px;
}

.jyrZlk {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background-color: rgb(223, 227, 228);
	height: 2px;
}
.fqMPhP {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.hhZNft {
	width: 100%;
	margin: 20px auto 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	font-size: 14px;
}

@media (min-width:768px) {
	.hhZNft {
		width: 80%;
		margin: 0 auto;
		font-size: 16px;
	}
}
.eUFaOX {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 228);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 25px 0;
	margin: 10px 0;
}

@media (min-width:768px) {
	.eUFaOX {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}
.fLwSqC {
	color: rgb(118, 129, 135);
	font-size: 12px;
}

@media (min-width:992px) {
	.fLwSqC {
		display: none;
	}
}
.bvDjiZ {
	color: rgb(53, 56, 58);
	font-size: 14px;
	margin-top: 3px;
	font-weight: 500;
}

@media (min-width:992px) {
	.bvDjiZ {
		padding-top: 0;
	}
}

.cBtYdm {
	color: rgb(53, 56, 58);
	font-size: 14px;
	margin-top: 3px;
}

@media (min-width:992px) {
	.cBtYdm {
		padding-top: 0;
	}
}

.fSfYgx {
	color: rgb(53, 56, 58);
	font-size: 14px;
	margin-top: 3px;
	color: rgb(30, 156, 159);
}

@media (min-width:992px) {
	.fSfYgx {
		padding-top: 0;
	}
}
.invnTH {
	grid-template-rows: repeat(3, 1fr);
	-ms-grid-rows: 1fr 1fr 1fr;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid rgb(223, 227, 228);
	border-top: 1px solid rgb(223, 227, 228);
	display: grid;
	display: -ms-grid;
	grid-column-gap: 55px;
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-columns: 1fr 1fr;
	-ms-grid-column-gap: 55px;
	padding: 5px 3vw;
	margin: 10px 0;
	width: 100%;
}

@media (max-width:380px) {
	.invnTH {
		grid-column-gap: 20px;
		-ms-grid-column-gap: 20px;
		padding: 15px 1vw;
	}
}

@media (min-width:768px) {
	.invnTH {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 0;
		-ms-grid-column-gap: 0;
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr 1fr;
		border-collapse: collapse;
		margin: 0;
		padding: 10px 3vw;
	}
}

@media (min-width:992px) {
	.invnTH {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-gap: 5px;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr;
		-ms-grid-gap: 5px;
		padding: 5px 15px;
		border-top: 0;
	}
}

.invnTH:nth-child(odd) {
	background: rgb(255, 255, 255);
}

.invnTH:nth-child(even) {
	background: rgb(246, 246, 246);
}

.iQwHZA {
	grid-template-rows: repeat(3, 1fr);
	-ms-grid-rows: 1fr 1fr 1fr;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid rgb(223, 227, 228);
	border-top: 1px solid rgb(223, 227, 228);
	display: grid;
	display: -ms-grid;
	grid-column-gap: 55px;
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-columns: 1fr 1fr;
	-ms-grid-column-gap: 55px;
	padding: 5px 3vw;
	margin: 10px 0;
	width: 100%;
}

@media (max-width:380px) {
	.iQwHZA {
		grid-column-gap: 20px;
		-ms-grid-column-gap: 20px;
		padding: 15px 1vw;
	}
}

@media (min-width:768px) {
	.iQwHZA {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(6, 1fr);
		grid-column-gap: 0;
		-ms-grid-column-gap: 0;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr 1fr;
		border-collapse: collapse;
		margin: 0;
		padding: 10px 3vw;
	}
}

@media (min-width:992px) {
	.iQwHZA {
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-gap: 5px;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr;
		-ms-grid-gap: 5px;
		padding: 5px 15px;
		border-top: 0;
	}
}

.iQwHZA:nth-child(odd) {
	background: rgb(255, 255, 255);
}

.iQwHZA:nth-child(even) {
	background: rgb(246, 246, 246);
}

.eAqlTR {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	white-space: nowrap;
}

@media (max-width:380px) {
	.eAqlTR {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.eAqlTR {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.eAqlTR {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.eAqlTR {
		grid-column-start: 1;
		grid-column-end: 3;
		width: unset;
		white-space: normal;
	}
}

.kexPqu {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	margin: 0 0 0 auto;
	padding: 5px 20px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	-ms-grid-row: 2;
	-ms-grid-row-span: 2;
}

@media (max-width:380px) {
	.kexPqu {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.kexPqu {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.kexPqu {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.kexPqu {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 2;
		-ms-grid-column: 3;
		-ms-grid-row: 1;
	}
}

@media (min-width:992px) {
	.kexPqu {
		grid-column-start: 3;
		grid-column-end: 5;
	}
}

.UxSRi {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	margin: 0 auto 0 0;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	-ms-grid-column: 2;
	-ms-grid-column-span: 2;
	-ms-grid-row: 2;
	-ms-grid-row-span: 3;
	padding: 5px 20px 0 5px;
}

@media (max-width:380px) {
	.UxSRi {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.UxSRi {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.UxSRi {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.UxSRi {
		margin: 0;
		grid-column-start: 1;
		-ms-grid-column: 1;
	}
}

@media (min-width:992px) {
	.UxSRi {
		grid-column-start: 5;
		grid-column-end: 7;
		grid-row-start: 1;
		grid-row-end: 2;
		-ms-grid-column: 5;
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
	}
}

.hAVZVZ {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	padding: 5px 20px 0 5px;
	margin: 0 auto 0 0;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	-ms-grid-column: 2;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	padding: 0 !important;
}

@media (max-width:380px) {
	.hAVZVZ {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.hAVZVZ {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.hAVZVZ {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.hAVZVZ {
		margin: 0;
		width: 100%;
		grid-row-start: 2;
		grid-row-end: 3;
		-ms-grid-row: 2;
		grid-column-start: 3;
		grid-column-end: 5;
		-ms-grid-column: 3;
	}
}

@media (min-width:992px) {
	.hAVZVZ {
		grid-column-start: 7;
		grid-column-end: 9;
		grid-row-start: 1;
		grid-row-end: 2;
		-ms-grid-column: 7;
		-ms-grid-row: 1;
	}
}

.eIykCj {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	-ms-grid-row: 3;
	-ms-grid-row-span: 2;
}

@media (max-width:380px) {
	.eIykCj {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.eIykCj {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.eIykCj {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.eIykCj {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 3;
		-ms-grid-column: 3;
		-ms-grid-row: 2;
	}
}

@media (min-width:992px) {
	.eIykCj {
		grid-column-start: 7;
		grid-column-end: 9;
		grid-row-start: 1;
		grid-row-end: 2;
		-ms-grid-column: 7;
		-ms-grid-row: 1;
	}
}

.fUzbkT {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	padding: 5px 20px 0 5px;
	margin: 0 auto 0 0;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	-ms-grid-column: 2;
	-ms-grid-column-span: 2;
	-ms-grid-row: 3;
	-ms-grid-row-span: 2;
	padding: 0 !important;
}

@media (max-width:380px) {
	.fUzbkT {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.fUzbkT {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.fUzbkT {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.fUzbkT {
		margin: 0;
		width: 100%;
		grid-row-start: 2;
		grid-row-end: 3;
		-ms-grid-row: 2;
		grid-column-start: 5;
		grid-column-end: 7;
		-ms-grid-column: 5;
	}
}

@media (min-width:992px) {
	.fUzbkT {
		grid-column-start: 9;
		grid-column-end: 11;
		grid-row-start: 1;
		grid-row-end: 2;
		-ms-grid-column: 9;
		-ms-grid-row: 1;
	}
}
.fadEfH {
	color: rgb(43, 184, 192);
	font-size: 14px;
	line-height: 24px;
}

.fadEfH:hover {
	color: rgb(30, 156, 159);
}

.kmqWFo {
	background: rgb(246, 246, 246);
	font-family: Gotham A, Gotham B;
	width: 100%;
}

.diVxBw {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 228);
	padding: 25px 3vw;
	margin: 10px 0;
}

@media (min-width:768px) {
	.diVxBw {
		padding-bottom: 5vw;
	}
}

.lgSQGw {
	display: block;
}

@media (min-width:768px) {
	.lgSQGw {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}

.kaIhwm {
	color: rgb(53, 56, 58);
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 10px;
	margin-right: auto;
}

@media (min-width:768px) {
	.kaIhwm {
		font-size: 26px;
	}
}

@media (min-width:992px) {
	.kaIhwm {
		font-size: 28px;
	}
}

.hUQEze {
	color: rgb(53, 56, 58);
	font-size: 20px;
	line-height: 30px;
    margin-top: 20px;
    font-weight: bold;
}

@media (min-width:992px) {
	.hUQEze {
		font-size: 18px;
	}
}

.hvSjDn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0 2vw;
}

@media (min-width:768px) {
	.jpzIMq {
		padding: 17px 20px 0 0;
		min-width: 200px;
	}
}

.jwCFol {
	color: rgb(53, 56, 58);
	font-size: 14px;
	font-family: Gotham A, Gotham B;
	vertical-align: top;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	-webkit-flex-shrink: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
}

.jwCFol:hover {
	cursor: pointer;
}

.jwCFol.error-required {
	color: rgb(208, 2, 27);
}
.bbAOYl {
	position: relative;
	border: 1px solid rgb(171, 180, 186);
	box-shadow: inset 0 0 3px 0 rgba(55, 62, 65, 0.13);
	border-radius: 1px;
	height: 18px;
	width: 18px;
	display: inline-block;
	margin-left: -18px;
	z-index: 2;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.bbAOYl img {
	display: block;
	margin: 4px 0 0 2px;
}

.bbAOYl.error-required {
	border: 1px solid rgb(208, 2, 27);
}

.iacNie {
	display: inline-block;
	margin: 0;
	width: 18px;
	height: 18px;
	vertical-align: baseline;
	visibility: hidden;
	position: relative;
	z-index: 1;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.iacNie:checked+.Checkbox__CheckBoxFake-kBKnnk {
	background: rgb(43, 184, 192);
	border: 1px solid rgb(30, 156, 159);
	box-shadow: inset 0 0 3px 0 rgba(55, 62, 65, 0.13);
	border-radius: 1px;
}

.fcFsSP {
	display: inline-block;
	line-height: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@media (max-width:380px) {
	.gaNxVn {
		margin: 15px 0 0 5px;
	}
}
.vUFBx {
	font-size: 14px;
	cursor: pointer;
	color: rgb(30, 156, 159);
}


.jXneMq {
	position: relative;
}

.jXneMq:after {
	font-family: FontAwesome;
	content: '\f069';
	position: absolute;
	font-size: 7px;
	color: rgb(208, 2, 27);
	bottom: 5px;
}
.ggxiTK {
	color: black;
}
.kfCuDE {
	color: rgb(118, 129, 135);
	font-size: 14px;
	line-height: 18px;
	margin: 10px 0 15px;
}

@media (min-width:768px) {
	.kfCuDE {
		margin: 10px 0 25px;
		text-align: center;
	}
}

@media (min-width:992px) {
	.kfCuDE {
		margin: 10px 0 30px;
		font-size: 15px;
	}
}


/* sc-component-id: ExternalBanks__ButtonContainer-djYdki */

.gULRxs {
	text-align: center;
}


/* sc-component-id: ExternalBanks__StyledButton-hiBpNJ */

.dYGjny {
	width: 100%;
}

@media (min-width:768px) {
	.dYGjny {
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
	}
}


/* sc-component-id: ExternalBanks__Flex-iAohPz */

.hYSgVD {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.dqRJFI {
	width: 50%;
	color: rgb(118, 129, 135);
	font-size: 12px;
}

@media (min-width:768px) {
	.dqRJFI {
		-webkit-flex: 0 1 250px;
		-ms-flex: 0 1 250px;
		flex: 0 1 250px;
		margin-right: 10px;
	}
}

.deJnZy {
	width: 50%;
	color: rgb(82, 87, 90);
	font-size: 14px;
	padding-bottom: 14px;
}

@media (min-width:768px) {
	.deJnZy {
		-webkit-flex: 0 1 250px;
		-ms-flex: 0 1 250px;
		flex: 0 1 250px;
		margin-right: 10px;
	}
}

.deJnZy>a {
	color: rgb(82, 87, 90);
}

@media (min-width:768px) {
	.deJnZy {
		padding-bottom: 0;
	}
}

.fDDRaZ {
	width: 50%;
	color: rgb(82, 87, 90);
	font-size: 14px;
	padding-bottom: 14px;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-bottom: 0;
	font-style: italic;
	font-size: 12px;
	color: rgb(229, 207, 10);
	width: 100%;
	line-height: 1.6em;
}

@media (min-width:768px) {
	.fDDRaZ {
		-webkit-flex: 0 1 250px;
		-ms-flex: 0 1 250px;
		flex: 0 1 250px;
		margin-right: 10px;
	}
}

.fDDRaZ>a {
	color: rgb(82, 87, 90);
}

@media (min-width:768px) {
	.fDDRaZ {
		padding-bottom: 0;
	}
}

.fDDRaZ>a {
	color: rgb(229, 207, 10);
}

@media (min-width:768px) {
	.fDDRaZ {
		padding-top: 10px;
		text-align: center;
		text-align: left;
		padding-top: 0;
	}
}

.layPgH {
	width: 50%;
	color: rgb(82, 87, 90);
	font-size: 14px;
	padding-bottom: 14px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: right;
	font-size: 18px;
}

@media (min-width:768px) {
	.layPgH {
		-webkit-flex: 0 1 250px;
		-ms-flex: 0 1 250px;
		flex: 0 1 250px;
		margin-right: 10px;
	}
}

.layPgH>a {
	color: rgb(82, 87, 90);
}

@media (min-width:768px) {
	.layPgH {
		padding-bottom: 0;
	}
}

@media (min-width:768px) {
	.layPgH {
		text-align: left;
		font-size: 14px;
	}
}

.ekvVIp {
	display: none;
}

@media (min-width:768px) {
	.ekvVIp {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		border-bottom: 1px solid rgb(223, 227, 228);
		padding: 8px 10px;
	}
}

.fuaHUE {
	display: block;
	padding: 16px 20px;
	background: rgb(246, 246, 246);
}

@media (min-width:768px) {
	.fuaHUE {
		padding: 8px 12px;
	}
}
.cLcbAS {
	font-size: 11px;
	color: rgb(118, 129, 135);
	padding-bottom: 4px;
}
.jclplD {
	-webkit-flex: 0 1 30px;
	-ms-flex: 0 1 30px;
	flex: 0 1 30px;
	padding: 3px 5px;
	cursor: pointer;
}

.jclplD:last-child {
	margin-right: 0;
}

@media (min-width:768px) {
	.jclplD {
		padding-top: 2px;
	}
}

.jEmhMz {
	padding-bottom: 5px;
}
.kqfSUF {
	display: inline-block;
	padding-top: 9px;
	color: rgb(43, 184, 192);
	cursor: pointer;
	font-size: 14px;
}

.kqfSUF:hover {
	color: rgb(30, 156, 159);
}
.dlinaM {
	font-size: 13px;
	display: block;
	position: relative;
	padding-top: 5px;
}
.hblarO {
	top: 44px;
	min-width: 100%;
	font-size: 13px;
	border: 1px solid rgb(223, 227, 228);
	background: rgb(255, 255, 255);
	position: absolute;
	z-index: 10;
}

@media (min-width:768px) {
	.hblarO {
		right: auto;
	}
}

@media (min-width:992px) {
	.hblarO {
		top: 44px;
	}
	.hblarO:before,
	.hblarO:after {
		left: 5%;
		content: none;
		bottom: 100%;
		border: solid transparent;
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	.hblarO:after {
		margin-left: -6px;
		border-color: rgba(136, 183, 213, 0);
		border-bottom-color: rgb(255, 255, 255);
		border-width: 6px;
	}
	.hblarO:before {
		margin-left: -7px;
		border-color: rgba(194, 225, 245, 0);
		border-bottom-color: rgb(171, 180, 186);
		border-width: 7px;
	}
}

.hblarO.tooltip-container {
	top: 91px !important;
	border-top: 0 !important;
}
.cHcTyT {
	color: rgb(53, 56, 58);
	cursor: pointer;
	border-bottom: 1px solid rgb(238, 240, 240);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 12px;
}

.cHcTyT:last-of-type {
	border-bottom: none;
}

.cHcTyT.selected {
	color: black;
	font-weight: 500;
}

.cHcTyT.option-container {
	padding: 15px 12px !important;
	width: 96%;
	margin: 0 auto;
}

.cHcTyT.option-container.selected {
	display: none;
}

.cHcTyT.option-container:not(.selected) {
	border-top: 1px solid rgb(238, 240, 240);
}

.cHcTyT.option-container:last-child {
	padding: 15px 12px 20px !important;
}
.bUyBkE {
	display: inline-block;
}

.bUyBkE.dropdown-option {
	color: rgb(30, 156, 159);
	font-size: 15px;
}
.bkTGAH {
	color: rgb(53, 56, 58);
	border: 1px solid rgb(223, 227, 228);
	padding: 12px;
	min-width: 250px;
	display: block;
	cursor: pointer;
	height: 40px;
	background: rgb(255, 255, 255);
}

@media (min-width:768px) {
	.bkTGAH {
		width: auto;
	}
}

@media (min-width:992px) {
	.bkTGAH {
		width: auto;
	}
}

.bkTGAH .active {
	width: 96%;
}

.ilTLWk {
	color: rgb(53, 56, 58);
	border: 1px solid rgb(223, 227, 228);
	padding: 12px;
	min-width: auto;
	display: block;
	cursor: pointer;
	height: 40px;
	background: rgb(255, 255, 255);
}

@media (min-width:768px) {
	.ilTLWk {
		width: 200px;
	}
}

@media (min-width:992px) {
	.ilTLWk {
		width: 220px;
	}
}

.ilTLWk .active {
	width: 96%;
}

.eguRTf {
	border: none;
	padding: 0 10px 0 0;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.eguRTf.active-option {
	color: rgb(30, 156, 159);
	display: block;
	font-size: 15px;
	margin: 0 auto;
	padding: 0px 12px !important;
	width: 96%;
}

.ikGzXA {
	left: auto;
	right: 10px;
	position: absolute;
}

.ikGzXA.dropdown-icon {
	font-size: 18px;
	margin: -15px 0;
}
.eyIXqu {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 1;
	grid-column-end: 3;
	-ms-grid-column: 1;
}

.ihUoFz {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 3;
	grid-column-end: 5;
	-ms-grid-column: 3;
}

.hsXCls {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 5;
	grid-column-end: 7;
	-ms-grid-column: 5;
}

.bocQDz {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 7;
	grid-column-end: 9;
	-ms-grid-column: 7;
}

@media (min-width:992px) {
	.bocQDz {
		text-align: left;
	}
}

.bfjtHr {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 7;
	grid-column-end: 9;
	-ms-grid-column: 7;
}

.caksyX {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 9;
	grid-column-end: 11;
	-ms-grid-column: 9;
}

@media (min-width:992px) {
	.caksyX {
		text-align: left;
	}
}

.iVgXXZ {
	color: rgb(208, 2, 27);
}

.eyJVWC {
	color: rgb(171, 180, 186);
}

.idVsRd {
	cursor: pointer;
	color: rgb(43, 184, 192);
	font-size: 14px;
	margin-top: 20px;
}
.dafSbU {
	font-size: 14px;
	font-family: Gotham A, Gotham B;
	margin-bottom: 20px;
}


.ePQAqy>input {
	width: 100%;
	font-size: 14px;
	font-family: Gotham A, Gotham B;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(171, 180, 186);
	box-shadow: inset 0 0 3px 0 rgba(55, 62, 65, 0.13);
	border-radius: 1px;
	text-align: left;
	color: rgb(53, 56, 58);
	line-height: 24px;
	height: 40px;
	padding: 0 10px;
	outline: none;
}

.ePQAqy>input:focus {
	border: 1px solid rgb(107, 197, 199);
}

.ePQAqy>input:disabled {
	background: rgb(246, 246, 246);
	border: 1px solid rgb(223, 227, 228);
	color: rgb(171, 180, 186);
}

.ePQAqy>input:placeholder {
	color: rgb(171, 180, 186);
}

.kzXpab>input {
	font-size: 14px;
	font-family: Gotham A, Gotham B;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(171, 180, 186);
	box-shadow: inset 0 0 3px 0 rgba(55, 62, 65, 0.13);
	border-radius: 1px;
	text-align: left;
	color: rgb(53, 56, 58);
	line-height: 24px;
	height: 40px;
	padding: 0 10px;
	outline: none;
}

.kzXpab>input:focus {
	border: 1px solid rgb(107, 197, 199);
}

.kzXpab>input:disabled {
	background: rgb(246, 246, 246);
	border: 1px solid rgb(223, 227, 228);
	color: rgb(171, 180, 186);
}

.kzXpab>input:placeholder {
	color: rgb(171, 180, 186);
}

.lnRsmH {
	font-size: 14px;
	color: rgb(53, 56, 58);
	line-height: 24px;
	display: block;
}
.liIyqT {
	color: rgb(229, 207, 10);
	position: relative;
	margin: 10px 0;
	padding: 10px 30px 10px 40px;
	border: 1px solid rgb(229, 207, 10);
	border-radius: 2px;
	background-color: #ffffff;
	font-size: 14px;
	line-height: 20px;
}

.liIyqT:before {
	content: '\f071';
	font-family: 'FontAwesome';
	position: absolute;
	font-size: 18px;
	left: 10px;
	line-height: 20px;
}

.dhZfLV:before {
	content: '\f00d';
	font-family: 'FontAwesome';
	position: absolute;
	right: 10px;
	top: 10px;
	line-height: inherit;
	color: rgb(82, 87, 90);
	cursor: pointer;
}

.dXnOsU {
	background-color: rgb(255, 255, 255);
	border: solid 1px rgb(238, 240, 240);
	padding: 13px 15px;
	font-size: 14px;
	line-height: 24px;
	color: rgb(53, 56, 58);
}

@media (min-width:768px) {
	.dXnOsU {
		margin-top: 15px;
	}
}

.eSUXdI {
	font-weight: 800;
}

@media (min-width:768px) {
	.eUwLUL {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}

.eCnNvs {
	margin-top: 15px;
}

@media (min-width:768px) {
	.eCnNvs {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		margin-top: 0;
	}
	.eCnNvs:last-child {
		margin-top: auto;
		text-align: right;
	}
}

.eCnNvs input {
	border-radius: 1px;
	box-shadow: inset 0 0 3px 0 rgba(55, 62, 65, 0.13);
	background-color: rgb(255, 255, 255);
	border: rgb(223, 227, 228);
	width: 55px;
	line-height: 40px;
	padding: 0 24px 0 11px;
	margin-left: 7px;
	font-size: 14px;
	font-family: Gotham A, Gotham B;
}


@media (min-width:768px) {
	.eZKCJP {
		max-width: 205px;
	}
}

.jLDyoU {
	background: rgba(0, 0, 0, 0.8);
}

.jLDyoU>div {
	background: rgb(223, 227, 228);
}
.fZBjiA {
	color: rgb(53, 56, 58);
}

@media (min-width:768px) {
	.fZBjiA {
		padding: 0 30px;
	}
}

.dwhnVN {
	font-family: Raleway;
	font-size: 24px;
	font-weight: normal;
	line-height: 1.25;
}

.dyySvM {
	margin: 12px 0 80px 0;
	padding-right: 3em;
	font-size: 14px;
	line-height: 1.71;
}

.bPrueA {
	margin: 20px 0;
}

.bPrueA>button {
	margin-bottom: 15px;
}

@media (min-width:768px) {
	.bPrueA {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.bPrueA>button {
		width: auto;
		margin-right: 15px;
	}
	.bPrueA>.cancelButton {
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}
	.bPrueA>.confirmButton {
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
	}
}
.jjVZyg {
	margin-top: 20px;
	border-color: rgb(223, 227, 228);
	border-width: 1px 1px 0 1px;
	border-style: solid;
}

@media (min-width:768px) {
	.jjVZyg {
		border: 1px solid rgb(223, 227, 228);
		border-bottom: 0;
	}
}


.czxaQn {
	display: none;
}

@media (min-width:768px) {
	.czxaQn {
		display: block;
		border-bottom: 1px solid rgb(223, 227, 228);
	}
}

.dgMcWP {
	display: block;
	border-bottom: 1px solid rgb(223, 227, 228);
}

@media (min-width:768px) {
	.dgMcWP {
		display: none;
	}
}

.kPUQpi {
	color: rgb(53, 56, 58);
	font-size: 15px;
	line-height: 20px;
	margin-top: 15px;
}

@media (min-width:768px) {
	.kPUQpi {
		margin-top: 30px;
		text-align: center;
	}
}

@media (min-width:992px) {
	.kPUQpi {
		font-size: 17px;
	}
}