.InvestmentPhilosophyContainer_container_1Nxz6{
    padding:0;
    overflow-x:hidden
}
.InvestmentPhilosophyContainer_content_Qkdmg{
    margin-top:70px;
    color:rgba(82, 87, 90, 1);
    font-size:14px;
    line-height:24px
}
@media(min-width:768px){
    .InvestmentPhilosophyContainer_container_1Nxz6{
        padding:0;
        overflow-x:hidden
    }
    .InvestmentPhilosophyContainer_content_Qkdmg{
        margin-top:85px
    }
    .InvestmentPhilosophyContainer_content_Qkdmg h2{
        font-size:28px;
        line-height:45px
    }
    .InvestmentPhilosophyContainer_content_Qkdmg h2+p{
        font-size:20px;
        line-height:30px
    }
}
@media(min-width:992px){
    .InvestmentPhilosophyContainer_container_1Nxz6{
        padding:0;
        overflow-x:hidden
    }
}
@media(min-width:1440px){
    .InvestmentPhilosophyContainer_container_1Nxz6{
        padding:0;
        max-width:100%!important;
        margin:0 auto
    }
}
.FivePointsItem_listItem_3YvCY{
    position:relative;
    text-align:center
}
.FivePointsItem_image_36PMG{
    padding:0 5px;
    width:60px;
    background:#fff
}
.FivePointsItem_label_29TTP{
    width:60px;
    margin-top:10px;
    font-size:10px;
    line-height:14px
}
@media(min-width:768px){
    .FivePointsItem_image_36PMG{
        width:85px
    }
    .FivePointsItem_label_29TTP{
        width:130px;
        margin-top:15px;
        font-size:10px;
        line-height:14px
    }
}
@media(min-width:992px){
    .FivePointsItem_image_36PMG{
        width:145px
    }
    .FivePointsItem_label_29TTP{
        width:200px;
        font-size:20px;
        line-height:30px
    }
}
.FivePoints_list_XogTT{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:distribute;
    justify-content:space-around;
    max-width:1300px;
    margin:50px auto 0;
    position:relative
}
.FivePoints_list_XogTT:before{
    position:absolute;
    top:26px;
    left:0;
    width:100%;
    display:block;
    border-top:1px solid rgba(43, 184, 192, 1);
    content:""
}
@media(min-width:768px){
    .FivePoints_list_XogTT:before{
        top:37px
    }
}
@media(min-width:992px){
    .FivePoints_list_XogTT{
        margin-top:70px
    }
    .FivePoints_list_XogTT:before{
        top:65px
    }
}
@media(min-width:1440px){
    .FivePoints_list_XogTT{
        max-width:1440px
    }
}
.SmallHeading_centered_3qkls{
    text-align:center
}
.SmallHeading_title_2nIxI{
    font-size:18px;
    font-family:Raleway;
    font-weight:400;
    overflow:hidden
}
.SmallHeading_bar_3tbpc{
    display:inline-block;
    width:100px;
    height:0;
    border-bottom:2px solid rgba(223, 227, 228, 1);
    margin-top:30px;
    margin-bottom:60px
}
@media (min-width:768px){
    .SmallHeading_bar_3tbpc{
        margin:30px 0 60px
    }
    .SmallHeading_title_2nIxI{
        font-size:32px;
        line-height:55px
    }
}
.ExpertlyVettedPoint_pointItem_1u9HI{
    position:relative;
    padding-right:20px
}
.ExpertlyVettedPoint_pointItem_1u9HI:before{
    content:"";
    position:absolute;
    top:90px;
    bottom:10px;
    left:40px;
    border-left:1px solid rgba(171, 180, 186, 1)
}
.ExpertlyVettedPoint_pointItem_1u9HI:last-child:before{
    -webkit-border-image:-webkit-gradient(linear,left top,left bottom,from(rgba(171, 180, 186, 1)),to(transparent)) 1 100%;
    -webkit-border-image:-webkit-linear-gradient(top,rgba(171, 180, 186, 1),transparent) 1 100%;
    -o-border-image:-o-linear-gradient(top,rgba(171, 180, 186, 1),transparent) 1 100%;
    border-image:-webkit-gradient(linear,left top,left bottom,from(rgba(171, 180, 186, 1)),to(transparent)) 1 100%;
    border-image:linear-gradient(180deg,rgba(171, 180, 186, 1),transparent) 1 100%
}
.ExpertlyVettedPoint_pointItem_1u9HI img{
    position:absolute;
    width:80px;
    top:0;
    left:0;
    padding-bottom:10px
}
.ExpertlyVettedPoint_pointItem_1u9HI dl{
    padding-left:100px
}
.ExpertlyVettedPoint_pointItem_1u9HI dt{
    color:rgba(30, 156, 159, 1);
    font-size:20px
}
.ExpertlyVettedPoint_pointItem_1u9HI dd{
    padding:20px 0 120px;
    font-weight:300
}
.ExpertlyVettedPoint_pointTitle_2iOH4{
    font-family:Raleway
}
@media(min-width:768px){
    .ExpertlyVettedPoint_pointItem_1u9HI{
        padding-right:0
    }
    .ExpertlyVettedPoint_pointItem_1u9HI dd{
        max-width:500px
    }
}
@media(min-width:992px){
    .ExpertlyVettedPoint_pointItem_1u9HI{
        padding-right:0
    }
    .ExpertlyVettedPoint_pointItem_1u9HI dl{
        padding-left:130px
    }
    .ExpertlyVettedPoint_pointItem_1u9HI dt{
        font-size:24px;
        line-height:36px
    }
    .ExpertlyVettedPoint_pointItem_1u9HI dd{
        font-size:16px;
        line-height:28px;
        max-width:unset
    }
    .ExpertlyVettedPoint_pointItem_1u9HI img{
        width:100px;
        padding-bottom:10px
    }
    .ExpertlyVettedPoint_pointItem_1u9HI:before{
        top:110px;
        bottom:10px;
        left:50px
    }
}
.SupLink_SupLink_3fVSr{
    color:inherit;
    text-decoration:none;
    font-size:50%;
    top:-1.2em;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
.ExpertlyVetted_container_33dK1{
    padding:50px 15vw 15px;
    margin:65px -5vw 15px;
    background:-webkit-linear-gradient(314.41deg,#f8f9f9,rgba(228,241,248,.27));
    background:-o-linear-gradient(314.41deg,#f8f9f9 0,rgba(228,241,248,.27) 100%);
    background:linear-gradient(135.59deg,#f8f9f9,rgba(228,241,248,.27))
}
.ExpertlyVetted_left_30Crp h5{
    font-size:24px;
    line-height:34px;
    color:rgba(44, 181, 145, 1);
    font-family:Raleway,sans-serif
}
.ExpertlyVetted_left_30Crp p{
    font-size:14px;
    line-height:24px;
    font-weight:300
}
.ExpertlyVetted_right_245Oo{
    margin-top:50px;
    padding-top:10px;
    position:relative
}
.ExpertlyVetted_right_245Oo:before{
    content:"";
    position:absolute;
    top:-40px;
    bottom:100%;
    left:40px;
    border-width:0 0 0 1px;
    border-style:solid;
    -webkit-border-image:-webkit-gradient(linear,left bottom,left top,from(rgba(171, 180, 186, 1)),to(transparent)) 1 100%;
    -webkit-border-image:-webkit-linear-gradient(bottom,rgba(171, 180, 186, 1),transparent) 1 100%;
    -o-border-image:-o-linear-gradient(bottom,rgba(171, 180, 186, 1),transparent) 1 100%;
    border-image:-webkit-gradient(linear,left bottom,left top,from(rgba(171, 180, 186, 1)),to(transparent)) 1 100%;
    border-image:linear-gradient(0deg,rgba(171, 180, 186, 1),transparent) 1 100%
}
@media(min-width:768px){
    .ExpertlyVetted_headingDescription_1N1-g{
        max-width:500px
    }
    .ExpertlyVetted_container_33dK1{
        padding:50px 23vw 15px
    }
    .ExpertlyVetted_right_245Oo{
        margin-top:110px
    }
}
@media(min-width:992px){
    .ExpertlyVetted_container_33dK1{
        display:-ms-flexbox;
        display:flex;
        margin-top:175px;
        margin-bottom:100px;
        padding:100px 15vw 15px
    }
    .ExpertlyVetted_headingDescription_1N1-g{
        max-width:unset
    }
    .ExpertlyVetted_left_30Crp{
        padding-right:10%;
        margin-top:150px
    }
    .ExpertlyVetted_left_30Crp h5{
        font-size:32px;
        line-height:41px
    }
    .ExpertlyVetted_left_30Crp p{
        font-size:20px;
        line-height:30px;
        margin-right:30%
    }
    .ExpertlyVetted_right_245Oo{
        margin-top:50px
    }
    .ExpertlyVetted_right_245Oo:before{
        left:50px
    }
}
.IRRLead2_container_3ZDOz{
    text-align:center;
    margin-top:0
}
.IRRLead2_container_3ZDOz button{
    margin:0 0 110px
}
@media(min-width:768px){
    .IRRLead2_container_3ZDOz{
        margin-top:160px
    }
}
@media(min-width:992px){
    .IRRLead2_container_3ZDOz{
        margin-top:0
    }
    .IRRLead2_container_3ZDOz h2{
        font-size:28px;
        line-height:38px
    }
    .IRRLead2_container_3ZDOz p{
        font-size:20px;
        line-height:24px
    }
}
@media print {
    #habla_beta_container_do_not_rely_on_div_classes_or_names {
        display: none !important
    }
}
.olark-key,#hbl_code,#olark-data{
    display: none !important;
}
iframe#_hjRemoteVarsFrame {
    display: none !important;
     width: 1px !important;
     height: 1px !important;
     opacity: 0 !important;
     pointer-events: none !important;
}
.WhyYSCTA_background_3r56K{
    overflow:hidden;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:center;
    justify-content:center;
    margin:0 0 200px
}
.WhyYSCTA_container_3oOkK{
    text-align:center
}
.WhyYSCTA_ctaHeader_3t3ji{
    color:rgba(30, 156, 159, 1);
    font-size:24px;
    font-family:Raleway,sans-serif;
    font-weight:400;
    text-align:center;
    margin:0 0 50px;
    padding:0 15px
}
.SignupSteps_item_37V0K{
    padding:25px 0
}
.SignupSteps_number_2X_0J{
    color:rgba(30, 156, 159, 1);
    font-size:18px;
    line-height:40px;
    margin-bottom:-15px;
    padding-top:10px
}
.SignupSteps_title_1DkF5{
    margin-top:10px;
    color:rgba(30, 156, 159, 1);
    font-size:24px;
    padding:5px 30px
}
.SignupSteps_desc_3pNqI{
    color:rgba(82, 87, 90, 1);
    font-size:14px;
    line-height:19px;
    padding:0 30px
}
.SignupSteps_item_37V0K img{
    height:250px;
    width:250px;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    -ms-interpolation-mode:nearest-neighbor
}
@media (max-width:380px){
    .SignupSteps_item_37V0K img{
        height:auto;
        width:100%
    }
}
@media (min-width:768px){
    .SignupSteps_item_37V0K img{
        height:250px;
        width:250px
    }
}
@media (min-width:992px){
    .SignupSteps_number_2X_0J{
        padding-top:0
    }
    .SignupSteps_item_37V0K{
        width:33%
    }
    .SignupSteps_item_37V0K img{
        height:250px;
        width:250px
    }
}
.RaisedBox_container_2F7uJ{
    padding:40px
}
.RaisedBox_container_2F7uJ,.RaisedBox_noPaddingContainer_1Cn_1{
    background:#fff;
    width:90%;
    max-width:1140px;
    margin:30px auto;
    text-align:center;
    -webkit-box-shadow:rgba(53,56,58,.1) 0 0 19px 0;
    box-shadow:0 0 19px 0 rgba(53,56,58,.1)
}
.RaisedBox_noPaddingContainer_1Cn_1{
    padding:0!important
}
.RaisedBox_noBoxShadow_2C-xs{
    -webkit-box-shadow:none;
    box-shadow:none;
    border-top:.5px solid #eef0f0
}
.RaisedBox_fadingBase_2Ii6q{
    -webkit-box-shadow:0 -12px 17px 0 rgba(60,63,65,.07);
    box-shadow:0 -12px 17px 0 rgba(60,63,65,.07)
}
.RaisedBox_leftAligned_38l-Z{
    text-align:left
}
@media (min-width:768px){
    .RaisedBox_content_1W8UY{
        margin:0 auto;
        text-align:center;
        max-width:500px
    }
    .RaisedBox_nonCenteredContent_1TI61{
        margin:0;
        text-align:center;
        max-width:500px
    }
    .RaisedBox_maxWidth_3Q1x-{
        max-width:none
    }
    .RaisedBox_leftAligned_38l-Z{
        text-align:left
    }
}
@media (min-width:992px){
    .RaisedBox_container_2F7uJ{
        padding:40px 0
    }
    .RaisedBox_content_1W8UY{
        max-width:900px
    }
    .RaisedBox_maxWidth_3Q1x-{
        max-width:1140px
    }
    .RaisedBox_leftAligned_38l-Z{
        text-align:left
    }
}
.InvestEasy_background_vjCiz{
    background-image:url('../../assets/portfolio/easyInvestingBackgroundMobile@2x.616221fe.png');
    background-repeat:no-repeat;
    background-size:cover;
    overflow:hidden;
    background-position-y:-70px;
    margin-top:75px
}
.InvestEasy_container_toqXS{
    padding:30px 5vw
}
.InvestEasy_lines_2WLOo{
    margin-left:-50px;
    margin-bottom:35px
}
.InvestEasy_typesContainer_3rWuL{
    text-align:center
}
.InvestEasy_sectionTitle_2Rja0{
    color:#1e9c9f;
    font-family:Raleway,sans-serif;
    font-size:32px;
    line-height:41px;
    font-weight:400;
    margin:25px auto
}
@media (min-width:768px){
    .InvestEasy_background_vjCiz{
        background-image:url('../../assets/portfolio/easyInvestingBackgroundTablet@2x.d8717856.png')
    }
    .InvestEasy_paragraph_268wW{
        text-align:center
    }
    .InvestEasy_heading_1eGQ6>div{
        margin:0 auto;
        text-align:center
    }
}
@media (min-width:992px){
    .InvestEasy_background_vjCiz{
        background-image:url('../../assets/portfolio/easyInvestingBackgroundDesktop@2x.a8773b50.jpg')
    }
    .InvestEasy_typesContainer_3rWuL{
        display:-ms-flexbox;
        display:flex;
        -ms-flex-pack:justify;
        justify-content:space-between
    }
    .InvestEasy_readyContainer_lbBjy{
        text-align:center
    }
    .InvestEasy_lines_2WLOo{
        margin-left:0;
        position:absolute;
        left:-20px
    }
    .InvestEasy_paragraph_268wW{
        max-width:650px;
        margin:0 auto
    }
}
.Quote_quote_1dbIU{
    font-size:24px;
    font-family:Raleway,sans-serif;
    padding:25px 20px 20px;
    display:block
}
.Quote_quoteSubtext_aqS2-{
    display:inline-block;
    font-size:16px;
    color:rgba(82, 87, 90, 1);
    text-align:center;
    padding:15px;
    line-height:1.5;
    vertical-align:top;
    line-height:26px
}
.Quote_quoteAuthor_1Lcrx{
    font-style:normal
}
.Quote_quoteAuthorTitle_3Mv-l{
    font-style:italic;
    font-size:12px
}
.Quote_text_aIB6l{
    font-size:28px;
    line-height:40px;
    margin-top:20px;
    text-align:center;
    color:rgba(44, 181, 145, 1);
    font-style:italic;
    margin-bottom:25px
}
.Quote_avatarWrapper_2WiQJ{
    margin:0 auto;
    text-align:center
}
.Quote_avatarWrapper_2WiQJ img{
    height:75px
}
@media(min-width:992px){
    .Quote_quote_1dbIU{
        margin:0 auto;
        max-width:800px
    }
}
@media(min-width:576px){
    .Quote_quoteSubtext_aqS2-{
        text-align:left
    }
}
.Quotemark_quotesContainer_3ARIy{
    overflow:hidden;
    position:relative;
    height:39px;
    display:block;
    text-align:center;
    width:70%;
    margin:0 auto
}
.Quotemark_quotes_1X-kc{
    left:50%;
    position:absolute;
    display:inline-block;
    right:0;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%)
}
.BackedRealAssets_container_2XxAv{
    margin:-100px 0 0;
    padding-top:100px;
    max-width:none;
    background:-webkit-linear-gradient(314.41deg,#f4f4f4,#fff);
    background:-o-linear-gradient(314.41deg,#f4f4f4 0,#fff 100%);
    background:linear-gradient(135.59deg,#f4f4f4,#fff)
}
.BackedRealAssets_paragraph_1Fkp4{
    font-size:14px;
    line-height:24px;
    font-family:Gotham A,Gotham B;
    margin-bottom:20px
}
.BackedRealAssets_reasons_3JJ8D{
    margin:80px auto;
    max-width:350px
}
.BackedRealAssets_chart_3-Jvb{
    -ms-flex-align:center;
    align-items:center;
    margin:-30px auto 0;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:center;
    justify-content:center
}
.BackedRealAssets_group_2YC7j{
    padding:10vw 5vw 5vw;
    z-index:2;
    max-width:1400px;
    margin:0 auto;
    position:relative
}
.BackedRealAssets_item_3CijZ{
    margin:0 auto;
    max-width:100%
}
.BackedRealAssets_item_3CijZ img{
    max-width:300px
}
@media (min-width:768px){
    .BackedRealAssets_paragraph_1Fkp4{
        font-size:20px;
        line-height:30px;
        margin-bottom:20px
    }
    .BackedRealAssets_group_2YC7j{
        padding:5vw
    }
    .BackedRealAssets_chart_3-Jvb{
        margin:25px auto 0;
        max-width:450px;
        padding:15px 30px
    }
    .BackedRealAssets_item_3CijZ img{
        max-width:415px
    }
}
@media (min-width:992px){
    .BackedRealAssets_group_2YC7j{
        -ms-flex-pack:center;
        justify-content:center;
        display:-ms-flexbox;
        display:flex;
        max-width:1200px
    }
    .BackedRealAssets_item_3CijZ{
        max-width:530px
    }
    .BackedRealAssets_item_3CijZ img{
        max-width:450px
    }
}
.DataDriven_container_3mlxQ{
    padding:100px 5vw
}
.DataDriven_lines_3nECr{
    margin-left:-50px;
    margin-bottom:35px
}
.DataDriven_typesContainer_2lI-D{
    margin-top:20px;
    text-align:center
}
@media (min-width:768px){
    .DataDriven_paragraph_3FyxK{
        text-align:center
    }
    .DataDriven_typesContainer_2lI-D{
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        margin-top:50px
    }
    .DataDriven_heading_1s01X>div{
        margin:0 auto;
        text-align:center
    }
}
@media (min-width:992px){
    .DataDriven_lines_3nECr{
        margin-left:0;
        position:absolute;
        left:-20px
    }
    .DataDriven_paragraph_3FyxK{
        max-width:650px;
        margin:0 auto
    }
    .DataDriven_typesContainer_2lI-D{
        -ms-flex-pack:center;
        justify-content:center
    }
}
.InvestmentType_item_1SN-D{
    padding:25px;
    text-align:left
}
.InvestmentType_title_U1cj2{
    margin-top:10px;
    color:rgba(53, 56, 58, 1);
    font-size:18px;
    line-height:19px
}
.InvestmentType_desc_2vYw7{
    margin-top:10px;
    color:rgba(82, 87, 90, 1);
    font-size:16px;
    line-height:26px
}
.InvestmentType_image_2X5Qo{
    height:70px
}
.InvestmentType_image-debt_G5ULR{
    height:60px;
    margin-bottom:5px;
    margin-top:5px
}
@media (min-width:768px){
    .InvestmentType_item_1SN-D{
        width:50%;
        height:220px;
        padding:25px 30px;
        border-bottom:1px solid rgba(223, 227, 228, 1)
    }
    .InvestmentType_item_1SN-D:nth-child(odd){
        border-right:1px solid rgba(223, 227, 228, 1)
    }
    .InvestmentType_title_U1cj2{
        color:rgba(44, 181, 145, 1)
    }
}
@media (min-width:992px){
    .InvestmentType_item_1SN-D{
        width:25%;
        height:240px;
        border-bottom:0;
        border-right:1px solid rgba(223, 227, 228, 1)
    }
    .InvestmentType_item_1SN-D:last-child,.InvestmentType_item_1SN-D:nth-child(4n){
        border-right:0
    }
}
.style_container_2CoNx{
    font-size:14px;
    color:#768187;
    padding:55px 35px;
    z-index:2;
    background:rgba(255, 255, 255, 1);
    position:relative;
    -webkit-box-shadow:0 3px 42px 0 rgba(53,56,58,.05);
    box-shadow:0 3px 42px 0 rgba(53,56,58,.05);
    border:1px solid #e3e9eb
}
.style_title_3h4xy{
    font-size:14px;
    line-height:24px;
    text-transform:uppercase;
    font-family:Raleway,sans-serif;
    text-align:center;
    color:rgba(171, 180, 186, 1)
}
.style_list_20Qey li{
    text-align:center;
    color:#768187;
    font-size:20px;
    padding-top:30px;
    font-family:Gotham A,Gotham B;
    font-style:normal;
    font-weight:400
}
@media (min-width:576px){
    .style_container_2CoNx{
        max-width:460px;
        margin:-35px auto 0
    }
    .style_title_3h4xy{
        font-size:14px;
        line-height:28px
    }
    .style_paragraph_2_R5R{
        font-size:20px;
        line-height:30px;
        margin:45px 0
    }
    .style_list_20Qey li{
        padding-top:20px
    }
}
@media (min-width:768px){
    .style_container_2CoNx{
        max-width:645px;
        margin:-50px auto 0;
        background:rgba(255, 255, 255, 1);
        border:1px solid #e3e9eb
    }
    .style_list_20Qey li{
        font-size:22px;
        line-height:28px;
        padding-top:30px
    }
    .style_wideContainer_2aOYb{
        width:100%;
        margin:-50px auto 0;
        background:rgba(255, 255, 255, 1);
        border:1px solid #e3e9eb
    }
}
@media (min-width:992px){
    .style_container_2CoNx{
        max-width:1140px;
        padding:0 35px 55px
    }
    .style_container_2CoNx,.style_wideContainer_2aOYb{
        -webkit-box-shadow:0 3px 42px rgba(53,56,58,.05);
        box-shadow:0 3px 42px rgba(53,56,58,.05)
    }
    .style_wideContainer_2aOYb{
        padding-bottom:60px
    }
    .style_title_3h4xy{
        padding-top:30px
    }
    .style_list_20Qey{
        display:-ms-flexbox;
        display:flex;
        -ms-flex-pack:justify;
        justify-content:space-between
    }
    .style_list_20Qey>li{
        -ms-flex-positive:1;
        flex-grow:1;
        font-size:22px
    }
    .style_list_20Qey li:after{
        content:"\25CF";
        color:#abb4ba;
        font-size:14px;
        line-height:22px;
        float:right
    }
    .style_list_20Qey li:last-child:after{
        content:""
    }
}
@media (min-width:1200px){
    .style_list_20Qey>li{
        font-size:28px;
        line-height:30px
    }
}
@media (min-width:1440px){
    .style_list_20Qey>li{
        font-size:28px
    }
    .style_list_20Qey li:after{
        line-height:28px
    }
}
.Heading_container_3NbVI{
    max-width:750px;
    padding-bottom:30px
}
.Heading_heading_3vyvA{
    font-weight:400;
    line-height:34px;
    font-size:24px;
    max-width:400px
}
.Heading_wideHeading_1pYNz{
    max-width:650px!important
}
.Heading_side_1rRmG{
    padding-left:5vw;
    padding-right:5vw
}
.Heading_leftAligned_3ZcqJ{
    text-align:left
}
.Heading_normal_2Te33{
    margin:0 auto;
    font-size:14px;
    line-height:24px;
    max-width:650px;
    font-weight:300;
    color:rgba(53, 56, 58, 1);
    padding:30px 0 45px;
    display:inline-block
}
.Heading_bar_1Ocsn,.Heading_barCentered_3XL3D{
    display:block;
    width:100px;
    height:0;
    border-bottom:2px solid rgba(223, 227, 228, 1);
    padding:30px 0 0
}
.Heading_barCentered_3XL3D{
    margin:0 auto
}
.Heading_noDisplayBar_2yZSZ,.Heading_noDisplayParagraph_3Fb9W{
    display:none
}
.Heading_primary_1QzU2{
    color:rgba(30, 156, 159, 1)
}
.Heading_secondary_3tY3I{
    color:rgba(44, 181, 145, 1)
}
.Heading_centered_1o6LO{
    text-align:center;
    text-align:-webkit-center;
    margin:0 auto
}
.Heading_right_LDUsL{
    text-align:right;
    text-align:-webkit-right
}
.Heading_blackTitleText_1-P2r{
    color:rgba(53, 56, 58, 1)
}
@media (min-width:768px){
    .Heading_heading_3vyvA{
        font-size:32px;
        line-height:42px;
        max-width:550px
    }
    .Heading_side_1rRmG{
        padding-left:0;
        padding-right:0
    }
    .Heading_normal_2Te33{
        font-size:20px;
        line-height:30px
    }
}
@media (min-width:992px){
    .Heading_centered_1o6LO{
        margin:0 auto
    }
    .Heading_side_1rRmG{
        padding-left:0;
        padding-right:0
    }
    .Heading_container_3NbVI{
        padding-bottom:30px
    }
    .Heading_leftAligned_3ZcqJ{
        text-align:left;
        text-align:-webkit-left
    }
    .Heading_normal_2Te33{
        max-width:650px
    }
}
@media(min-width:1440px){
    .Heading_side_1rRmG{
        padding-left:0;
        padding-right:0
    }
}
.TypewriterEffect_caret_22RbY{
    font-weight:100;
    color:rgba(171, 180, 186, 1);
    margin-left:1px;
    -webkit-animation:TypewriterEffect_cursorPulse_3Ihox .7s infinite;
    animation:TypewriterEffect_cursorPulse_3Ihox .7s infinite
}
@-webkit-keyframes TypewriterEffect_cursorPulse_3Ihox{
    0%,to{
        opacity:1;
        -ms-filter:none;
        -webkit-filter:none;
        filter:none
    }
    40%{
        opacity:0;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter:alpha(opacity=0)
    }
}
@keyframes TypewriterEffect_cursorPulse_3Ihox{
    0%,to{
        opacity:1;
        -ms-filter:none;
        -webkit-filter:none;
        filter:none
    }
    40%{
        opacity:0;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter:alpha(opacity=0)
    }
}
.SubtleHeading_subtleHeading_3iJUD{
    color:rgba(118, 129, 135, 1);
    font-size:14px;
    font-weight:300;
    line-height:24px;
    font-family:Gotham A,Gotham B;
    text-align:center;
    margin:0 0 25px
}
.Hero_container_m6fur{
    padding:70px 5vw 75px;
    text-align:center;
    margin:0 auto
}
.Hero_title_JOtdC{
    font-size:24px;
    font-family:Raleway,sans-serif;
    color:rgba(53, 56, 58, 1);
    font-weight:400;
    margin-top:-30px
}
.Hero_paragraph_1Zonu{
    margin:45px 0;
    color:rgba(82, 87, 90, 1);
    font-size:14px;
    line-height:24px
}
.Hero_curvesContainer_34xiC{
    overflow:inherit;
    position:relative;
    min-height:20px;
    margin:0 auto
}
.Hero_curves_1rjpG{
    width:115%;
    top:-75px
}
.Hero_curves_1rjpG,.Hero_curvesSVG_3M49Y{
    z-index:1;
    left:50%;
    position:absolute;
    right:0;
    max-width:1400px;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%)
}
.Hero_curvesSVG_3M49Y{
    width:200%;
    top:-50px
}
.Hero_heroCTA_28NF7{
    z-index:5;
    position:relative;
    top:25px
}
.Hero_scrollingText_gU4bN{
    color:#20c2cb
}
@media (min-width:768px){
    .Hero_container_m6fur{
        height:600px;
        padding:0 20%;
        margin-top:90px
    }
    .Hero_curvesContainer_34xiC{
        min-height:350px
    }
    .Hero_heroCTA_28NF7{
        z-index:5;
        position:relative;
        top:75px
    }
    .Hero_title_JOtdC{
        font-size:32px
    }
    .Hero_mainHeading_cstzB{
        max-width:500px
    }
    .Hero_paragraph_1Zonu{
        font-size:20px;
        line-height:30px
    }
}
@media (min-width:992px){
    .Hero_paragraph_1Zonu{
        margin:30px 0
    }
    .Hero_heroCTA_28NF7{
        top:150px
    }
}
.IRRLead2_container_3ZDOz button {
    margin: 0 0 110px;
}
/* sc-component-id: sc-bdVaJa */
 .iGTUbO{
    border:1px solid rgb(223,227,228);
    border-radius:1px;
    font:normal 16px Raleway;
    background:white;
    height:46px;
    color:rgb(43,184,192);
}
.iGTUbO:hover{
    border:1px solid rgb(171,180,186);
    color:rgb(30,156,159);
}
.iGTUbO a{
    color:rgb(43,184,192);
    text-decoration:none;
}
/* sc-component-id: sc-bwzfXH */
 .fSaDtr{
    min-width:95px;
    max-width:none;
    width:auto;
    padding-top:11px;
    padding-right:15px;
    padding-bottom:12px;
    padding-left:15px;
    background:linear-gradient(180deg,#20C2CB 0%,#2DB7BF 100%);
    color:white;
    font-family:'Raleway',sans-serif;
    font-weight:normal;
    font-size:14px;
    text-align:left;
    border:0;
    position:relative;
    border-radius:0;
    line-height:12px;
    height:36px;
    text-align:center;
    cursor:pointer;
}
.fSaDtr:hover{
    background:linear-gradient(0deg,#1E9C9F 0%,#2DB7BF 100%);
}
.fSaDtr disabled{
    background:gray5;
}
.fSaDtr a{
    color:white;
    text-decoration:none;
}
 .cwfXNK{
    min-width:190px;
    max-width:none;
    width:auto;
    padding-top:11px;
    padding-right:60px;
    padding-bottom:11px;
    padding-left:15px;
    background:linear-gradient(180deg,#20C2CB 0%,#2DB7BF 100%);
    color:white;
    font-family:'Raleway',sans-serif;
    font-weight:normal;
    font-size:16px;
    text-align:left;
    border:0;
    position:relative;
    border-radius:0;
    line-height:24px;
    height:auto;
    text-align:center;
    cursor:pointer;
}
.cwfXNK:hover{
    background:linear-gradient(0deg,#1E9C9F 0%,#2DB7BF 100%);
}
.cwfXNK disabled{
    background:gray5;
}
.cwfXNK a{
    color:white;
    text-decoration:none;
}
/* sc-component-id: sc-htpNat */
 .gamggo{
    position:absolute;
    right:15px;
    padding-top:5px;
}
/* sc-component-id: sc-gzVnrw */
 .hBxpOw{
    text-align:justify;
    padding:5px 30px;
    font-size:10px;
    color:rgb(118,129,135);
}
@media (min-width:992px){
    .hBxpOw{
        grid-column:1/span 3;
    }
}
.hBxpOw .noteLink{
    font-size:10px;
}
/* sc-component-id: sc-htoDjs */
 .ehUDZT{
    cursor:pointer;
}
/* sc-component-id: sc-iwsKbI */
/* sc-component-id: sc-gZMcBi */
 .gKgmFl{
    color:inherit;
    cursor:pointer;
    font-size:14px;
    line-height:36px;
}
@media (min-width:768px){
    .gKgmFl{
        font-size:14px;
    }
}
