<div class="Main_container_3ITgZ">
    <div class="InvestmentPhilosophyContainer_container_1Nxz6">
       <div class="InvestmentPhilosophyContainer_content_Qkdmg">
          <div class="Heading_side_1rRmG Heading_container_3NbVI Heading_centered_1o6LO">
             <h2 class="Heading_heading_3vyvA Heading_centered_1o6LO Heading_secondary_3tY3I">Our Investment Philosophy</h2>
             <div class="Heading_bar_1Ocsn Heading_barCentered_3XL3D Heading_noDisplayBar_2yZSZ"></div>
             <span class="Heading_normal_2Te33 Heading_centered_1o6LO">
                <div>We put all investment opportunities through a strict due diligence process to determine if they meet our five-point investment philosophy.</div>
             </span>
          </div>
          <div>
             <ul class="FivePoints_list_XogTT">
                <li class="FivePointsItem_listItem_3YvCY">
                   <img src="https://www.yieldstreet.com/static/media/Asset.0d8cff61.svg" alt="" class="FivePointsItem_image_36PMG">
                   <p class="FivePointsItem_label_29TTP">Asset Based</p>
                </li>
                <li class="FivePointsItem_listItem_3YvCY">
                   <img src="https://www.yieldstreet.com/static/media/LowCor.5401c701.svg" alt="" class="FivePointsItem_image_36PMG">
                   <p class="FivePointsItem_label_29TTP">Low Stock Market Correlation</p>
                </li>
                <li class="FivePointsItem_listItem_3YvCY">
                   <img src="https://www.yieldstreet.com/static/media/Experts.a34b992b.svg" alt="" class="FivePointsItem_image_36PMG">
                   <p class="FivePointsItem_label_29TTP">Experienced Management</p>
                </li>
                <li class="FivePointsItem_listItem_3YvCY">
                   <img src="https://www.yieldstreet.com/static/media/Duration.b07a875c.svg" alt="" class="FivePointsItem_image_36PMG">
                   <p class="FivePointsItem_label_29TTP">Short Duration</p>
                </li>
                <li class="FivePointsItem_listItem_3YvCY">
                   <img src="https://www.yieldstreet.com/static/media/Returns.0b4235fd.svg" alt="" class="FivePointsItem_image_36PMG">
                   <p class="FivePointsItem_label_29TTP">8-20% Target Returns</p>
                </li>
             </ul>
          </div>
          <div class="ExpertlyVetted_container_33dK1">
             <div class="ExpertlyVetted_left_30Crp">
                <div>
                   <h5 class="SmallHeading_title_2nIxI" style="color: rgb(44, 181, 145);">Expertly Vetted</h5>
                   <span class="SmallHeading_bar_3tbpc"></span>
                </div>
                <p class="ExpertlyVetted_headingDescription_1N1-g">Our unwavering philosophy allows us to place great focus on the structure of your investment. If all five points are not met, the investment is not offered on YieldStreet. Plain and simple.</p>
             </div>
             <div class="ExpertlyVetted_right_245Oo">
                <ul>
                   <li class="ExpertlyVettedPoint_pointItem_1u9HI">
                      <img alt="" src="https://www.yieldstreet.com/static/media/Asset.0d8cff61.svg">
                      <dl>
                         <dt class="ExpertlyVettedPoint_pointTitle_2iOH4">Asset-based with validated collateral</dt>
                         <dd>Every borrower must offer tangible collateral to secure their loan in the form of an underlying asset. This collateral could be a real estate property, a legal case, equipment like vehicles or even a purchase order for a business. </dd>
                      </dl>
                   </li>
                   <li class="ExpertlyVettedPoint_pointItem_1u9HI">
                      <img alt="" src="https://www.yieldstreet.com/static/media/LowCor.5401c701.svg">
                      <dl>
                         <dt class="ExpertlyVettedPoint_pointTitle_2iOH4">Low stock market correlation</dt>
                         <dd>All offerings must have low correlation to the broader stock market, meaning that your investments are largely unaffected when the stock market is rising or falling. </dd>
                      </dl>
                   </li>
                   <li class="ExpertlyVettedPoint_pointItem_1u9HI">
                      <img alt="" src="https://www.yieldstreet.com/static/media/Experts.a34b992b.svg">
                      <dl>
                         <dt class="ExpertlyVettedPoint_pointTitle_2iOH4">Managed by experienced asset managers</dt>
                         <dd>YieldStreet thoroughly vets the originator managing the investment to confirm that they have a long-standing history in their industry and domain expertise in the associated asset class. Letting you invest alongside the pros.</dd>
                      </dl>
                   </li>
                   <li class="ExpertlyVettedPoint_pointItem_1u9HI">
                      <img alt="" src="https://www.yieldstreet.com/static/media/Duration.b07a875c.svg">
                      <dl>
                         <dt class="ExpertlyVettedPoint_pointTitle_2iOH4">Short in duration</dt>
                         <dd>YieldStreet targets loan durations typically between 1-3 years with scheduled and event based payments, allowing you to regularly reinvest and take advantage of new opportunities.</dd>
                      </dl>
                   </li>
                   <li class="ExpertlyVettedPoint_pointItem_1u9HI">
                      <img alt="" src="https://www.yieldstreet.com/static/media/Returns.0b4235fd.svg">
                      <dl>
                         <dt class="ExpertlyVettedPoint_pointTitle_2iOH4">Target annual returns of 8-20%</dt>
                         <dd>Finally, when all other structural aspects are satisfied, we make sure all offerings have a yield profile that fits within what investors demand. Typically, all YieldStreet offerings range between 8-20% target returns, and our investments have an expected<span> 13.5%<a class="SupLink_SupLink_3fVSr" href="#footnote--earn-rate"><a class="sc-gZMcBi gKgmFl sc-iwsKbI jQhHGA" href="#sup2">2</a></a> IRR </span> since inception.</dd>
                      </dl>
                   </li>
                </ul>
             </div>
          </div>
          <div class="IRRLead2_container_3ZDOz">
             <div class="Heading_container_3NbVI Heading_centered_1o6LO">
                <h2 class="Heading_heading_3vyvA Heading_centered_1o6LO Heading_primary_1QzU2">Start Creating Your YieldStreet Portfolio</h2>
                <div class="Heading_bar_1Ocsn Heading_barCentered_3XL3D"></div>
                <span class="Heading_normal_2Te33 Heading_centered_1o6LO">Since inception, our investments have an expected <span> 13.5%<a class="SupLink_SupLink_3fVSr" href="#footnote--earn-rate"><a class="sc-gZMcBi gKgmFl sc-iwsKbI jQhHGA" href="#sup2">2</a></a> IRR </span>.</span>
             </div>
             <span><a href="/signup"><button class="cta cta-loggedout sc-bwzfXH cwfXNK" id="cta-loggedout">Get Started<img class="sc-htpNat gamggo" src="https://www.yieldstreet.com/static/media/arrow.bd5e780d.svg" alt=""></button></a></span>
          </div>
       </div>
    </div>
 </div>