<div class="Main__Container-jeBqdM gQKlCo">
  <div class="CompleteInvestmentContainer__StyledContainer-ezCXLp hvtsbs Container-gZqETv dedQyW">
    <h1 class="CompleteInvestmentContainer__Title-jwLvwQ buXLfb">Complete Investment</h1>
    <div class="Header__Container-jDruZb HehNz">
      <ul class="Header__Properties-gzraN kLsubj">
        <li class="Header__PropertyChevron-MNkjL cdnWoI Header__Property-dxBFLO bvkila">
          <dl class="Header__Definition-kGSFiy clHQSC">
            <dd class="Header__DefValue-eRxRTF elpHwH"><span>${{currentOffering['investmentAmt']}}</span></dd>
            <dt class="Header__DefLabel-bCtXJW jmwIwo">Your Investment</dt>
          </dl>
        </li>
        <li class="Header__TitleProperty-idUQCp fbZUZm Header__Property-dxBFLO bvkila">
          <h2 class="Header__Title-dLRSgy jGdlll">{{currentOffering['serviceName']}}</h2>
        </li>
        <li class="Header__AdditionalProperty-gOZkQI hWcuBS Header__Property-dxBFLO bvkila">
          <dl class="Header__Definition-kGSFiy clHQSC">
            <dd class="Header__DefValue-eRxRTF elpHwH">{{currentOffering['annualInterest']}}%</dd>
            <dt class="Header__DefLabel-bCtXJW jmwIwo">Annual Interest</dt>
          </dl>
        </li>
        <li class="Header__AdditionalProperty-gOZkQI hWcuBS Header__Property-dxBFLO bvkila">
          <dl class="Header__Definition-kGSFiy clHQSC">
            <dd class="Header__DefValue-eRxRTF elpHwH">{{currentOffering['term']}} months</dd>
            <dt class="Header__DefLabel-bCtXJW jmwIwo">Term</dt>
          </dl>
        </li>
      </ul>
    </div>
    <div class="ContentBox-fPCug hGyOsY">
      <div class="MoneyDetails__MoneyInfo-jWdaWg wDoGc" id="moneyDetails">
        <div class="MoneyDetails__MoneySection-fSZDLC YwERf">
          <div class="SectionTitle-eIlcEQ kEsgWj">Investor Account</div>
          <div>
              <select #AccDropDownList class="dropdown  Dropdown__ActiveContainer-ftVMPU bkTGAH setFont" aria-labelledby="dropdownMenuButton" (change) ="onRowClick()" >
                <option class=" null false Dropdown__DropdownOptionContainer-nr8gk9-2" *ngFor= "let accData of accountData" value={{accData.id}}>
                  <span class="jCuLJb">{{accData.first_name}} {{accData.title}}</span>
                </option>
              </select>
            </div>
        </div>
        <div class="MoneyDetails__MoneySection-fSZDLC YwERf">
          <div class="SectionTitle-eIlcEQ kEsgWj">Payment Method</div>
          <div class="Dropdown__Container-cUUygg kzaOag">
              <div>
                  <select #bankAccDropDownList class="dropdown  Dropdown__ActiveContainer-ftVMPU bkTGAH" aria-labelledby="dropdownMenuButton" (change) ="onRowClick()" >
                    <option class=" null false Dropdown__DropdownOptionContainer-nr8gk9-2" *ngFor= "let bankaccData of bankAccountData" value={{bankaccData.account_number}}>
                      <span class="jCuLJb" style = "display: inline-block;"> {{bankaccData.bank_name}}</span>
                    </option>
                  </select>
              </div>
          </div>
        </div>
        <div class="MoneyDetails__MoneySection-fSZDLC YwERf">
          <div class="SectionTitle-eIlcEQ kEsgWj">Authorize Transfer</div>
          <div class="SectionParagraph-gtJFIy UXUtq">I authorize YieldStreet to debit the account indicated for the
            amount noted. I will not dispute YieldStreet debiting my account, so long as the transaction corresponds to
            the terms in this online form and my agreement with YieldStreet.</div>
        </div>
      </div>
      <div class="Acknowledge__Container-cuemMQ DqwRz" id="acknowledge">
        <div class="SectionTitle-eIlcEQ kEsgWj">Acknowledge and Sign</div>
        <div class="Acknowledge__CheckContainer-cFGkAE ccOrjJ">
          <div class="Acknowledge__PaddingContainer-hISvfd ibkBYH">
            <div class="Acknowledge__CheckboxContainer-eBXBjf cMwUCh">
              <div class="Checkbox__CheckBoxContainer-kDiudy gaNxVn">
                <label class="Checkbox__CheckBoxLabel-dOLroa fcFsSP">
                  <input type="checkbox" class="Checkbox__CheckBoxActual-igiREk iacNie" value="on"><span class="Checkbox__CheckBoxFake-kBKnnk bbAOYl"><img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAABGdBTUEAALGPC/xhBQAAAG1JREFUGBmNjcsNgCAQBbUNE0Md/kKiHuyGm01ZmvaAswQIBzdCMmE/86BtKo/3vkc9qnTkHR4YfgNIW5THINOcYL6SUb65p7ynsSDf2TykoF9B5Lmch1pkyCFqXU7pIuSo5eUl7dQbycAFnSa9dEJuIwPz7WUAAAAASUVORK5CYII="
                      srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAABGdBTUEAALGPC/xhBQAAAG1JREFUGBmNjcsNgCAQBbUNE0Md/kKiHuyGm01ZmvaAswQIBzdCMmE/86BtKo/3vkc9qnTkHR4YfgNIW5THINOcYL6SUb65p7ynsSDf2TykoF9B5Lmch1pkyCFqXU7pIuSo5eUl7dQbycAFnSa9dEJuIwPz7WUAAAAASUVORK5CYII= 1x, data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAN1JREFUOBG1kskKAjEQRPUL3BD3q/9/9uTVXVBw/wWvHuMrSI8LM5hoLCg6E7tf9QyWS3+Qc24AdoxHyfGC4wuWJkkDAPbxWWQ0xZVkAcD+Cu8RcMLSDFezzXloytlF5IHZYrhYNGy9o0OY6+Ijlub4sbktyqUCJNXgEHrf4TVjvlRBPZwSFkJfBx80gBY4H25JNASH0PsMX36Ex4R4+J4qCV63+aDKQOGb8FsbG3wVDbcN8kI8fEeVvocXhAhsf8U154b1/VQB6XPZ1hzdBqeB22YAW/iKb3ho9zH1Dj7ZkCwSYMT/AAAAAElFTkSuQmCC 2x"
                      alt="Checkmark"></span>
                  <span class="Checkbox__CheckBoxLabelText-jinvLj jwCFol">
                    <div class="Acknowledge__CheckboxLabel-evnzqg kxFJmz">I am an Accredited Investor according to <a
                        class="Acknowledge__Link-jprdON efflvz" target="_blank" rel="noopener noreferrer">Rule
                        501</a>.</div>
                  </span>
                </label>
              </div>
            </div>
            <div class="Acknowledge__CheckboxContainer-eBXBjf cMwUCh">
              <div class="Checkbox__CheckBoxContainer-kDiudy gaNxVn">
                <label class="Checkbox__CheckBoxLabel-dOLroa fcFsSP">
                  <input type="checkbox" class="Checkbox__CheckBoxActual-igiREk iacNie" value="on"><span class="Checkbox__CheckBoxFake-kBKnnk bbAOYl"><img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAABGdBTUEAALGPC/xhBQAAAG1JREFUGBmNjcsNgCAQBbUNE0Md/kKiHuyGm01ZmvaAswQIBzdCMmE/86BtKo/3vkc9qnTkHR4YfgNIW5THINOcYL6SUb65p7ynsSDf2TykoF9B5Lmch1pkyCFqXU7pIuSo5eUl7dQbycAFnSa9dEJuIwPz7WUAAAAASUVORK5CYII="
                      srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAABGdBTUEAALGPC/xhBQAAAG1JREFUGBmNjcsNgCAQBbUNE0Md/kKiHuyGm01ZmvaAswQIBzdCMmE/86BtKo/3vkc9qnTkHR4YfgNIW5THINOcYL6SUb65p7ynsSDf2TykoF9B5Lmch1pkyCFqXU7pIuSo5eUl7dQbycAFnSa9dEJuIwPz7WUAAAAASUVORK5CYII= 1x, data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAN1JREFUOBG1kskKAjEQRPUL3BD3q/9/9uTVXVBw/wWvHuMrSI8LM5hoLCg6E7tf9QyWS3+Qc24AdoxHyfGC4wuWJkkDAPbxWWQ0xZVkAcD+Cu8RcMLSDFezzXloytlF5IHZYrhYNGy9o0OY6+Ijlub4sbktyqUCJNXgEHrf4TVjvlRBPZwSFkJfBx80gBY4H25JNASH0PsMX36Ex4R4+J4qCV63+aDKQOGb8FsbG3wVDbcN8kI8fEeVvocXhAhsf8U154b1/VQB6XPZ1hzdBqeB22YAW/iKb3ho9zH1Dj7ZkCwSYMT/AAAAAElFTkSuQmCC 2x"
                      alt="Checkmark"></span>
                  <span class="Checkbox__CheckBoxLabelText-jinvLj jwCFol">
                    <div class="Acknowledge__CheckboxLabel-evnzqg kxFJmz">I have read and agree to the terms of the <a
                        class="Acknowledge__Link-jprdON efflvz" rel="noopener noreferrer">Subscription
                        Agreement</a>, the <a class="Acknowledge__Link-jprdON efflvz" target="_blank" rel="noopener noreferrer"
                        >Indenture Agreement</a>, and the <a class="Acknowledge__Link-jprdON efflvz"
                        target="_blank" rel="noopener noreferrer">Form of
                        Borrower Payment Dependent Note</a> attached thereto.</div>
                  </span>
                </label>
              </div>
            </div>
            <div class="Acknowledge__CheckboxContainer-eBXBjf cMwUCh">
              <div class="Checkbox__CheckBoxContainer-kDiudy gaNxVn">
                <label class="Checkbox__CheckBoxLabel-dOLroa fcFsSP">
                  <input type="checkbox" class="Checkbox__CheckBoxActual-igiREk iacNie" value="on"><span class="Checkbox__CheckBoxFake-kBKnnk bbAOYl"><img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAABGdBTUEAALGPC/xhBQAAAG1JREFUGBmNjcsNgCAQBbUNE0Md/kKiHuyGm01ZmvaAswQIBzdCMmE/86BtKo/3vkc9qnTkHR4YfgNIW5THINOcYL6SUb65p7ynsSDf2TykoF9B5Lmch1pkyCFqXU7pIuSo5eUl7dQbycAFnSa9dEJuIwPz7WUAAAAASUVORK5CYII="
                      srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAABGdBTUEAALGPC/xhBQAAAG1JREFUGBmNjcsNgCAQBbUNE0Md/kKiHuyGm01ZmvaAswQIBzdCMmE/86BtKo/3vkc9qnTkHR4YfgNIW5THINOcYL6SUb65p7ynsSDf2TykoF9B5Lmch1pkyCFqXU7pIuSo5eUl7dQbycAFnSa9dEJuIwPz7WUAAAAASUVORK5CYII= 1x, data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAN1JREFUOBG1kskKAjEQRPUL3BD3q/9/9uTVXVBw/wWvHuMrSI8LM5hoLCg6E7tf9QyWS3+Qc24AdoxHyfGC4wuWJkkDAPbxWWQ0xZVkAcD+Cu8RcMLSDFezzXloytlF5IHZYrhYNGy9o0OY6+Ijlub4sbktyqUCJNXgEHrf4TVjvlRBPZwSFkJfBx80gBY4H25JNASH0PsMX36Ex4R4+J4qCV63+aDKQOGb8FsbG3wVDbcN8kI8fEeVvocXhAhsf8U154b1/VQB6XPZ1hzdBqeB22YAW/iKb3ho9zH1Dj7ZkCwSYMT/AAAAAElFTkSuQmCC 2x"
                      alt="Checkmark"></span>
                  <span class="Checkbox__CheckBoxLabelText-jinvLj jwCFol">
                    <div class="Acknowledge__CheckboxLabel-evnzqg kxFJmz">I have read and understood the <a class="Acknowledge__Link-jprdON efflvz"
                        target="_blank" rel="noopener noreferrer">Private
                        Placement Memorandum</a> and the <a class="Acknowledge__Link-jprdON efflvz" target="_blank" rel="noopener noreferrer"
                        >Series Note Supplement</a>, including without
                      limitation, all <span class="Acknowledge__BoldText-XIEfB gEfWXG">risk factors</span> and <span
                        class="Acknowledge__BoldText-XIEfB gEfWXG">conflicts of interest</span> set forth therein.</div>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="Acknowledge__DoublePaddingContainer-goQXAh frLJuG">
            <div class="SectionParagraph-gtJFIy UXUtq" id="complete-investment-disclaimer">By my signature below, I
              hereby execute the Subscription Agreement, certify that I have read and agree to the <a class="Acknowledge__Link-jprdON efflvz"
                target="_blank" rel="noopener noreferrer">Terms of Service</a> and <a class="Acknowledge__Link-jprdON efflvz"
                target="_blank" rel="noopener noreferrer">Privacy Policy</a> and that all foregoing
              information is <b>accurate</b> and <b>truthful</b>.</div>
          </div>
          <div class="Acknowledge__PaddingContainer-hISvfd ibkBYH">
            <div class="SectionTitle-eIlcEQ kEsgWj">Your Initials</div>
            <div class="undefined InputText__InputTextContainer-eprnIR dafSbU">
              <label class="InputText__Label-hEWkWK lnRsmH"></label>
              <div class="InputText__InputContainer-kBPNQb kzXpab"><input type="text" min="0" max="Infinity" id="acknowledge-initials"
                  name="signature" placeholder="Enter your initials" maxlength="8" value=""></div>
            </div>
          </div>
        </div>
      </div>
      <div class="CompleteInvestmentContainer__ButtonContainer-iWkNqf cVGEzd">
        <button class="CompleteInvestmentContainer__GrayButton-kyhlsH eEThJU PrimaryButton__ButtonPrimary-exVhhh lfXxYG"
          id="complete-cancelBtn" routerLink ="/offering-detail/{{currentOffering['uid']}}">
          Cancel
        </button>
          <button class="CompleteInvestmentContainer__SubmitButton-eRMzxQ cgHsse PrimaryButton__ButtonPrimary-exVhhh jLNNsJ"
          id="complete-submitBtn" (click)="subscribeOffering()">Submit</button>
        </div>
    </div>
  </div>
</div>
