<div class="ConfirmInvestmentContainer__Gray-hhqw49-0 ibzTkj">
    <div class="Main__Wrapper-z4tjtm-0 lliKhK">
       <div class="Main__Container-z4tjtm-1 kseUjF">
          <div class="AttemptedInvestResponse__StyledContainer-sc-62uwna-0 WthvK">
             <div class="ContentBox-deslr0-0 eYsxta">
                <span>
                   <h1 id="feedback-WaitlistOrSuccess" class="FeedbackTitle-mvhjkr-0 gKqki">Thank You for Investing!</h1>
                   <div class="AttemptedInvestResponse__RequestDetails-sc-62uwna-1 iAPyyb" *ngIf ="false">
                      <p class="AttemptedInvestResponse__RequestIDText-sc-62uwna-2 uYQzI"><span  id="feedback-requestID" class="AttemptedInvestResponse__BoldText-sc-62uwna-9 ldutKb">Request ID #18384</span></p>
                      &nbsp;|&nbsp;<a class="AttemptedInvestResponse__ViewInPortfolio-sc-62uwna-3 bWdMtD" routerLink ="/vi">View In Portfolio</a>
                   </div>
                </span>
                <div class="AttemptedInvestResponse__FeedbackText-sc-62uwna-4 bAMJje">
                   <div class="AttemptedInvestResponse__SuccessfulResponse-sc-62uwna-7 cnMqzX">
                      <p class="FeedbackSentence-fx3vbo-0 gtgZcY">{{currentUser}}, you have a confirmed investment request of <span>${{currentOffering.investmentAmt}}</span> for {{currentOffering.serviceName}} </p>
                      <p class="FeedbackSentence-fx3vbo-0 gtgZcY"><span class="AttemptedInvestResponse__BoldText-sc-62uwna-9 ldutKb">Your investment request is now being processed by YieldStreet. </span>Funds will be pulled via your indicated method and you will begin to earn interest once this investment is marked "Active" in your portfolio.</p>
                   </div>
                </div>
                <div class="AttemptedInvestResponse__AlwaysText-sc-62uwna-5 gaUWhx" *ngIf = "false">
                   <p class="FeedbackSentence-fx3vbo-0 gtgZcY">We will also sent additional important information about this investment to you</p>
                </div>
             </div>
          </div>
          <div>
             <div class="AccountActionItems__StyledContainer-fwntis-0 idzoCG" *ngIf = "false" >
                <div class="ContentBox-deslr0-0 eYsxta">
                   <div class="AccountActionItems__ActionItemsSection-fwntis-2 Qjrz">
                      <div class="AccountActionItems__StyledSectionTitle-fwntis-1 dKffTl"><span aria-hidden="true" class="fa fa-exclamation-triangle AccountActionItems__DropdownIcon-fwntis-3 kEvRNm"></span>Required Action Items</div>
                      <p class="FeedbackSentence-fx3vbo-0 gtgZcY"><span class="AccountActionItems__BoldText-fwntis-4 imcofI">To help us process your investment request, please complete your account set-up in the next 5 business days or your investment will be cancelled.</span></p>
                      <p class="FeedbackSentence-fx3vbo-0 gtgZcY">In order to confirm this investment, please:</p>
                      <ul id="feedback-actionItemsList" class="AccountActionItems__ActionItemsList-fwntis-5 fLkeLR">
                         <li class="AccountActionItems__ActionItem-fwntis-6 gaMAWm">Verify Identity</li>
                         <li class="AccountActionItems__ActionItem-fwntis-6 gaMAWm">Link Bank Account</li>
                      </ul>
                   </div>
                   <p class="FeedbackSentence-fx3vbo-0 gtgZcY">Note: Your investment amount is currently reserved and <span class="AccountActionItems__BoldText-fwntis-4 imcofI">will be confirmed when your action items are complete.</span> You do not need to re-submit your investment after submitting these items.</p>
                   <a href="/profile/accounts"><button id="accountactionitems-setup" class="PrimaryButton__ButtonPrimary undefined PrimaryButton__ButtonPrimary-lm14bl-0 jjqjZG">Complete Now<img src="https://www.yieldstreet.com/static/media/arrow.bd5e780d.svg" alt="" class="PrimaryButton__Arrow-lm14bl-1 jinldX"></button></a>
                </div>
             </div>
          </div>
          <div class="TransferSummary__StyledContainer-sc-59a7qj-0 jjDxRC" *ngIf = "false">
             <div class="ContentBox-deslr0-0 eYsxta">
                <h1 class="FeedbackTitle-mvhjkr-0 gKqki">Transfer Summary</h1>
                <div class="TransferSummary__DesktopTransferDetails-sc-59a7qj-2 jfHqKq">
                   <dl class="TransferSummary__TransferDetailsLine-sc-59a7qj-3 gJmAyw">
                      <dd class="TransferSummary__TransferDetailsItem-sc-59a7qj-6 gqSyma"><span id="feedback-transferAmount">$15,000.00</span></dd>
                      <dt class="TransferSummary__TransferDetailTitle-sc-59a7qj-5 eeaKab">Transfer Amount</dt>
                   </dl>
                   <dl class="TransferSummary__TransferDetailsLine-sc-59a7qj-3 gJmAyw">
                      <dd id="feedback-transferDate" class="TransferSummary__TransferDetailsItem-sc-59a7qj-6 gqSyma">11/16/2018</dd>
                      <dt class="TransferSummary__TransferDetailTitle-sc-59a7qj-5 eeaKab">Transfer Date *</dt>
                   </dl>
                   <dl class="TransferSummary__TransferDetailsLine-sc-59a7qj-3 gJmAyw">
                      <dd class="TransferSummary__TransferDetailsItem-sc-59a7qj-6 gqSyma">BANK OF AMERICA</dd>
                      <dt class="TransferSummary__TransferDetailTitle-sc-59a7qj-5 eeaKab">External Account</dt>
                   </dl>
                </div>
                <div class="TransferSummary__MobileTransferDetails-sc-59a7qj-1 kEMDuA">
                   <dl class="TransferSummary__TransferDetailsLine-sc-59a7qj-3 gJmAyw">
                      <dt class="TransferSummary__TransferDetailTitle-sc-59a7qj-5 eeaKab">Transfer Amount</dt>
                      <dd class="TransferSummary__TransferDetailsItem-sc-59a7qj-6 gqSyma"><span id="feedback-transferAmountMobile">$15,000.00</span></dd>
                   </dl>
                   <dl class="TransferSummary__TransferDetailsLine-sc-59a7qj-3 gJmAyw">
                      <dt class="TransferSummary__TransferDetailTitle-sc-59a7qj-5 eeaKab">Transfer Date *</dt>
                      <dd id="feedback-transferDateMobile" class="TransferSummary__TransferDetailsItem-sc-59a7qj-6 gqSyma">11/16/2018</dd>
                   </dl>
                   <dl class="TransferSummary__TransferDetailsLine-sc-59a7qj-3 gJmAyw">
                      <dt class="TransferSummary__TransferDetailTitle-sc-59a7qj-5 eeaKab">External Account</dt>
                      <dd class="TransferSummary__TransferDetailsItem-sc-59a7qj-6 gqSyma">BANK OF AMERICA</dd>
                   </dl>
                </div>
                <div class="TransferSummary__FeedbackText-sc-59a7qj-7 jJpNkI">
                   <p class="FeedbackSentence-fx3vbo-0 gtgZcY">You have authorized us to initiate an electronic withdrawal (ACH).</p>
                   <p class="FeedbackSentence-fx3vbo-0 gtgZcY">Please ensure that required funds are available in your account. If you wish to modify or cancel this transaction, or have any questions, email <a href="mailto:investments@yieldstreet.com">investments@yieldstreet.com</a> or call <a href="tel:+8449435378">(844) 943-5378</a></p>
                   <p class="FeedbackSentence-fx3vbo-0 gtgZcY"><span class="TransferSummary__BoldText-sc-59a7qj-4 iqSqpK">Note about electronic payments: </span>This electronic transaction with show up as - Upper West Side Residential Property  - on your bank account. Payment instructions are sent via our payment partner, Synapse Financial Technologies, Inc. and are processed by Evolve Bank &amp; Trust, Member FDIC. To report complaints, email <a href="mailto:help@synapsefi.com">help@synapsefi.com</a>.</p>
                   <p class="FeedbackSentence-fx3vbo-0 gtgZcY">* Or next available business day.</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
