<div class="portal portal-signup ng-scope">
  <div class="container portal-container">
     <!-- ngIf: signupCtrl.state.currentStep == 1 -->
     <div data-ng-show="!signupCtrl.state.submitted" class="animation-hide signup-step-0 signup-no-title">
        <div class="portal-inputs-ctn">
           <div class="portal-inputs">
              <div class="row">
                 <div class="portal-ui-container">
                    <!-- uiView: -->
                    <div data-ui-view="" class="animation-horizontal-slide ng-scope messageBox">
                       <div class="signup-step-5 ng-scope">
                          <div class="card portal-inputs-ctn__container portal-inputs-ctn__container--no-spacing">
                             <p class="bold header-small"><small class="ng-binding">, THANKS FOR SIGNING UP</small></p>
                             <h2 class="title">You’re almost there!</h2>
                             <div class="fa fa-envelope"></div>
                             <p class="book bottom-paragraph">We’ve just sent an email to <strong class="ng-binding"></strong>.
                              <br>Please click the link in the email to verify your account and get started.</p>
                             <p class="medium"><i>Your friends at Yieldstreet</i></p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>f
     </div>
  </div>
</div>
<link rel="stylesheet" href="../../assets/fonts/jquery.fancybox.css" lazyload="">
<link rel="stylesheet" href="../../assets/jquery/jquery.Jcrop.min.css" lazyload="">
<link rel="stylesheet" href="../../assets/fonts/select.min.css" lazyload="">
<link rel="stylesheet" href="../../assets/fonts/bootstrap-slider.min.css" lazyload="">
<link rel="stylesheet" href="../../assets/fonts/c3.min.css" lazyload="">
<link rel="stylesheet" href="../../assets/fonts/font-yieldstreet.css" lazyload="">
<link rel="stylesheet" href="../../assets/fonts/bootstrap-select.min.css" lazyload="">
<link rel="stylesheet" id="ys-styles-css" href="../../assets/fonts/style.css" type="text/css" media="all">s