@media (min-width: 1200px){
  .bRXpLw {
    height: 85px;
    padding: 17px 20px 0px 30px;
  }
}
.jLNNsJ{
  background-color: #dcdcdc !important;
  color: white;
  font-size: 15px;
  border: none;
}
.bRXpLw {
  height: 60px;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9000;
  padding: 10px;
  background: rgb(255, 255, 255);
  transition: background 0.5s ease 0s;
  border-bottom: 1px solid rgb(223, 227, 228);
}
@media (min-width: 1200px)
{
  .kseUjF {
    padding-top: 85px;
  }
}
.kseUjF {
  padding-top: 60px;
}
.FDxYx {
  width: 100%;
  background: rgb(246, 246, 246);
}
@media (min-width: 992px)
{
  .iQcGVi {
    padding: 0px 5vw 5vw;
  }
}
@media (min-width: 1440px)
{
  .iQcGVi {
    max-width: 1400px;
    margin: 0px auto;
  }
}
.iQcGVi {
  overflow-x: hidden;
  padding: 0px 1vw;
}
.dNHjBN {
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(223, 227, 228);
  border-image: initial;
  padding: 25px 3vw;
  margin: 10px 0px;
}
.ffsdGk {
  color: rgb(118, 129, 135);
  line-height: 24px;
}
.cuNfxS {
  font-size: 14px;
}
.xlJzm {
  color: rgb(53, 56, 58);
  font-size: 14px;
}
.eYtyru {
  color: rgb(53, 56, 58);
  font-size: 14px;
  font-style: italic;
}
.PCBZE {
  color: rgb(53, 56, 58);
  font-size: 20px;
  line-height: 30px;
  font-family: "Gotham A", "Gotham B";
  font-weight: 600;
  margin-bottom: 10px;
}
.loZkuc {
  color: rgb(118, 129, 135);
  font-size: 14px;
}
.kyeVED {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 576px)
{
  .kUvCrw {
    flex-direction: row-reverse;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
}
.kUvCrw {
  display: flex;
  -webkit-box-pack: end;
  padding-top: 30px;
}
@media (min-width: 768px)
{
  .fyBBrO {
    width: 50%;
  }
}
.fyBBrO {
  margin-top: 30px;
  width: 50%;
}
.lpuvbP {
  color: rgb(53, 56, 58);
  font-size: 16px;
  margin-bottom: 10px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
body, dd, dl, dt, li, ol, p, ul {
  margin: 0;
  padding: 0;
}
.fyBBrO > div {
  margin-right: 20px;
}
@media (min-width: 768px)
{
  .gJSAiL {
    height: 150px;
  }
}
.gJSAiL {
  height: 125px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  border-width: 1px;
  border-style: dashed;
  border-color: rgb(171, 180, 186);
  border-image: initial;
  background: transparent;
}
.dFSFIw {
  text-align: center;
}
div {
  display: block;
}
*, body {
  box-sizing: border-box;
}
.gJSAiL button {
  cursor: pointer;
  color: rgb(43, 184, 192);
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(43, 184, 192);
  border-image: initial;
}
.bxgaRH {
  position: relative;
  font-size: 16px;
  color: rgb(43, 184, 192);
  cursor: pointer;
  font-family: Raleway, sans-serif;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(43, 184, 192);
  border-image: initial;
  border-radius: 1px;
  background: white;
  padding: 15px 20px;
}
@media (min-width: 992px)
{
  .cHeuSK {
    text-align: center;
    display: block;
    color: rgb(118, 129, 135);
    line-height: 30px;
    font-size: 16px;
    margin-top: 5px;
  }
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.fMiDES {
  color: rgb(171, 180, 186);
}
.cxFHez {
  color: rgb(118, 129, 135);
  font-size: 12px;
  height: 12px;
  margin-top: 6px;
}
body, dd, dl, dt, li, ol, p, ul {
  margin: 0;
  padding: 0;
}
@media (min-width: 576px)
{
  .kUvCrw > button:first-of-type {
    margin-bottom: 0px;
  }
}
@media (min-width: 576px)
{
  .jIvJyI {
    max-width: 190px;
    margin: unset;
  }
}
.jIvJyI {
    // max-width: 340px;
    width: 100%;
    line-height: 26px;
    // margin: 0px auto;
}
.hrRcUC {
    min-width: 190px;
    max-width: none;
    width: auto;
    padding-top: 11px;
    padding-right: 15px;
    padding-bottom: 11px;
    padding-left: 15px;
    color: white;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    line-height: 24px;
    height: auto;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(rgb(32, 194, 203) 0%, rgb(45, 183, 191) 100%);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
}
@media (min-width: 576px)
{
  .kUvCrw > :last-child {
    margin-right: 10px;
  }
}
.dQDoKT {
    min-width: 190px;
    max-width: 340px;
    width: auto;
    padding-top: 11px;
    padding-right: 15px;
    padding-bottom: 11px;
    padding-left: 15px;
    color: white;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    line-height: 24px;
    height: auto;
    text-align: center;
    cursor: pointer;
    background: rgb(118, 129, 135);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
}
strong, b {
  font-weight: bold;
}
.topMargin{
  margin-top: 10px;
}
.fyBBrO > div {
  margin-right: 20px;
}
.fSorsF {
  background-color: rgb(246, 246, 246);
  color: rgb(82, 87, 90);
  margin-top: 20px;
  position: relative;
  font-size: 14px;
  line-height: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(223, 227, 228);
  border-image: initial;
  padding: 20px;
}
.dwILMm {
  text-align: right;
}
.kWsawe {
  cursor: pointer;
  position: absolute;
  margin-top: -10px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dVSzJV {
  margin-top: 8px;
  color: rgb(118, 129, 135);
  font-size: 12px;
  line-height: 13px;
}
