<div class="Main__Wrapper-fTNHWf fHOsuF">
  <div class="Main__Container-jeBqdM fQXNhe">
     <div class="TransferFunds__InnerWrapper-jIHYBt hvSjDn Container-gZqETv dedQyW">
        <app-sidebar-navigation></app-sidebar-navigation>
        <div class="TransferFunds__Wrapper-iAXsuO kmqWFo">
           <!-- <div class="AccountHeader__Header-dzfoXL eUFaOX">
              <div class="AccountAvatar__Container-hnDrws fGMnpS">
                 <div class="AccountAvatar__Sphere-cZYEID bZWnwk"><span class="AccountAvatar__SphereText-gbhJYI jScECE">TD</span></div>
                 <div class="AccountAvatar__Content-jJObCI cpMlqO">
                    <div class="AccountAvatar__Title-iRTHDV kUprSS">Manage Account<span class="AccountAvatar__CogContainer-eskLGc jMFmlD"><a class="AccountAvatar__CogLink-cJlgBb gDhyzX" href="/profile/user"><span aria-hidden="true" class="fa fa-cog"></span></a></span></div>
                    <div class="AccountAvatar__AccountName-iYHFiC iffCbE">{{currentUser}}</div>
                 </div>
              </div>
              <div class="OnboardingProgressView__ProgressBarContainer-kqTHQs fqMPhP">
                 <div class="OnboardingProgressView__ProgressBarWrapper-jkDAxF hhZNft">
                    <div class="OnboardingProgressView__LineGradient-bBYuQr dQgiJq">
                       <div class="OnboardingProgressView__PrimaryLine-kCtWEM cvEFaB"></div>
                       <div class="OnboardingProgressView__BlackLine-jTJNnA dTcKWJ"></div>
                    </div>
                    <div class="ProgressCircles__CirclesContainer-fXPwKk jncQVe">
                       <div class="ProgressCircles__Bubble-cUJlRI hFWenB">
                          <div>1</div>
                       </div>
                       <div class="ProgressCircles__Title-ftNeoJ iuJceP">Verify Identity</div>
                    </div>
                    <div class="ProgressCircles__CirclesContainer-fXPwKk jncQVe">
                       <div class="ProgressCircles__Bubble-cUJlRI hFWenB">
                          <div>2</div>
                       </div>
                       <div class="ProgressCircles__Title-ftNeoJ iuJceP">Verify Accreditation</div>
                    </div>
                    <div class="ProgressCircles__CirclesContainer-fXPwKk jncQVe">
                       <div class="ProgressCircles__Bubble-cUJlRI evJBiA"><img src="https://www.yieldstreet.com/static/media/check.45ffaf3c.svg"></div>
                       <div class="ProgressCircles__Title-ftNeoJ gnuzL">Link a Bank</div>
                    </div>
                    <div class="ProgressCircles__CirclesContainer-fXPwKk jncQVe">
                       <div class="ProgressCircles__Bubble-cUJlRI ctOiyt">
                          <div>4</div>
                       </div>
                       <div class="ProgressCircles__Title-ftNeoJ boLsGi">Invest</div>
                    </div>
                 </div>
              </div>
           </div> -->
           <app-manage-account-header></app-manage-account-header>
           <div class="TransferFunds__Content-iakrPW diVxBw">
              <!-- <div class="TransferFunds__Header-kdtEcZ lgSQGw">
                 <div class="TransferFunds__Title-laRkDW kaIhwm">Manage Funds</div>
                 <div class="Dropdown__Container-cUUygg dlinaM" id="transfer-funds-investor">
                    <div class="undefined false Dropdown__ActiveContainer-ftVMPU bkTGAH" data-click-id="dropdown" id="active-container">
                       <div class="Dropdown__ActiveOption-eGGXhI eguRTf" data-click-id="dropdown" id="active-option">Tushar Dhingra</div>
                       <span id="dropdown-arrow" data-click-id="dropdown" theme="secondary" aria-hidden="true" class="fa fa-angle-down Dropdown__DropdownIcon-dIxNDU ikGzXA"></span>
                    </div>
                 </div>
              </div> -->
              <app-transfer-fund-header></app-transfer-fund-header>
              <div class="ExternalBanks__Wrapper-cVUfiu hPgMQo">
                 <div class="TransferFunds__Subtitle-wkHIC hUQEze">External Bank Accounts</div>
                 <!-- <div class="container success Notification__NotificationContainer-iqncWM cPNdGL alertCon" type="success">External Bank Account successfully connected to your YieldStreet Account.<span class="Notification__Close-fJjSLz dhZfLV"></span></div> -->
                 <div class="ExternalBanks__BankWrapper-hWhCgr kYEAjR">
                    <div class="ExternalBanks__ExternalBanksWrapper-booIEF jjVZyg" id="transfer-funds-external-banks-list">
                       <div class="ExternalBanks__HeaderWrapper-kbkqki ekvVIp">
                          <div class="ExternalBanks__Item-eWsHcE dqRJFI">Account Nickname</div>
                          <div class="ExternalBanks__Item-eWsHcE dqRJFI">Bank Name</div>
                          <div class="ExternalBanks__Item-eWsHcE dqRJFI">Account Number</div>
                          <div class="ExternalBanks__Item-eWsHcE dqRJFI"></div>
                          <div class="ExternalBanks__Item-eWsHcE dqRJFI"></div>
                       </div>
                       <div class="ExternalBanks__BanksRow-kBiVRS coDwtn" *ngFor= "let bankDetails of bankAccountData">
                          <div class="ExternalBanks__Desktop-dvupgI czxaQn">
                             <div class="ExternalBanks__BanksWrapper-jYQIes fuaHUE">
                                <div class="ExternalBanks__Flex-iAohPz hYSgVD">
                                   <div class="ExternalBanks__Item-eWsHcE deJnZy">{{bankDetails.account_nick_name}}</div>
                                   <div class="ExternalBanks__Item-eWsHcE deJnZy">{{bankDetails.bank_name}}</div>
                                   <div class="ExternalBanks__Item-eWsHcE deJnZy">***********{{bankDetails.account_number}}</div>
                                   <div class="ExternalBanks__Item-eWsHcE fDDRaZ"></div>
                                   <div class="ExternalBanks__Item-eWsHcE layPgH"><span data-click-id="click-out-0" aria-hidden="true" class="fa fa-edit ExternalBanks__CTAItem-itONUF jclplD"></span><span aria-hidden="true" class="fa fa-trash ExternalBanks__CTAItem-itONUF jclplD"></span></div>
                                </div>
                             </div>
                          </div>
                          <div class="ExternalBanks__Mobile-kYmpuF dgMcWP">
                             <div class="ExternalBanks__BanksWrapper-jYQIes fuaHUE">
                                <div class="ExternalBanks__Flex-iAohPz hYSgVD">
                                   <div class="ExternalBanks__Item-eWsHcE deJnZy">
                                      <div class="ExternalBanks__MobileLabel-kbfZOO cLcbAS">Account Nickname</div>
                                      test
                                   </div>
                                   <div class="ExternalBanks__Item-eWsHcE layPgH"><span data-click-id="click-out-0" aria-hidden="true" class="fa fa-edit ExternalBanks__CTAItem-itONUF jclplD"></span><span aria-hidden="true" class="fa fa-trash ExternalBanks__CTAItem-itONUF jclplD"></span></div>
                                </div>
                                <div class="ExternalBanks__Flex-iAohPz hYSgVD">
                                   <div class="ExternalBanks__Item-eWsHcE deJnZy">
                                      <div class="ExternalBanks__MobileLabel-kbfZOO cLcbAS">Bank Name</div>
                                      ISABELLA BANK
                                   </div>
                                   <div class="ExternalBanks__Item-eWsHcE deJnZy">
                                      <div class="ExternalBanks__MobileLabel-kbfZOO cLcbAS">Account Number</div>
                                      ***********6667
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="ExternalBanks__LinkContainer-kWsNzB jEmhMz">
                      <a [routerLink]="['/new-account']" routerLinkActive="router-link-active" >
                          <p class="ExternalBanks__AddAccount-neWGU kqfSUF" id="transfer-funds-add-bank-account-link">
                            Add External Bank Account
                          </p>
                      </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
