<div class="Main__Wrapper-fTNHWf fHOsuF">
    <div class="Main__Container-jeBqdM gQKlCo">
       <div class="PortfolioContainer__Wrapper-hvqmVE ikFBWa">
          <div class="Navbar__InnerWrapper-jFgBlI cuaAbL Container-gZqETv dedQyW">
            <app-sidebar-navigation></app-sidebar-navigation>
             <div class="PortfolioContainer__ContentWrapper-bLzDll fRUPbU">
                <div class="Header__Wrapper-jGBIxR dWYIdt">
                   <div class="Header__TitleWrapper-eiGINF iWVqVB">
                      <div class="Header__Title-dLRSgy fnOXBv">
                         <div class="Breadcrumb__Container-iFkNRY gdpVpA"><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>portfolio</span><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>investments</span></div>
                      </div>
                      <div class="Header__CurrentTab-dWpQpn dQsaWW">Investments</div>
                   </div>
                   <div class="Header__DropdownWrapper-kzZVJq cMVwLP">
                      <div>
                         <div class="shared__Desktop-hjxvYk cGsOEk">
                            <div class="Investments__FilterContainer-csvBeW cPrxJq">
                               <select #keywordsInput class="dropdown  Dropdown__ActiveContainer-ftVMPU bkTGAH setFont customDopDown"
                                (change)="onRowClick()" >
                                 <option value ="all">All</option>
                                <option class="Dropdown__DropdownOptionContainer-nr8gk9-2" *ngFor= "let accData of accountData" value = {{accData.uid}}>
                                  <span class="jCuLJb">{{accData.first_name}} {{accData.title}}</span>
                                </option>
                              </select>
                            </div>
                         </div>
                         <div class="shared__Mobile-gnnfyx iORixb">
                            <div class="shared__MobileButton-HkEuD geypWD"><span aria-hidden="true" class="fa fa-filter"></span></div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="PortfolioContainer__SectionWrapper-kfBCZx jXkgWa">
                    <app-loader *ngIf="appConfig.getLoader()"></app-loader>
                    <div *ngIf= "!appConfig.getLoader()">
                      <div class="Investments__Container-gUoaLB VnLjP" *ngIf= " undefined !== accountInvestments">
                          <div >
                            <div>
                                <p class="Investments__Label-suSkU koUArz">Active Investments</p>
                                <div class="PendingTableDesktop__StyledTable-qxoTH kCVXCf desktop-table DesktopTable__Wrapper-davOaM icCAYC">
                                  <div class="DesktopTable__TableHeader-SGQqU eLqeCd">
                                      <div class="DesktopTable__TableColumn-kQTcFy hafpuL" width="425px"><span class="DesktopTable__TableText-lliHlq iPAGlM">Investment</span></div>
                                      <div class="DesktopTable__TableColumn-kQTcFy ftYXIy"><span class="DesktopTable__TableText-lliHlq iPAGlM">Term</span></div>
                                      <div class="DesktopTable__TableColumn-kQTcFy ftYXIy"><span class="DesktopTable__TableText-lliHlq iPAGlM">Interest Rate</span></div>
                                      <div class="DesktopTable__TableColumn-kQTcFy ftYXIy"><span class="DesktopTable__TableText-lliHlq iPAGlM">Investment Amount</span></div>
                                  </div>
                                  <div class="DesktopTable__TableBody-jtIoId eYMmSM">
                                    <div *ngFor="let investment of filteredArray">
                                      <div *ngFor = " let sub of investment.subscriptions">
                                        <div class="desktop-row DesktopTableRow__TableRow-bEtxgu kMQpQH" *ngIf="sub.is_payment_pending === 0">
                                          <div class="DesktopTableRow__TableColumn-cwFros gcRVDh">
                                              <div class="PendingTableDesktop__InvestmentTitle-dgbGRP gRwTuC">
                                                <a  routerLink ="/investment-details/{{investment.uid}}/{{sub.user_account_uid}}" routerLinkActive="router-link-active" >{{investment.name}}</a></div>
                                              <div class="PendingTableDesktop__InvestorName-jRDwHF PcQdF">{{investment.owner_name}}</div>
                                          </div>
                                          <div class="pending-value term DesktopTableRow__TableColumn-cwFros iIWHKI">{{investment.term}} Mo.</div>
                                          <div class="pending-value interest-rate DesktopTableRow__TableColumn-cwFros uMzOX"><span>{{investment.annual_interest}}%</span></div>
                                          <div class="pending-value amount DesktopTableRow__TableColumn-cwFros uMzOX"><span>${{sub.investment}}</span></div>
                                        </div>
                                      </div>
                                      </div>
                                      <div class="PendingTableDesktop__StyledRow-cNUUFl cVxJDE DesktopTableRow__TableRow-bEtxgu kMQpQH" *ngIf="false" >
                                        <div class="DesktopTableRow__TableColumn-cwFros hxlqyY">Pending Investment Totals</div>
                                        <div class="DesktopTableRow__TableColumn-cwFros uMzOX"></div>
                                        <div class="pending-total interest-rate DesktopTableRow__TableColumn-cwFros cntOit"><span>10%</span></div>
                                        <div class="pending-total amount DesktopTableRow__TableColumn-cwFros guMcgk"><span>$15,000.00</span></div>
                                      </div>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div>
                              <div>
                                  <p class="Investments__Label-suSkU koUArz">Pending Investments</p>
                                  <div class="PendingTableDesktop__StyledTable-qxoTH kCVXCf desktop-table DesktopTable__Wrapper-davOaM icCAYC">
                                    <div class="DesktopTable__TableHeader-SGQqU eLqeCd">
                                        <div class="DesktopTable__TableColumn-kQTcFy hafpuL" width="425px"><span class="DesktopTable__TableText-lliHlq iPAGlM">Investment</span></div>
                                        <div class="DesktopTable__TableColumn-kQTcFy ftYXIy"><span class="DesktopTable__TableText-lliHlq iPAGlM">Term</span></div>
                                        <div class="DesktopTable__TableColumn-kQTcFy ftYXIy"><span class="DesktopTable__TableText-lliHlq iPAGlM">Interest Rate</span></div>
                                        <div class="DesktopTable__TableColumn-kQTcFy ftYXIy"><span class="DesktopTable__TableText-lliHlq iPAGlM">Investment Amount</span></div>
                                    </div>
                                    <div class="DesktopTable__TableBody-jtIoId eYMmSM">
                                      <div *ngFor= "let investment of filteredArray">
                                        <div *ngFor = " let sub of investment.subscriptions">
                                          <div class="desktop-row DesktopTableRow__TableRow-bEtxgu kMQpQH" *ngIf="sub.is_payment_pending === 1" >
                                            <div class="DesktopTableRow__TableColumn-cwFros gcRVDh">
                                                <div class="PendingTableDesktop__InvestmentTitle-dgbGRP gRwTuC">
                                                  <a  routerLink ="/investment-details/{{investment.uid}}/{{sub.user_account_uid}}" routerLinkActive="router-link-active" >{{investment.name}}</a></div>
                                                <div class="PendingTableDesktop__InvestorName-jRDwHF PcQdF">{{investment.owner_name}}</div>
                                            </div>
                                            <div class="pending-value term DesktopTableRow__TableColumn-cwFros iIWHKI">{{investment.term}} Mo.</div>
                                            <div class="pending-value interest-rate DesktopTableRow__TableColumn-cwFros uMzOX"><span>{{investment.annual_interest}}%</span></div>
                                            <div class="pending-value amount DesktopTableRow__TableColumn-cwFros uMzOX"><span>${{sub.investment}}</span></div>
                                          </div>
                                        </div>
                                        </div>
                                        <div class="PendingTableDesktop__StyledRow-cNUUFl cVxJDE DesktopTableRow__TableRow-bEtxgu kMQpQH" *ngIf="false" >
                                          <div class="DesktopTableRow__TableColumn-cwFros hxlqyY">Pending Investment Totals</div>
                                          <div class="DesktopTableRow__TableColumn-cwFros uMzOX"></div>
                                          <div class="pending-total interest-rate DesktopTableRow__TableColumn-cwFros cntOit"><span>10%</span></div>
                                          <div class="pending-total amount DesktopTableRow__TableColumn-cwFros guMcgk"><span>$15,000.00</span></div>
                                        </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                      </div>
                      <div class="Investments__Container-gUoaLB VnLjP" *ngIf="undefined === accountInvestments">
                          <div class="Teaser__CompAcctContainer-hyPlEi exeJdx shared__ComponentWrapper-hNHPcs inGxEQ">
                            <h2 class="Teaser__HeaderPortfolio-fzeyQS kNqYvZ">Track performance in your Portfolio as soon as you make your first investment</h2>
                            <div class="Teaser__PictureTextContainer-jCIfQI bQuzXb">
                                <div class="ContentItem__Flex-hAdvJV joOubh">
                                  <div class="ContentItem__PortfolioImage-dpXkNY gCsApv"><img alt="Responsive Image" src="https://www.yieldstreet.com/static/media/invest-performance-gpx-2-x@3x.65b072c0.png" srcset="https://www.yieldstreet.com/static/media/invest-performance-gpx-2-x@3x.65b072c0.png 1x, https://www.yieldstreet.com/static/media/invest-performance-gpx-2-x@3x.65b072c0.png 2x"></div>
                                  <div class="ContentItem__PortfolioContentWrapper-hUJFaL eMtOAP">
                                      <div class="ContentItem__PortfolioTitle-hRBaaV eEoukw">Assess Investment Performance</div>
                                      <div class="ContentItem__PortfolioParagraph-hkhCjQ grddad">We report your account value in real time, as you accrue interest and make new investments.</div>
                                  </div>
                                </div>
                                <div class="ContentItem__Flex-hAdvJV joOubh">
                                  <div class="ContentItem__PortfolioImage-dpXkNY ONPUU"><img alt="Responsive Image" src="https://www.yieldstreet.com/static/media/transactions-gpx-2-x@3x.770cc8a2.png" srcset="https://www.yieldstreet.com/static/media/transactions-gpx-2-x@3x.770cc8a2.png 1x, https://www.yieldstreet.com/static/media/transactions-gpx-2-x@3x.770cc8a2.png 2x"></div>
                                  <div class="ContentItem__PortfolioContentWrapper-hUJFaL eMtOAP">
                                      <div class="ContentItem__PortfolioTitle-hRBaaV eEoukw">View and Download Transactions</div>
                                      <div class="ContentItem__PortfolioParagraph-hkhCjQ grddad">Track payments as they come into your YieldStreet Account or export your payment data to analyze cash flow.</div>
                                  </div>
                                </div>
                                <div class="ContentItem__Flex-hAdvJV joOubh">
                                  <div class="ContentItem__PortfolioImage-dpXkNY gCsApv"><img alt="Responsive Image" src="https://www.yieldstreet.com/static/media/invest-details-gpx@3x.e3f41c69.png" srcset="https://www.yieldstreet.com/static/media/invest-details-gpx@3x.e3f41c69.png 1x, https://www.yieldstreet.com/static/media/invest-details-gpx@3x.e3f41c69.png 2x"></div>
                                  <div class="ContentItem__PortfolioContentWrapper-hUJFaL eMtOAP">
                                      <div class="ContentItem__PortfolioTitle-hRBaaV eEoukw">View Investment Details</div>
                                      <div class="ContentItem__PortfolioParagraph-hkhCjQ grddad">Measure performance of each investment independently, view quarterly reports and download tax documents.</div>
                                  </div>
                                </div>
                                <div class="ContentItem__Flex-hAdvJV joOubh">
                                  <div class="ContentItem__PortfolioImage-dpXkNY ONPUU"><img alt="Responsive Image" src="https://www.yieldstreet.com/static/media/transfer-gpx-2-x@3x.4d98b010.png" srcset="https://www.yieldstreet.com/static/media/transfer-gpx-2-x@3x.4d98b010.png 1x, https://www.yieldstreet.com/static/media/transfer-gpx-2-x@3x.4d98b010.png 2x"></div>
                                  <div class="ContentItem__PortfolioContentWrapper-hUJFaL eMtOAP">
                                      <div class="ContentItem__PortfolioTitle-hRBaaV eEoukw">Transfer Funds</div>
                                      <div class="ContentItem__PortfolioParagraph-hkhCjQ grddad">View your YieldStreet Account Balance and transfer money between YieldStreet and any of your linked external banks.</div>
                                  </div>
                                </div>
                            </div>
                            <div class="Heading__HeadingContainer-hOOtWD ckXoti">
                                <h2 class="Heading__HeadingH2-kuBRyt hOrePZ">Since Inception, YieldStreet Investments Have An Expected<span> 12.63%<a class="IRR__StyledAnchor-kbEfdt hysIUH AnchorLink__Anchor-gvnPRg dbwGLr" href="#sup2">2</a> IRR </span></h2>
                                <div class="Heading__HeadingInnerDiv-btnnfZ jXryFJ"></div>
                                <span class="Heading__HeadingInnerSpan-kyHyx gqYavA">See why our average investor has more than 4 investments.</span>
                            </div>
                            <div class="Teaser__ButtonWrapper-dCRhbV cQktSg">
                              <a [routerLink]="['/offerings']" routerLinkActive="router-link-active" >
                                <button class="PrimaryButton__ButtonPrimary-exVhhh jcEjeY" id="cta-browse-offering">
                                  Browse Offerings
                                  <img class="PrimaryButton__Arrow-bFuMQr cjfbRg" src="https://www.yieldstreet.com/static/media/arrow.bd5e780d.svg" alt="">
                                </button>
                              </a>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
             </div>
          </div>
       </div>
    </div>
 </div>
