
    <div class="reset-password-conatiner">
       <div class="reset_box">
          <div class="alert alert-danger resetfail" *ngIf = "apiError">
              <strong><i class="fa fa-times-circle"></i></strong> {{apiMessage}} <a routerLink="/forgetpassword"> Click here </a> to Reset
            </div>
            <div class="alert alert-success resetfail" *ngIf = "successFlag">
              <strong><i class="fa fa-check-circle"></i></strong>{{apiMessage}} <a routerLink="/login"> Click here </a> to login
            </div>
         <form  name = "form" (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="!apiError || !successFlag">
          <h4 class="Login_title_1onnH">Set new password</h4>
          <div class="InputText_container_3aVsF"><label class="InputText_label_1GzgQ"></label>
            <input type="text" placeholder="Enter new password" name="pass" required class="InputText_input_4_Ga4 InputText_fullWidth_1VNFm"
                [(ngModel)]="model.password" #pass ="ngModel">
            <div *ngIf="pass.errors?.required && pass.touched" class="InputText_errorMessage_1WBY1">{{requiredError}}</div>
          </div>
          <div class="InputText_container_3aVsF  "><label class="InputText_label_1GzgQ"></label>
            <input type="text" placeholder="Confirm new password" name="confirmPass" required class="InputText_input_4_Ga4 InputText_fullWidth_1VNFm"
              [(ngModel)]="model.confirmPass" #confirmPass ="ngModel">
            <div *ngIf="confirmPass.errors?.required && confirmPass.touched" class="InputText_errorMessage_1WBY1">{{requiredError}}</div>
            <div *ngIf="pass.value != confirmPass.value && confirmPass.touched" class="InputText_errorMessage_1WBY1">Password doesn't match</div>
          </div>
          <!-- <div *ngIf = "userIdOrPassEntered"class="Notification_container_HOuP1 Notification_error_3zkZR">Wrong email or password.<span (click)="errorClose()" aria-hidden="true" class="fa fa-times Notification_close_1a2bS"></span></div> -->
          <div class="Login_loginBtn_ReJvI">
            <button type = "submit" class="sc-bwzfXH hXtgmJ" id="login-login">Set new password</button></div>
          </form>
       </div>
    </div>
