<div class="Header_container_musJw">
   <div>
      <div class="Header_hamburger_3W0VD">
         <div class="Hamburger_hamburger_3Ior- null"><span class="Hamburger_meat_219A-"></span></div>
      </div>
      <div class="Header_logo_gHI83"><a routerLink="/"><img width="145" src="../../../assets/ProjYield.png" alt="YieldStreet"></a></div>
   </div>
   <div class="Header_primaryNav_3RqeR">
      <div class="Header_desktop_1iNkc">
         <div class="PrimaryNavigation_bg_1IjAT PrimaryNavigation_hideBg_3geZI">
            <div class="PrimaryNavigation_menuInactive_1q9lW PrimaryNavigation_menuSlide_256Fj">
               <div *ngIf="!isUserLoggedIn" class="PrimaryNavigation_signButtons_1UcV_">
                   <button class="sc-bdVaJa iGTUbO">
                       <a routerLink="/login">Login</a>
                    </button>
                    <button class="sc-bdVaJa iGTUbO">
                        <a routerLink="/signup">Sign Up</a>
                    </button>
                </div>
                <div *ngIf="isUserLoggedIn" class="PrimaryNavigation_signButtons_1UcV_">
                        <button class="sc-bdVaJa iGTUbO">
                            <a routerLink="/" (click)=logOutUser()>Log out</a>
                         </button>
                </div>
               <div class="PrimaryNavigation_menus_A1QH_">
                  <div class="PrimaryNavigation_menuItem_2IOWG"><span class="PrimaryNavigationTitle_title_24E-A"><span class="onClicknav"><a class="" routerLink="/offerings">Investment Offerings</a></span></span></div>
                  <div *ngIf="!isUserLoggedIn" class="PrimaryNavigation_menuItem_2IOWG">
                      <span class="PrimaryNavigationTitle_title_24E-A">
                          <span class="onClicknav">
                              <a class="" routerLink="/why-yieldstreet">Why YieldStreet</a>
                            </span>
                        </span>
                    </div>
                    <div *ngIf="isUserLoggedIn" class="PrimaryNavigation_menuItem_2IOWG">
                            <span class="PrimaryNavigationTitle_title_24E-A">
                                <span class="onClicknav">
                                    <a class="" routerLink="/viewportfolio">View Portfolio</a>
                                </span>
                            </span>
                    </div>
                    <div *ngIf="isUserLoggedIn" class="PrimaryNavigation_menuItem_2IOWG">
                            <span class="PrimaryNavigationTitle_title_24E-A">
                                <span class="onClicknav">
                                    <a class="" routerLink="/account">Manage Account</a>
                                </span>
                            </span>
                    </div>
                  <div class="PrimaryNavigation_menuItem_2IOWG"><span class="PrimaryNavigationTitle_title_24E-A"><span class="onClicknav"><a class="" routerLink="/investment-philosophy">Investment Philosophy</a></span></span></div>
                  <div *ngIf="!isUserLoggedIn" class="PrimaryNavigation_menuItem_2IOWG"><span class="PrimaryNavigationTitle_title_24E-A"><span class="onClicknav"><a class="" routerLink="/about">About Us</a></span></span></div>
                  <!-- <div class="PrimaryNavigation_menuItem_2IOWG"><span class="PrimaryNavigationTitle_title_24E-A"><span class="onClicknav"><a class="" routerLink="/support-center">Resources</a></span><span><span class="PrimaryNavigationTitle_icon_zdOSZ"><span aria-hidden="true" class=""></span></span><span class="PrimaryNavigationTitle_subtitle_39aOC"></span></span></span></div> -->
               </div>
            </div>
         </div>
      </div>
      <div class="Header_mobile_l11Oe">
         <div class="PrimaryNavigation_bg_1IjAT PrimaryNavigation_hideBg_3geZI">
            <div class="PrimaryNavigation_menuInactive_1q9lW PrimaryNavigation_menuSlide_256Fj">
               <div *ngIf="!isUserLoggedIn" class="PrimaryNavigation_signButtons_1UcV_">
                   <button class="sc-bdVaJa iGTUbO">
                       <a routerLink="login/login">Login</a>
                    </button>
                    <button class="sc-bdVaJa iGTUbO">
                        <a routerLink="signup/signup">Sign Up</a>
                    </button>
                </div>
                <div *ngIf="isUserLoggedIn" class="PrimaryNavigation_signButtons_1UcV_">
                        <button class="sc-bdVaJa iGTUbO">
                            <a routerLink="/" (click)=logOutUser()>Log out</a>
                         </button>
                </div>
               <div class="PrimaryNavigation_menus_A1QH_">
                  <div class="PrimaryNavigation_menuItem_2IOWG">
                     <span class="PrimaryNavigationTitle_title_24E-A">
                        <span>
                           <span class="PrimaryNavigationTitle_icon_zdOSZ"><span aria-hidden="true" class="fa fa-angle-down">
                           </span>
                        </span>
                           <span class="PrimaryNavigationTitle_subtitle_39aOC">
                              <div class="PrimaryNavigation_subMenu_bUqEr">
                                 <div class="PrimaryNavigationSection_item_1C24o undefined">
                                    <li class="null PrimaryNavigationItem_item_3AfAB"><a routerLink="/offerings">Investment Offerings</a></li>
                                    <li *ngIf="!isUserLoggedIn" class="null PrimaryNavigationItem_item_3AfAB"><a routerLink="/why-yieldstreet">Why YieldStreet</a></li>
                                    <li *ngIf="isUserLoggedIn " class="null PrimaryNavigationItem_item_3AfAB"><a routerLink="/">View Portfolio</a></li>
                                    <li *ngIf="isUserLoggedIn " class="null PrimaryNavigationItem_item_3AfAB"><a routerLink="manageaccount">Manage Account</a></li>
                                    <li class="null PrimaryNavigationItem_item_3AfAB"><a routerLink="/investment-philosophy">Investment Philosophy</a></li>
                                    <li *ngIf="!isUserLoggedIn" class="null PrimaryNavigationItem_item_3AfAB"><a routerLink="/about">About Us</a></li>
                                 </div>
                              </div>
                           </span>
                        </span>
                     </span>
                  </div>
                  <!-- <div class="PrimaryNavigation_menuItem_2IOWG">
                     <span class="PrimaryNavigationTitle_title_24E-A">
                        <span class="onClicknav"><a class="" routerLink="/support-center">Resources</a></span>
                        <span>
                           <span class="PrimaryNavigationTitle_icon_zdOSZ"><span aria-hidden="true" class="fa fa-angle-down"></span></span>
                           <span class="PrimaryNavigationTitle_subtitle_39aOC">
                              <div class="PrimaryNavigation_subMenu_bUqEr">
                                 <div class="PrimaryNavigationSection_item_1C24o undefined">
                                    <li class="null PrimaryNavigationItem_item_3AfAB"><a routerLink="/support-center">FAQ</a></li>
                                    <li class="null PrimaryNavigationItem_item_3AfAB"><a routerLink="/university">University</a></li>
                                 </div>
                              </div>
                           </span>
                        </span>
                     </span>
                  </div> -->
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="LoginArea_loginArea_3tSKA">
      <div *ngIf="!isUserLoggedIn" class="LoginArea_signupButton_1DDAX">
          <a class="LoginArea_login_1L4C0" id="header-login" routerLink="/login">Log in</a>
          <a id="header-signuplink" routerLink="/signup">
            <button class="sc-bwzfXH fSaDtr" id="header-signup">Sign Up</button></a>
        </div>
        <div *ngIf="isUserLoggedIn" class="LoginArea_signupButton_1DDAX">
                <a class="LoginArea_login_1L4C0" id="header-login" routerLink="/"(click)=logOutUser()>Log out</a>
        </div>
   </div>
</div>
