<div class="AccountHeader__Header-dzfoXL eUFaOX">
  <div class="AccountAvatar__Container-hnDrws fGMnpS">
     <div class="AccountAvatar__Sphere-cZYEID bZWnwk"><span class="AccountAvatar__SphereText-gbhJYI jScECE">TD</span></div>
     <div class="AccountAvatar__Content-jJObCI cpMlqO">
        <div class="AccountAvatar__Title-iRTHDV kUprSS">Manage Account<span class="AccountAvatar__CogContainer-eskLGc jMFmlD"><a class="AccountAvatar__CogLink-cJlgBb gDhyzX" href="/profile/user"><span aria-hidden="true" class="fa fa-cog"></span></a></span></div>
        <div class="AccountAvatar__AccountName-iYHFiC iffCbE">Tushar Dhingra</div>
     </div>
  </div>
  <div class="OnboardingProgressView__ProgressBarContainer-kqTHQs fqMPhP">
     <div class="OnboardingProgressView__ProgressBarWrapper-jkDAxF hhZNft">
        <div class="OnboardingProgressView__LineGradient-bBYuQr dQgiJq">
           <div class="OnboardingProgressView__PrimaryLine-kCtWEM jYObjW"></div>
           <div class="OnboardingProgressView__BlackLine-jTJNnA jyrZlk"></div>
        </div>
        <div class="ProgressCircles__CirclesContainer-fXPwKk jncQVe">
           <div class="ProgressCircles__Bubble-cUJlRI ctOiyt">
              <div>1</div>
           </div>
           <div class="ProgressCircles__Title-ftNeoJ boLsGi">Verify Identity</div>
        </div>
        <div class="ProgressCircles__CirclesContainer-fXPwKk jncQVe">
           <div class="ProgressCircles__Bubble-cUJlRI hFWenB">
              <div>2</div>
           </div>
           <div class="ProgressCircles__Title-ftNeoJ iuJceP">Verify Accreditation</div>
        </div>
        <div class="ProgressCircles__CirclesContainer-fXPwKk jncQVe">
           <div class="ProgressCircles__Bubble-cUJlRI hFWenB">
              <div>3</div>
           </div>
           <div class="ProgressCircles__Title-ftNeoJ iuJceP">Link a Bank</div>
        </div>
        <div class="ProgressCircles__CirclesContainer-fXPwKk jncQVe">
           <div class="ProgressCircles__Bubble-cUJlRI hFWenB">
              <div>4</div>
           </div>
           <div class="ProgressCircles__Title-ftNeoJ iuJceP">Invest</div>
        </div>
     </div>
  </div>
</div>