<div class="Navbar__NavbarWrapper-gvcNVs jdzcjd">
  <ul  class="Navbar__Wrapper-kOBqOU inRjwF">
     <li  class="NavItem__ListItem-jObUkA eZhMjM">
        <a aria-current="false" routerLink="/viewportfolio" >
           <img  class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/OverviewActive.b3840050.svg">
           <img  class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/OverviewDefault.b4fc387f.svg">
           <div  class="title NavItem__TabTitle-jsVGJM eJexFz">Overview</div>
        </a>
     </li>
     <li class="NavItem__ListItem-jObUkA eZhMjM">
        <a aria-current="false" routerLink="/investments" >
           <img  class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/InvestmentsActive.1aea9b0f.svg">
           <img  class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/InvestmentsDefault.2650c329.svg">
           <div  class="title NavItem__TabTitle-jsVGJM eJexFz">Investments</div>
        </a>
     </li>
     <li  class="NavItem__ListItem-jObUkA eZhMjM">
        <a  aria-current="false" class="" routerLink="/wallet">
           <img  class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/WalletActive.80210110.svg">
           <img  class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/WalletDefault.0e0c70c6.svg">
           <div  class="title NavItem__TabTitle-jsVGJM eJexFz">Wallet</div>
        </a>
     </li>
     <li  class="NavItem__ListItem-jObUkA eZhMjM">
        <a  aria-current="false" class="" routerLink="/funds">
           <img  class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ManageFundsActive.cb837e75.svg">
           <img  class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ManageFundsDefault.8dad5e3a.svg">
           <div  class="title NavItem__TabTitle-jsVGJM eJexFz">Transfer Funds</div>
        </a>
     </li>
     <!-- <li  class="NavItem__ListItem-jObUkA eZhMjM">
        <a  aria-current="false" class="" routerLink="/">
           <img  class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ReportsActive.a6f721c1.svg"><img  class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ReportsDefault.183daf3d.svg">
           <div  class="title NavItem__TabTitle-jsVGJM eJexFz">Reports</div>
        </a>
     </li> -->
     <li  class="NavItem__ListItem-jObUkA eZhMjM">
        <a  aria-current="true" class="" routerLink="/transactions">
           <img  class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/TransactionsActive.136ccf21.svg">
           <img  class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/TransactionsDefault.1a96eba4.svg">
           <div  class="title NavItem__TabTitle-jsVGJM eJexFz">Transactions</div>
        </a>
     </li>
     <li  class="NavItem__ListItem-jObUkA eZhMjM">
        <a  aria-current="false" class="" routerLink="/account" >
           <img  class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ManageInvestorsActive.9f98461a.svg">
           <img  class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ManageInvestorsDefault.05f4f95a.svg">
           <div  class="title NavItem__TabTitle-jsVGJM eJexFz">Manage Accounts</div>
        </a>
     </li>
     <!-- <li  class="NavItem__ListItem-jObUkA eZhMjM">
        <a  aria-current="false" class="" routerLink="/">
           <img  class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/TaxCenterActive.3da60d3d.svg"><img  class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/TaxCenterDefault.4257e649.svg">
           <div  class="title NavItem__TabTitle-jsVGJM eJexFz">Tax Center</div>
        </a>
     </li> -->
     <!-- <li  class="NavItem__ListItem-jObUkA eZhMjM">
        <a  href="mailto:investments@yieldstreet.com">
           <img  class="activeSVG NavItem__TabIcon-eugFOX iWUARF"><img  class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ContactDefault.a091529a.svg">
           <div  class="title NavItem__TabTitle-jsVGJM eJexFz">Contact Us</div>
        </a>
     </li> -->
  </ul>
</div>