<div class="ForgotPassword_container_2r2uf">
    <a class="ForgotPassword_signIn_1zR_t" href="/signup">
    </a>
    <!-- <a><img class="ForgotPassword_image_2_nL6" src="https://www.yieldstreet.com/static/media/logo-vertical.19c68260.svg" width="170" alt="YieldStreet"></a> -->
    <div class="ForgotPassword_box_beQGR">
        <div class="alert alert-success forgetSuccess" *ngIf = "forgetPassSuccess === 'success'">
            <strong><i class="fa fa-check-circle"></i></strong> Ok, {{apiMessage}}
         </div>
         <div class="alert alert-danger forgetSuccess" *ngIf = "forgetPassSuccess === 'fail' ">
            <strong><i class="fa fa-times-circle"></i></strong> Sorry, {{apiMessage}}
         </div>
        <h4 class="ForgotPassword_title_3AC67">Reset your password</h4>
        <div>
            <form (submit)="resetUser()" #f="ngForm" novalidate >
            <div class="InputText_container_3aVsF">
                <label class="InputText_label_1GzgQ"></label>
                <input type="text"
                  placeholder="Email Address"
                  pattern ="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  name="user_email" [(ngModel)]="model.email" #user_email="ngModel" required
                  class="InputText_input_4_Ga4 InputText_fullWidth_1VNFm">
                <div *ngIf="user_email.errors?.required && user_email.touched" class="InputText_errorMessage_1WBY1">{{userDisError}}</div>
                <div *ngIf="user_email.errors?.pattern && user_email.touched" class="InputText_errorMessage_1WBY1">{{emailDisError}}</div>
            </div>
            <!-- <div *ngIf = "userIdOrPassEntered" class="Notification_container_HOuP1 Notification_error_3zkZR">No user found with email {{eMail}}.<span (click)="errorClose()" aria-hidden="true" class="fa fa-times Notification_close_1a2bS"></span></div> -->
              <div class="ForgotPassword_resetBtn_HjUdr">
                  <button type="submit" class="sc-bwzfXH hXtgmJ" id="forgotpassword-reset"
                  [disabled]="!f.valid" [ngClass]= "f.invalid ? 'btn-disabled' :'hXtgmJ'" >
                    Reset Password
                  </button>
              </div>
            </form>
        </div>
    </div>
</div>
