<br><br><br><br>
<div class="ForgotPassword_container_2r2uf">
    <a class="ForgotPassword_signIn_1zR_t" href="/signup">
    </a>
    <a href="/"><img class="ForgotPassword_image_2_nL6" src="https://www.yieldstreet.com/static/media/logo-vertical.19c68260.svg" width="170" alt="YieldStreet"></a>
    <div class="ForgotPassword_box_beQGR">
        <h4 class="ForgotPassword_title_3AC67">Forgot your password?</h4>
        <div>
            <form (submit)="resetUser($event)">
            <div class="undefined InputText_container_3aVsF  null">
                <label class="InputText_label_1GzgQ"></label>
                <input type="text" min="4" max="Infinity" placeholder="Email Address" name="email" required="" (input)="validateEmail($event.target.value)" 
                class="InputText_input_4_Ga4 InputText_fullWidth_1VNFm" value="" [class.InputText_error-email_1I8MI]="emailError">
                <div *ngIf="userIdError"class="InputText_errorMessage_1WBY1">{{userDisError}}</div>
            </div>
            <div *ngIf = "userIdOrPassEntered"class="Notification_container_HOuP1 Notification_error_3zkZR">No user found with email {{eMail}}.<span (click)="errorClose()" aria-hidden="true" class="fa fa-times Notification_close_1a2bS"></span></div>
            <div class="ForgotPassword_resetBtn_HjUdr">
                <button type="submit" class="sc-bwzfXH hXtgmJ" id="forgotpassword-reset">Reset Password</button>
            </div>
            </form>
        </div>
    </div>
</div>