<br><br><br><br><br><br>
<div class="main">
  <div>
     <div class="originator-submit-application ">
        <div class="container">
          <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
            <div class="row col-sm-8" >
                <h3>New application</h3>
                <div class="registration-container">
                  <div class="card">
                      <div class="card-header">
                        <div class="card-title">Primary Contact</div>
                      </div>
                      <div class="card-body">
                            <label class="input-base">
                              <span>
                                  <span>First name</span>
                                  <i>*</i>
                              </span>
                              <input type="text" name="firstName" placeholder="First name" maxlength="255" class="input-text"
                                [(ngModel)]="model.firstName" #firstName="ngModel" required="required" >
                              <span class="input-text-tooltip ng-hide" > </span><a class="input-text-tooltip ng-hide" href=""></a>
                              <ul class="error-msg ng-hide" *ngIf="false">
                              </ul>
                            </label>
                            <label class="input-base" >
                              <span>
                                  <span class="">Last name</span>
                                  <i >*</i>
                              </span>
                              <input type="text" name="lastName" placeholder="Last name" maxlength="255"
                                [(ngModel)]="model.lastName" #lastName="ngModel"class="input-text input-text" required="required">
                              <span class="input-text-tooltip ng-hide" >
                              </span><a class="input-text-tooltip ng-hide" href=""></a>
                              <ul class="error-msg">
                              </ul>
                            </label>
                            <label class="input-base">
                              <span>
                                  <span class="">Title</span>
                                  <i >*</i>
                              </span>
                              <input type="text" name="title" placeholder="CEO, CFO, Portfolio Manager, etc." maxlength="255"
                                [(ngModel)]="model.title" #title="ngModel" class="length input-text" required="required" >
                              <span class="input-text-tooltip ng-hide" >
                              </span>
                              <a class="input-text-tooltip ng-hide" href="">
                              </a>
                              <ul class="error-msg ng-hide">
                              </ul>
                            </label>
                            <label class="input-base" >
                              <span>
                                  <span class="">Phone number</span>
                                  <i >*</i>
                              </span>
                              <input type="text" name="phoneNumber" placeholder="Phone number" maxlength="255"
                                  [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel" class="input-text" required="required" >
                              <a class="input-text-tooltip ng-hide" href=""></a>
                              <ul class="error-msg ng-hide" >
                              </ul>
                            </label>
                            <label class="input-base" >
                              <span>
                                  <span class="">Email</span>
                                  <i>*</i>
                              </span>
                              <input type="text" name="emailAddress" placeholder="Email address" maxlength="255"
                                [(ngModel)]="model.emailAddress" #emailAddress="ngModel" class="input-text" required="required">
                               <span class="input-text-tooltip ng-hide">
                               </span><a class="input-text-tooltip ng-hide" href="">
                               </a>
                              <ul class="error-msg ng-hide"  >
                              </ul>
                            </label>

                            <div class="dropdown-combobox input-select">
                              <label class="input-base">
                                  <span ng-show="showLabel">
                                    <span class="">How did you hear about us?</span>
                                    <i >*</i>
                                  </span>
                                  <select class="btn btn-default dropdown-toggle portal-inputs__btn ng-binding" name ="referralSource" [(ngModel)]= "model.referralSource" #referralSource = "ngModel" >
                                    <option>Recommended by Friend/Colleague</option>
                                    <option>Newspaper or magazine article</option>
                                    <option>Search Engine (Google, Bing, Yahoo, etc.)</option>
                                    <option>Social media (Facebook, Twitter, LinkedIn, Quora)</option>
                                    <option>Conference / Event</option>
                                    <option>Postcard/Mailer</option>
                                    <option>Business Contact</option>
                                    <option>Millennium Trust</option>
                                    <option>In-flight Video</option>
                                    <option>Other</option>
                                  </select>
                              </label>
                              <ul class="error-msg ng-hide"  >
                              </ul>
                            </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header">
                        <div class="card-title">Company Information</div>
                      </div>
                      <div class="card-body">
                            <label class="input-base" >
                              <span>
                                  <span class="">Company name</span>
                                  <i>*</i>
                              </span>
                              <input type="text" name="companyName" placeholder="Company name" maxlength="255"
                              [(ngModel)]="model.companyName" #companyName = "ngModel" class="input-text" required="required">
                              <span class="input-text-tooltip ng-hide">
                              </span>
                              <a class="input-text-tooltip ng-hide">
                              </a>
                              <ul class="error-msg ng-hide">
                              </ul>
                            </label>
                            <label class="input-base" >
                              <span>
                                  <span class="">Company website</span>
                                  <i>*</i>
                              </span>
                              <input type="text" name="companyWebsite" placeholder="Company website" maxlength="255"
                                [(ngModel)]="model.companyWebsite" #companyWebsite = "ngModel" class="input-text" required="required">
                              <span class="input-text-tooltip">
                              </span>
                              <a class="input-text-tooltip"></a>
                              <ul class="error-msg ng-hide">
                              </ul>
                            </label>
                            <label class="input-base" >
                              <span>
                                  <span class="">The company has been in business since</span>
                                  <i>*</i>
                              </span>
                              <input type="text" name="established" placeholder="1986" maxlength="255"
                              [(ngModel)]="model.established" #established = "ngModel" class="input-text" required="required">
                              <span class="input-text-tooltip">
                              </span>
                              <a class="input-text-tooltip"></a>
                              <ul class="error-msg">
                              </ul>
                            </label>
                            <div class="fake-input-text">
                              <label class="input-base">
                                  <span>
                                    <span class="">Total loans originated since inception</span>
                                    <i>*</i>
                                  </span>
                                  <input type="text" name="totalLoans"  placeholder="1,500,000"
                                  [(ngModel)]="model.totalLoans" #totalLoans = "ngModel" class="input-text" required="required" >
                              </label>
                            </div>
                            <div class="fake-input-text">
                              <label class="input-base">
                                  <span>
                                    <span class="">Current loan book or asset value</span>
                                    <i>*</i>
                                  </span>
                                  <input type="text" name="currentAssetValue" placeholder="1,500,000" class="input-text"
                                  [(ngModel)]="model.currentAssetValue" #currentAssetValue = "ngModel" required="required" >
                              </label>
                            </div>
                            <label class="input-base" >
                              <span>
                                  <span class="">Description of the company</span>
                                  <i ng-show="required" class="ng-hide" >*</i>
                              </span>
                              <textarea name="description"  placeholder="Company description" [(ngModel)]="model.companyDescription" #companyDescription = "ngModel" ></textarea>
                              <div ng-if="maxChars" class="chars-left ng-binding " >140 characters left</div>
                            </label>
                        <div class="input-base" >
                            <span>Please select the asset classes the company conducts business in:<i>*</i>
                            </span>
                            <!-- <p class="error-message ng-hide">Please select at least one option</p> -->
                            <div class="input-checkbox">
                              <label>
                                <input type="checkbox" name="legalClass" [(ngModel)]="model.legalClass" #legalClass = "ngModel" value="Legal">
                                <div class="checkbox-label ng-binding">Legal</div>
                              </label>
                              <br>
                              <label>
                                  <input type="checkbox" name="reClass" [(ngModel)]="model.reClass" #reClass = "ngModel" value="Real Estate">
                                  <div class="checkbox-label ng-binding">Real Estate</div>
                              </label>
                              <br>
                              <label>
                                  <input type="checkbox" name="commClass" [(ngModel)]="model.commClass" #commClass = "ngModel" value="Commercial">
                                  <div class="checkbox-label ng-binding">Commercial</div>
                              </label>
                              <br>
                              <label>
                                  <input type="checkbox" name="consClass" [(ngModel)]="model.consClass" #consClass = "ngModel" value="Consumer">
                                  <div class="checkbox-label ng-binding">Consumer</div>
                              </label>
                              <br>
                              <label>
                                  <input type="checkbox" name="marClass" [(ngModel)]="model.marClass" #marClass = "ngModel" value="Marine">
                                  <div class="checkbox-label ng-binding">Marine</div>
                              </label>
                            </div>
                          </div>
                            <label class="input-base" >
                              <span>
                                 <i>*</i>
                              </span>
                              <input type="text" name="otherAssets" placeholder="List asset classes (separated by comma)" maxlength="255"
                              [(ngModel)]="model.otherAssets" #otherAssets = "ngModel" class="input-text">
                              <span class="input-text-tooltip">
                              </span>
                              <a class="input-text-tooltip">
                              </a>
                              <ul class="error-msg">
                              </ul>
                            </label>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header">
                        <div class="card-title">Loan details</div>
                      </div>
                      <div class="card-body">
                        <p>If you have a specific project in mind that you would like to fund with YieldStreet, please tell us about it below. Otherwise, give us a sense of what your typical projects look like.</p>
                        <label class="input-base">
                            <span>Financing type</span>
                            <p>We currently only accept debt-based projects with tangible collateral.</p>
                              <div class="radio ys-radio">
                        <label>
                          <input type="radio" name="debt" [(ngModel)]="model.debt" #debt = "ngModel" value="debt">
                          <span class="radio-btn">
                          </span>
                          <p>
                            <span class="">Debt</span>
                          </p>
                        </label>
                      </div>
                            <div class="radio ys-radio">
                              <label>
                                  <input type="radio" name="equity" [(ngModel)]="model.equity" #equity = "ngModel" value="equity">
                                  <span class="radio-btn"></span>
                                  <p>
                                    <span class="">Equity</span>
                                  </p>
                              </label>
                            </div>
                        </label>
                            <div class="fake-input-text">
                              <label class="input-base" >
                                  <span>
                                    <span class="">Loan size </span><small class="">How much are you planning to raise for this (or your typical) loan?</small>
                                    <i ng-show="required">*</i>
                                  </span>
                                  <input type="text" name="loanSize" placeholder="1,500,000" [(ngModel)]="model.loanSize" #loanSize = "ngModel" >
                              </label>
                            </div>
                            <label class="input-base" >
                              <span>
                                  <span class="">Loan term </span><small class="">What are your expectations for this (or your typical) loan, in months?</small>
                                  <i >*</i>
                              </span>
                              <input type="text" name="loanTerm" placeholder="e.g 16 "
                                [(ngModel)]="model.loanTerm" #loanTerm = "ngModel" maxlength="255" class="input-text" required="required">
                              <span class="input-text-tooltip">
                              </span><a class="input-text-tooltip"></a>
                              <ul class="error-msg">
                              </ul>
                            </label>
                            <label class="input-base" >
                              <span>
                                  <span class="">Interest rate</span>
                                  <i >*</i>
                              </span>
                              <input type="text" name="interestRate" placeholder="e.g. 8%" maxlength="255"
                              [(ngModel)]="model.interestRate" #interestRate = "ngModel" class="input-text" required="required">
                              <span class="input-text-tooltip"></span>
                              <a class="input-text-tooltip"></a>
                              <ul class="error-msg"  >
                              </ul>
                            </label>
                            <label class="input-base" >
                              <span>
                                  <span class="">Description of assets</span>
                                  <i ng-show="required">*</i>
                              </span>
                              <textarea name="assetDescription"  placeholder="Description of underlying collateral"
                              [(ngModel)]="model.assetDescription" #assetDescription = "ngModel" required="required" ></textarea>
                            </label>
                        <label class="input-base">
                            <span>Is this an existing loan?</span>
                            <p>Are you selling an existing loan or funding a new one?</p>
                              <div class="radio ys-radio">
                        <label>
                          <input type="radio" name="existingLoan" [(ngModel)]="model.existingLoan" #existingLoan = "ngModel" value="true">
                          <span class="radio-btn"></span><p><span class="">Yes</span></p></label>
                        </div>
                            <div class="radio ys-radio">
                              <label>
                                  <input type="radio" name="existingLoan" [(ngModel)]="model.existingLoan" #existingLoan = "ngModel" value="false"><span class="radio-btn"></span>
                                  <p>
                                    <span class="">No</span>
                                  </p>
                              </label>
                            </div>
                        </label>
                            <label class="input-base" >
                              <span>
                                  <span class="">Sponsor equity </span><small class="">How much equity in the loan will you retain (or what do you typically do)?</small>
                                  <i >*</i>
                              </span>
                              <input type="text" name="sponsorEquity" placeholder="e.g. 2%" maxlength="255"  class="input-text" required="required" > <span class="input-text-tooltip ng-hide"> </span><a class="input-text-tooltip ng-hide" fancy-box-video="" href=""></a>
                              <ul class="error-msg ng-hide"  >
                              </ul>
                            </label>
                      </div>
                  </div>
                  <div class="card originator-navigation">
                      <div class="card-body">
                        <div class="pull-right">
                          <button  type ="submit" class="ys-button ys-button--primary ng-binding" >SUBMIT</button></div>
                        <div class="clearfix"></div>
                      </div>
                  </div>
                </div>
            </div>
            </form>
        </div>
     </div>
  </div>
</div>
