<div class="Main__Wrapper-fTNHWf fHOsuF">
    <div class="Main__Container-jeBqdM gQKlCo">
       <div class="PortfolioContainer__Wrapper-hvqmVE ikFBWa" *ngIf="false">
          <div class="Navbar__InnerWrapper-jFgBlI cuaAbL Container-gZqETv dedQyW">
            <app-sidebar-navigation></app-sidebar-navigation>
            <app-loader *ngIf="appConfig.getLoader()"></app-loader>
             <div class="PortfolioContainer__ContentWrapper-bLzDll fRUPbU" *ngIf= "!appConfig.getLoader()" >
                <div class="Header__Wrapper-jGBIxR dWYIdt">
                   <div class="Header__TitleWrapper-eiGINF iWVqVB">
                      <div class="Header__Title-dLRSgy fnOXBv">
                         <div class="Breadcrumb__Container-iFkNRY gdpVpA"><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>portfolio</span><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>investments</span><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>Investment Details</span></div>
                      </div>
                      <div class="Header__CurrentTab-dWpQpn dQsaWW">{{investmentOfferingDetails.service.name}}</div>
                   </div>
                   <div class="Header__DropdownWrapper-kzZVJq cMVwLP"></div>
                </div>
                <div class="PortfolioContainer__SectionWrapper-kfBCZx jXkgWa">
                   <div>
                      <div class="Overview__Wrapper-jmeSor hFiCDe">
                         <div class="Overview__ContentWrapper-eeNvPM dmErfv">
                            <div>
                               <div class="shared__ComponentWrapper-hNHPcs cfYEto">
                                  <div class="InvestmentDetailsComponent__Flex-gqBHsE cIvssv">
                                     <h2 class="InvestmentDetailsComponent__ComponentHeader-hXScBQ cvmefl">Investment Details</h2>
                                     <a routerLink="/offering-detail/{{investmentOfferingDetails.service.uid}}" routerLinkActive="router-link-active" >
                                        <div class="InvestmentDetailsComponent__OriginalOffering-hgJrrT lbpClL">View Original Offering</div>
                                     </a>
                                  </div>
                                  <div class="InvestmentDetailsComponent__RowContainer-qiVjG ksbCRB">
                                     <div class="InvestmentDetailsComponent__Flex-gqBHsE cIvssv">
                                        <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq">
                                           <dd>{{investmentOfferingDetails.service.annual_interest}}%</dd>
                                           <dt>Target Interest Rate</dt>
                                        </dl>
                                        <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq">
                                           <dd>{{investmentOfferingDetails.service.remaining_term}} Mo.</dd>
                                           <dt>Estimated Term Remaining</dt>
                                        </dl>
                                     </div>
                                  </div>
                                  <!-- <div class="InvestmentDetailsComponent__RowContainer-qiVjG ksbCRB">
                                     <div class="InvestmentDetailsItem__Flex-hzkPGS jyXbON">
                                        <div class="InvestmentDetailsItem__LeftText-HuGiz dYvagt">Asset Class</div>
                                        <div class="InvestmentDetailsItem__BottomLine-cMPcci ctETmp"></div>
                                        <div class="InvestmentDetailsItem__RightText-eXlzpA lGhJn">Marine</div>
                                     </div>
                                  </div> -->
                                  <div class="InvestmentDetailsComponent__RowContainer-qiVjG ksbCRB">
                                     <div class="InvestmentDetailsItem__Flex-hzkPGS jyXbON">
                                        <div class="InvestmentDetailsItem__LeftText-HuGiz dYvagt">Payment Type</div>
                                        <div class="InvestmentDetailsItem__BottomLine-cMPcci ctETmp"></div>
                                        <div class="InvestmentDetailsItem__RightText-eXlzpA lGhJn">Monthly</div>
                                     </div>
                                  </div>
                                  <div class="InvestmentDetailsComponent__RowContainer-qiVjG ksbCRB">
                                     <div class="InvestmentDetailsItem__Flex-hzkPGS jyXbON">
                                        <div class="InvestmentDetailsItem__LeftText-HuGiz dYvagt">Date Invested</div>
                                        <div class="InvestmentDetailsItem__BottomLine-cMPcci ctETmp"></div>
                                        <div class="InvestmentDetailsItem__RightText-eXlzpA lGhJn">November 1, 2018</div>
                                     </div>
                                  </div>
                                  <div class="InvestmentDetailsComponent__RowContainer-qiVjG ksbCRB">
                                     <div class="InvestmentDetailsItem__Flex-hzkPGS jyXbON">
                                        <div class="InvestmentDetailsItem__LeftText-HuGiz dYvagt">Originator</div>
                                        <div class="InvestmentDetailsItem__BottomLine-cMPcci ctETmp"></div>
                                        <div class="InvestmentDetailsItem__RightText-eXlzpA lGhJn">{{investmentOfferingDetails.service.originator_display_name}}</div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="shared__ComponentWrapper-hNHPcs cfYEto">
                               <div class="InvestmentDocuments__SummaryWrapper-bNsReo cPCAxU">
                                  <h2 class="InvestmentDocuments__ComponentHeader-lfhxyR dgFsF">Investment Documents</h2>
                                  <div>
                                     <div class="none InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                        <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="/a/api/note/documents/wTbO6Q/117501" download="">Private Placement Memorandum</a></div>
                                        <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="/a/api/note/documents/wTbO6Q/117501" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                     </div>
                                  </div>
                                  <div>
                                     <div class="background InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                        <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="/a/api/note/documents/wTbO6Q/117502" download="">Subscription Agreement</a></div>
                                        <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="/a/api/note/documents/wTbO6Q/117502" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                     </div>
                                  </div>
                                  <div>
                                     <div class="none InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                        <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="/a/api/note/documents/wTbO6Q/133448" download="">Important Status Update</a></div>
                                        <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="/a/api/note/documents/wTbO6Q/133448" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                     </div>
                                  </div>
                                  <div>
                                     <div class="background InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                        <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="/a/api/note/documents/wTbO6Q/133465" download="">Indenture &amp; Form of Note</a></div>
                                        <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="/a/api/note/documents/wTbO6Q/133465" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                     </div>
                                  </div>
                                  <div>
                                     <div class="none InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                        <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="/a/api/note/documents/wTbO6Q/133664" download="">Series Note Supplement</a></div>
                                        <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="/a/api/note/documents/wTbO6Q/133664" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                     </div>
                                  </div>
                                  <div>
                                     <div class="background InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                        <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="https://ysdocs.s3.amazonaws.com/prod/INVESTMENTS/18154/UZtIoaKiq3d4FNWBqm5zqDZ0.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Date=20181101T103607Z&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Expires=3600&amp;X-Amz-Credential=AKIAJ6EW5IDOK7CZYOJA%2F20181101%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Signature=8fb2620f40e747c32a14968f56add0938a54157d11118c73ba7014b6ccc036bb" download="">Subscription Agreement</a></div>
                                        <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="https://ysdocs.s3.amazonaws.com/prod/INVESTMENTS/18154/UZtIoaKiq3d4FNWBqm5zqDZ0.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Date=20181101T103607Z&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Expires=3600&amp;X-Amz-Credential=AKIAJ6EW5IDOK7CZYOJA%2F20181101%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Signature=8fb2620f40e747c32a14968f56add0938a54157d11118c73ba7014b6ccc036bb" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="Overview__RightContentWrapper-hjdzLc kFasWa">
                            <div class="shared__ComponentWrapper-hNHPcs inGxEQ" id="portfolio-activity">
                               <div class="Activity__TitleWrapper-bMaIrg dtzgFK">
                                  <div class="Activity__Title-jSQQlI pjrCR">Investment Activity</div>
                                  <div class="Activity__PaymentsTab-fXkAWs bOcZmN Activity__MenuTab-clDiJZ PsOBr">Payments</div>
                                  <div class="Activity__UpdatesTab-fkJjda boetUH Activity__MenuTab-clDiJZ PsOBr">Updates</div>
                               </div>
                               <div class="Activity__UpdatesWrapper-iTfPKV hCWbKF" id="portfolio-overview-activity-updates">
                                  <div class="Item__ItemWrapper-heChjU bYuSNA">
                                     <div class="Item__TitleWrapper-jAOqsD vwOQo">
                                        <div class="activity-item-title Item__Title-cKLOJg lwEFh">Investment Requested</div>
                                        <div class="activity-item-date Item__Date-beMZVG eFfwpE">November 1, 2018</div>
                                     </div>
                                     <div class="Item__ContentWrapper-eWsHpb ghdoim">
                                        <div class="Item__ContentInnerWrapper-jKYUeu ksKmGc"><span class="Item__Content-bZVkdQ ePYheE">You invested $15,000.00 in Large Dry Bulk Vessel Acquisition.</span></div>
                                     </div>
                                  </div>
                                  <div class="Item__ItemWrapper-heChjU bYuSNA">
                                     <div class="Item__TitleWrapper-jAOqsD vwOQo">
                                        <div class="activity-item-title Item__Title-cKLOJg lwEFh">Important Status Update</div>
                                        <div class="activity-item-date Item__Date-beMZVG eFfwpE">October 19, 2018</div>
                                     </div>
                                     <div class="Item__ContentWrapper-eWsHpb ghdoim">
                                        <div class="Item__ContentInnerWrapper-jKYUeu ksKmGc"><span class="Item__Content-bZVkdQ ePYheE">Please see attached for an important status update regarding this offering.</span><span class="Item__DownloadButton-haWKiQ jxMeWy"> <span aria-hidden="true" class="fa fa-download"></span></span></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="PortfolioContainer__Wrapper-hvqmVE ikFBWa" >
          <div class="Navbar__InnerWrapper-jFgBlI cuaAbL Container-gZqETv dedQyW">
            <app-sidebar-navigation></app-sidebar-navigation>
            <app-loader *ngIf="appConfig.getLoader()"></app-loader>
             <div class="PortfolioContainer__ContentWrapper-bLzDll fRUPbU" *ngIf= "!appConfig.getLoader()" >
                <div class="Header__Wrapper-jGBIxR dWYIdt">
                   <div class="Header__TitleWrapper-eiGINF iWVqVB">
                      <div class="Header__Title-dLRSgy fnOXBv">
                         <div class="Breadcrumb__Container-iFkNRY gdpVpA"><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>portfolio</span><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>investments</span><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>Investment Details</span></div>
                      </div>
                      <div class="Header__CurrentTab-dWpQpn dQsaWW">{{investmentOfferingDetails.service.name}}</div>
                   </div>
                   <div class="Header__DropdownWrapper-kzZVJq cMVwLP"></div>
                </div>
                <div class="PortfolioContainer__SectionWrapper-kfBCZx jXkgWa">
                   <div>
                      <div class="Overview__Wrapper-jmeSor hFiCDe">
                         <div class="Overview__ContentWrapper-eeNvPM dmErfv">
                            <div>
                               <div class="shared__ComponentWrapper-hNHPcs cfYEto">
                                  <!-- <div class="InvestmentDetailsComponent__Flex-gqBHsE cIvssv">
                                     <h2 class="InvestmentDetailsComponent__ComponentHeader-hXScBQ cvmefl"><b>Investment Earnings</b></h2>
                                     <a routerLink="/offering-detail/{{investmentOfferingDetails.service.uid}}" routerLinkActive="router-link-active" >
                                        <div class="InvestmentDetailsComponent__OriginalOffering-hgJrrT lbpClL">
                                           <select>
                                             <option>Lifetime</option>
                                           </select>
                                        </div>
                                     </a>
                                  </div> -->
                                  <div class="InvestmentDetailsComponent__RowContainer-qiVjG ksbCRB">
                                     <div class="InvestmentDetailsComponent__Flex-gqBHsE cIvssv">
                                        <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq">
                                           <dd><b>$0</b></dd>
                                           <dt>Begining interest <br/> Accured</dt>
                                        </dl>
                                        <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq">
                                           <dd><b> + ${{investmentOfferingDetails.interest.total_interest}} </b>.</dd>
                                           <dt>Interest <br/> Earned</dt>
                                        </dl>
                                        <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq rightElems">
                                            <dd><b>- ${{investmentOfferingDetails.interest.interest_repaid}}</b></dd>
                                            <dt>Interest Paid</dt>
                                         </dl>
                                         <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq rightElems">
                                            <dd><b> = ${{investmentOfferingDetails.interest.total_interest - investmentOfferingDetails.interest.interest_repaid}}</b> </dd>
                                            <dt>Ending interest <br/> Accured</dt>
                                         </dl>
                                     </div>
                                  </div>
                                  <!-- <div class="InvestmentDetailsComponent__RowContainer-qiVjG ksbCRB">
                                     <div class="InvestmentDetailsItem__Flex-hzkPGS jyXbON">
                                        <div class="InvestmentDetailsItem__LeftText-HuGiz dYvagt">Asset Class</div>
                                        <div class="InvestmentDetailsItem__BottomLine-cMPcci ctETmp"></div>
                                        <div class="InvestmentDetailsItem__RightText-eXlzpA lGhJn">Marine</div>
                                     </div>
                                  </div> -->


                                  <div id="chart_div" >
                                    <!-- <google-chart
                                        [title]="chart.title"
                                        [type]="chart.type"
                                        [data]="chart.data"
                                        [columnNames]="investmentColumn"
                                        [options]="chartOptions">
                                    </google-chart> -->
                                    <google-chart class=" chartSize"
                                    [title]="investmentTitle"
                                    [type]="investmentChartType"
                                    [data]="investmentData"
                                    [columnNames]="investmentColumn"
                                    [width]="myWidth"
                                    [height]="myHeight"
                                     ></google-chart>
                                  </div>
                               </div>
                            </div>
                                <!-- Bottom Section Code-->

                                <div class="cfYEto">
                                    <div class="InvestmentDetailsComponent__Flex-gqBHsE cIvssv">
                                        <h2 class="InvestmentDetailsComponent__ComponentHeader-hXScBQ cvmefl"><b>Investmented Principal</b></h2>
                                           <!-- <div class="InvestmentDetailsComponent__OriginalOffering-hgJrrT lbpClL">
                                              <select>
                                                <option>Lifetime</option>
                                              </select>
                                           </div> -->
                                     </div>
                                     <div class="InvestmentDetailsComponent__RowContainer-qiVjG ksbCRB">
                                        <div class="InvestmentDetailsComponent__Flex-gqBHsE cIvssv">
                                           <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq">
                                              <dd><b>$0</b></dd>
                                              <dt>Begining principle <br/> outstanding</dt>
                                           </dl>
                                           <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq">
                                              <dd><b> + ${{investmentOfferingDetails.principal.total_principal}} </b>.</dd>
                                              <dt><a href="#">Total <br/> Invested</a></dt>
                                           </dl>
                                           <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq rightElems">
                                               <dd><b>- ${{investmentOfferingDetails.principal.principal_repaid}} </b></dd>
                                               <dt>Principal <br/> repaid</dt>
                                            </dl>
                                            <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq rightElems">
                                               <dd><b> = ${{investmentOfferingDetails.principal.total_principal - investmentOfferingDetails.principal.principal_repaid}}</b> </dd>
                                               <dt>Ending principle <br/> outstanding</dt>
                                            </dl>
                                        </div>
                                     </div>
                                </div>
                                <!-- ENDS HERE -->
                            <div class="shared__ComponentWrapper-hNHPcs cfYEto">
                               <div class="InvestmentDocuments__SummaryWrapper-bNsReo cPCAxU">
                                  <h2 class="InvestmentDocuments__ComponentHeader-lfhxyR dgFsF">Investment Documents</h2>
                                  <div>
                                     <div class="none InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                        <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="/a/api/note/documents/wTbO6Q/117501" download="">Private Placement Memorandum</a></div>
                                        <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="/a/api/note/documents/wTbO6Q/117501" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                     </div>
                                  </div>
                                  <div>
                                     <div class="background InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                        <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="/a/api/note/documents/wTbO6Q/117502" download="">Subscription Agreement</a></div>
                                        <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="/a/api/note/documents/wTbO6Q/117502" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                     </div>
                                  </div>
                                  <div>
                                     <div class="none InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                        <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="/a/api/note/documents/wTbO6Q/133448" download="">Important Status Update</a></div>
                                        <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="/a/api/note/documents/wTbO6Q/133448" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                     </div>
                                  </div>
                                  <div>
                                     <div class="background InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                        <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="/a/api/note/documents/wTbO6Q/133465" download="">Indenture &amp; Form of Note</a></div>
                                        <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="/a/api/note/documents/wTbO6Q/133465" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                     </div>
                                  </div>
                                  <div>
                                     <div class="none InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                        <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="/a/api/note/documents/wTbO6Q/133664" download="">Series Note Supplement</a></div>
                                        <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="/a/api/note/documents/wTbO6Q/133664" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                     </div>
                                  </div>
                                  <div>
                                     <div class="background InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                        <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="https://ysdocs.s3.amazonaws.com/prod/INVESTMENTS/18154/UZtIoaKiq3d4FNWBqm5zqDZ0.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Date=20181101T103607Z&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Expires=3600&amp;X-Amz-Credential=AKIAJ6EW5IDOK7CZYOJA%2F20181101%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Signature=8fb2620f40e747c32a14968f56add0938a54157d11118c73ba7014b6ccc036bb" download="">Subscription Agreement</a></div>
                                        <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="https://ysdocs.s3.amazonaws.com/prod/INVESTMENTS/18154/UZtIoaKiq3d4FNWBqm5zqDZ0.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Date=20181101T103607Z&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Expires=3600&amp;X-Amz-Credential=AKIAJ6EW5IDOK7CZYOJA%2F20181101%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Signature=8fb2620f40e747c32a14968f56add0938a54157d11118c73ba7014b6ccc036bb" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="Overview__RightContentWrapper-hjdzLc kFasWa">
                            <div class="shared__ComponentWrapper-hNHPcs inGxEQ" id="portfolio-activity">
                                <div class="Activity__TitleWrapper-bMaIrg dtzgFK_nobottom">
                                   <div class="Activity__Title-jSQQlI pjrCR">Current Account Summary</div>
                                </div>
                                <div class="Activity__TitleWrapper-bMaIrg dtzgFK_nobottom">
                                    <div class="Activity__Title-jSQQlI pjrCR princ_amt">Principal Outstanding</div>
                                    <span></span>
                                 </div>
                                 <div class="Activity__TitleWrapper-bMaIrg dtzgFK_nobottom">
                                    <div class="Activity__Title-jSQQlI pjrCR princ_amt">Investment Interest Accured</div>
                                 </div>
                                 <div class="Activity__TitleWrapper-bMaIrg dtzgFK_nobottom">
                                    <div class="Activity__Title-jSQQlI pjrCR princ_amt">Available Balance</div>
                                 </div>
                                 <div class="Activity__TitleWrapper-bMaIrg dtzgFK_nobottom">
                                    <div class="Activity__Title-jSQQlI pjrCR princ_amt current_amt">Current Account Value</div>
                                 </div>
                             </div>
                            <div class="shared__ComponentWrapper-hNHPcs inGxEQ" id="portfolio-activity">
                               <div class="Activity__TitleWrapper-bMaIrg dtzgFK">
                                  <div class="Activity__Title-jSQQlI pjrCR">Investment Activity</div>
                                  <div class="Activity__PaymentsTab-fXkAWs bOcZmN Activity__MenuTab-clDiJZ PsOBr">Payments</div>
                                  <div class="Activity__UpdatesTab-fkJjda boetUH Activity__MenuTab-clDiJZ PsOBr">Updates</div>
                               </div>
                               <div class="Activity__UpdatesWrapper-iTfPKV hCWbKF" id="portfolio-overview-activity-updates">
                                  <div class="Item__ItemWrapper-heChjU bYuSNA">
                                     <div class="Item__TitleWrapper-jAOqsD vwOQo">
                                        <div class="activity-item-title Item__Title-cKLOJg lwEFh">Investment Requested</div>
                                        <div class="activity-item-date Item__Date-beMZVG eFfwpE">November 1, 2018</div>
                                     </div>
                                     <div class="Item__ContentWrapper-eWsHpb ghdoim">
                                        <div class="Item__ContentInnerWrapper-jKYUeu ksKmGc"><span class="Item__Content-bZVkdQ ePYheE">You invested $15,000.00 in Large Dry Bulk Vessel Acquisition.</span></div>
                                     </div>
                                  </div>
                                  <div class="Item__ItemWrapper-heChjU bYuSNA">
                                     <div class="Item__TitleWrapper-jAOqsD vwOQo">
                                        <div class="activity-item-title Item__Title-cKLOJg lwEFh">Important Status Update</div>
                                        <div class="activity-item-date Item__Date-beMZVG eFfwpE">October 19, 2018</div>
                                     </div>
                                     <div class="Item__ContentWrapper-eWsHpb ghdoim">
                                        <div class="Item__ContentInnerWrapper-jKYUeu ksKmGc"><span class="Item__Content-bZVkdQ ePYheE">Please see attached for an important status update regarding this offering.</span><span class="Item__DownloadButton-haWKiQ jxMeWy"> <span aria-hidden="true" class="fa fa-download"></span></span></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
