.kAIOAZ {
	text-align: justify;
	padding: 5px 30px;
	font-size: 12px;
	color: rgb(118, 129, 135);
}

@media (min-width:992px) {
	.kAIOAZ {
		grid-column: 1/span 3;
	}
}


/* sc-component-id: Footer__LegalTextContainer-ksyNel */

.geFHgL p {
	text-align: justify;
	padding: 5px 30px;
	font-size: 12px;
	color: rgb(118, 129, 135);
}

.geFHgL a {
	font-size: 10px;
}

.geFHgL #footnote-read-more-2 {
	padding-top: 100px !important;
}

.geFHgL #footnote-read-more-3 {
	padding-top: 100px;
}


/* sc-component-id: Footer__Bullet-QKXrv */

.clofcx {
	padding: 0 5px;
}


/* sc-component-id: Footer__CopyrightLine-gNkFqU */

.gyZyXo {
	font-family: 'Gotham A', 'Gotham B';
	font-weight: 500;
	font-size: 12px;
	padding: 40px 0 10px;
}


/* sc-component-id: Footer__Copyright-mWiTb */

.duevyT {
	display: block;
	text-align: left;
	padding: 20px 30px;
	font-size: 10px;
	color: rgb(118, 129, 135);
}

@media (min-width:992px) {
	.duevyT {
		grid-column: 1/span 3;
	}
}


/* sc-component-id: Main__Wrapper-fTNHWf */


/* sc-component-id: Main__Container-jeBqdM */

.gQKlCo {
	padding-top: 60px;
}

@media (min-width:1200px) {
	.gQKlCo {
		padding-top: 85px;
	}
}

.fQXNhe {
	padding-top: 60px;
	background: rgb(246, 246, 246);
}

@media (min-width:1200px) {
	.fQXNhe {
		padding-top: 85px;
	}
}


/* sc-component-id: Heading__HeadingContainer-hOOtWD */

.ckXoti {
	max-width: 750px;
	padding-bottom: 30px;
	text-align: center;
	margin: 0 auto;
}

@media (min-width:992px) {
	.ckXoti {
		padding-bottom: 30px;
	}
}

.kLyOjw {
	max-width: 750px;
	padding-bottom: 30px;
	text-align: left;
}

@media (min-width:992px) {
	.kLyOjw {
		padding-bottom: 30px;
	}
}


/* sc-component-id: Heading__HeadingH2-kuBRyt */

.hOrePZ {
	font-weight: 400;
	line-height: 34px;
	font-size: 24px;
	max-width: 400px;
	text-align: center;
	margin: 0 auto;
	color: rgb(30, 156, 159);
}

@media (min-width:768px) {
	.hOrePZ {
		font-size: 32px;
		line-height: 42px;
		max-width: 550px;
	}
}

.ljLZQl {
	font-weight: 400;
	line-height: 34px;
	font-size: 24px;
	max-width: 400px;
	text-align: center;
	margin: 0 auto;
	max-width: 650px !important;
	color: rgb(30, 156, 159);
}

@media (min-width:768px) {
	.ljLZQl {
		font-size: 32px;
		line-height: 42px;
		max-width: 550px;
	}
}

.fMCGTr {
	font-weight: 400;
	line-height: 34px;
	font-size: 24px;
	max-width: 400px;
	text-align: left;
	color: rgb(30, 156, 159);
}

@media (min-width:768px) {
	.fMCGTr {
		font-size: 32px;
		line-height: 42px;
		max-width: 550px;
	}
}


/* sc-component-id: Heading__HeadingInnerDiv-btnnfZ */

.jXryFJ {
	display: block;
	width: 100px;
	height: 0;
	border-bottom: 2px solid rgb(223, 227, 228);
	padding: 30px 0 0 0;
	display: block;
	width: 100px;
	height: 0;
	border-bottom: 2px solid rgb(223, 227, 228);
	margin: 0 auto;
	padding: 30px 0 0 0;
}

.dDInjl {
	display: block;
	width: 100px;
	height: 0;
	border-bottom: 2px solid rgb(223, 227, 228);
	padding: 30px 0 0 0;
	text-align: left;
}


/* sc-component-id: Heading__HeadingInnerSpan-kyHyx */

.gqYavA {
	margin: 0 auto;
	font-size: 14px;
	line-height: 24px;
	max-width: 650px;
	font-weight: 300;
	color: rgb(53, 56, 58);
	padding: 30px 0 45px;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}

@media (min-width:768px) {
	.gqYavA {
		font-size: 20px;
		line-height: 30px;
	}
}

@media (min-width:992px) {
	.gqYavA {
		max-width: 650px;
	}
}

.hhvpfO {
	margin: 0 auto;
	font-size: 14px;
	line-height: 24px;
	max-width: 650px;
	font-weight: 300;
	color: rgb(53, 56, 58);
	padding: 30px 0 45px;
	display: inline-block;
	text-align: left;
}

@media (min-width:768px) {
	.hhvpfO {
		font-size: 20px;
		line-height: 30px;
	}
}

@media (min-width:992px) {
	.hhvpfO {
		max-width: 650px;
	}
}


/* sc-component-id: Hero__LargeContainer-kuPiFJ */

.dEsccv {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
}

@media (min-width:768px) {
	.dEsccv {
		background-image: url(https://www.yieldstreet.com/static/media/hero-image@2x.cd310c65.jpg);
		min-height: 500px;
		max-height: 650px;
	}
}

@media (min-width:992px) {
	.dEsccv {
		background-image: url(https://www.yieldstreet.com/static/media/hero-image@2x.cd310c65.jpg);
		min-height: 535px;
		max-height: 900px;
		background-position: center 75%;
	}
}


/* sc-component-id: Hero__BigContainer-UAZww */

.hTBlNx {
	background-image: url(https://www.yieldstreet.com/static/media/hero-image@3x.cbf2f4d8.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	min-height: 535px;
	max-height: 900px;
	background-position: center 75%;
	padding: 0 5vw 5vh;
}


/* sc-component-id: Hero__Content-dYgNyW */

.cHkJyk {
	padding: 10vw 5vw 35vh 5vw;
}

@media (min-width:768px) {
	.cHkJyk {
		padding: 10vw 5vw 30vh 5vw;
	}
}

@media (min-width:992px) {
	.cHkJyk {
		padding: 10vw 5vw 35vh 5vw;
	}
}


/* sc-component-id: Hero__Title-hrbhcM */

.fSiXao {
	font-size: 24px;
	line-height: 34px;
	font-family: Raleway;
	color: rgb(53, 56, 58);
	font-weight: normal;
	margin: 10px 0 0;
}

@media (min-width:576px) {
	.fSiXao {
		font-size: 29px;
		line-height: 44px;
		padding: 0 5vw;
	}
}

@media (min-width:768px) {
	.fSiXao {
		padding: 0;
		font-size: 30px;
	}
}


/* sc-component-id: Hero__Paragraph-kWljeA */

.iJbGwv {
	margin: 25px 0;
	color: rgb(82, 87, 90);
	font-size: 14px;
	line-height: 24px;
}

@media (max-width:380px) {
	.iJbGwv {
		font-size: 13px;
	}
}

@media (min-width:576px) {
	.iJbGwv {
		font-size: 20px;
		line-height: 30px;
		margin: 15px 0 25px;
	}
}

@media (min-width:768px) {
	.iJbGwv {
		margin: 45px 0;
	}
}

@media (min-width:992px) {
	.iJbGwv {
		margin: 30px auto;
		max-width: 450px;
	}
}


/* sc-component-id: TrackRecord__Container-ccauE */

.dZbiYx {
	font-size: 14px;
	color: #768187;
	z-index: 2;
	background: white;
	position: relative;
	box-shadow: 0 3px 42px 0 rgba(53, 56, 58, 0.05);
	border: solid 1px #e3e9eb;
	padding: 30px 0;
	padding: 75px 35px;
	border-bottom: 5px solid rgb(43, 184, 192);
}

@media (min-width:576px) {
	.dZbiYx {
		padding: 55px 35px;
		max-width: 460px;
		margin: -35px auto 0 auto;
		border-bottom: solid 1px #e3e9eb;
	}
}

@media (min-width:768px) {
	.dZbiYx {
		max-width: 645px;
		margin: -50px auto 0 auto;
		background: white;
		border: 1px solid #E3E9EB;
	}
}

@media (min-width:992px) {
	.dZbiYx {
		max-width: 1140px;
		padding: 0 35px 55px;
		box-shadow: 0 3px 42px rgba(53, 56, 58, 0.05);
	}
}


/* sc-component-id: TrackRecord__Title-jroefo */

.fOctr {
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: Raleway;
	color: rgb(171, 180, 186);
	text-align: center;
}

@media (min-width:576px) {
	.fOctr {
		font-size: 14px;
		line-height: 28px;
	}
}

@media (min-width:992px) {
	.fOctr {
		padding-top: 30px;
	}
}


/* sc-component-id: TrackRecord__List-dxirpy */

@media (min-width:992px) {
	.gxgVKd {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}


/* sc-component-id: TrackRecord__HomeTrackRecordItem-bOVSkS */

.hRGULg {
	text-align: center;
	color: rgb(118, 129, 135);
	font-size: 20px;
	padding-top: 30px;
	font-family: Gotham A, Gotham B;
	font-style: normal;
	font-weight: 400;
}

@media (min-width:576px) {
	.hRGULg {
		padding-top: 20px;
	}
}

@media (min-width:768px) {
	.hRGULg {
		font-size: 22px;
		line-height: 28px;
		padding-top: 30px;
	}
}

@media (min-width:992px) {
	.hRGULg {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		font-size: 22px;
	}
	.hRGULg:after {
		content: "●";
		color: rgb(171, 180, 186);
		font-size: 14px;
		line-height: 22px;
		float: right;
	}
	.hRGULg:last-child:after {
		content: "";
	}
}

@media (min-width:1200px) {
	.hRGULg {
		font-size: 28px;
		line-height: 30px;
	}
}

@media (min-width:1440px) {
	.hRGULg {
		font-size: 28px;
	}
	.hRGULg:after {
		line-height: 28px;
	}
}


/* sc-component-id: item__ItemParagraph-jvkBsC */

.FkvYU {
	font-size: 14px;
	line-height: 24px;
	color: rgb(118, 129, 135);
	margin: 9px auto 0;
	max-width: 260px;
}

@media (min-width:576px) {
	.FkvYU {
		max-width: 485px;
	}
}

@media (min-width:992px) {
	.FkvYU {
		font-size: 15px;
		line-height: 21px;
	}
}

@media (min-width:1440px) {
	.FkvYU {
		font-size: 16px;
	}
}


/* sc-component-id: item__ItemHeading-jyIEMO */

.jOdnFo {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	margin-top: 30px;
	font-weight: normal;
}

@media (min-width:992px) {
	.jOdnFo {
		font-size: 15px;
		line-height: 21px;
	}
}

@media (min-width:1440px) {
	.jOdnFo {
		font-size: 16px;
		margin-bottom: 15px;
	}
}


/* sc-component-id: item__ItemImageContainer-diZVAB */

.jwyMLE {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (min-width:992px) {
	.jwyMLE {
		-webkit-box-pack: left;
		-webkit-justify-content: left;
		-ms-flex-pack: left;
		justify-content: left;
		-webkit-align-items: flex-start;
		-webkit-box-align: flex-start;
		-ms-flex-align: flex-start;
		align-items: flex-start;
		float: left;
		min-height: 100px;
		width: 30%;
	}
	.jwyMLE img {
		height: 60px;
		width: 60px;
	}
	.jwyMLE:last-child {
		margin-right: 0;
	}
}


/* sc-component-id: item__Item-kGLMFY */

.gPipYW {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: center;
}

@media (min-width:992px) {
	.gPipYW {
		margin-right: 10px;
		text-align: left;
	}
}


/* sc-component-id: NewOpportunities__NewOpportunitiesReasons-ljVAkh */

.hwyTut {
	margin: 45px auto;
	max-width: 350px;
}

@media (min-width:576px) {
	.hwyTut {
		max-width: 540px;
	}
}

@media (min-width:992px) {
	.hwyTut {
		border-left: 1px rgb(223, 227, 228) solid;
		padding: 0 15px 0 30px;
		margin: 30px auto 50px;
	}
}


/* sc-component-id: NewOpportunities__NewOpportunitiesReasonsFirstItem-eJtFQC */

@media (min-width:992px) {
	.bSCkww {
		border-left: none !important;
		padding-left: 0 !important;
	}
}


/* sc-component-id: NewOpportunities__NewOpportunitiesLine-fZESSE */

.hGCrSJ {
	background-color: rgb(223, 227, 228);
	height: 1px;
	margin: 0 auto;
}

@media (min-width:576px) {
	.hGCrSJ {
		max-width: 540px;
	}
}

@media (min-width:768px) {
	.hGCrSJ {
		max-width: 590px;
	}
}

@media (min-width:992px) {
	.hGCrSJ {
		max-width: 940px;
	}
}

@media (min-width:1440px) {
	.hGCrSJ {
		max-width: 1140px;
	}
}


/* sc-component-id: NewOpportunities__NewOpportunitiesIconHeader-gQnpaY */

.clPcoU {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	padding-bottom: 25px;
	font-weight: normal;
	font-family: Gotham A, Gotham B;
}

@media (min-width:768px) {
	.clPcoU {
		font-size: 16px;
		line-height: 18px;
	}
}

@media (min-width:992px) {
	.clPcoU {
		text-align: left;
		font-size: 16px;
	}
}

@media (min-width:1440px) {
	.clPcoU {
		font-size: 18px;
		line-height: 19px;
	}
}


/* sc-component-id: NewOpportunities__NewOpportunitiesLineContainer-kdxAZt */

@media (min-width:992px) {
	.kXYZRv {
		max-width: 960px;
		margin: 0 auto;
	}
}

@media (min-width:1440px) {
	.kXYZRv {
		max-width: 1140px;
		margin: 0 auto;
	}
}


/* sc-component-id: NewOpportunities__NewOpportunitiesItemHeading-zOGxx */


/* sc-component-id: NewOpportunities__NewOpportunitiesItemImage-iPdgXN */

@media (min-width:992px) {
	.cLeJzX {
		margin-top: 50px;
		float: right;
	}
}


/* sc-component-id: NewOpportunities__NewOpportunitiesItem-ljchgX */

.HKfwC {
	text-align: center;
	margin: 120px auto 0;
}

@media (min-width:576px) {
	.HKfwC img {
		min-width: 430px;
		width: 100%;
		max-width: 540px;
	}
}

@media (min-width:768px) {
	.HKfwC img {
		min-width: 60%;
		width: unset;
		max-width: 720px;
	}
}

@media (min-width:992px) {
	.HKfwC {
		text-align: left;
		margin: 170px 0 60px;
	}
	.HKfwC img {
		width: 430px;
		height: 190px;
	}
	.HKfwC .NewOpportunities__NewOpportunitiesItemImage-iPdgXN {
		width: 30%;
	}
	.HKfwC .NewOpportunities__NewOpportunitiesItemHeading-zOGxx {
		width: 60%;
	}
}

@media (min-width:1440px) {
	.HKfwC img {
		width: 520px;
		height: 230px;
	}
	.HKfwC .NewOpportunities__NewOpportunitiesItemImage-iPdgXN {
		width: 20%;
	}
	.HKfwC .NewOpportunities__NewOpportunitiesItemHeading-zOGxx {
		width: 70%;
	}
}


/* sc-component-id: NewOpportunities__NewOpportunitiesGroup-hROjE */

.bTPefC {
	z-index: 2;
	position: relative;
}

@media (min-width:992px) {
	.bTPefC {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin: 0 auto;
	}
	.bTPefC:first-child {
		border-left: none;
		padding-left: 0;
	}
}
.iyBiXS {
	margin-top: 20px;
}
.kmqWFo {
	background: rgb(246, 246, 246);
	font-family: Gotham A, Gotham B;
	width: 100%;
}
.diVxBw {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 228);
	padding: 25px 3vw;
	margin: 10px 0;
}
@media (min-width:768px) {
	.diVxBw {
		padding-bottom: 5vw;
	}
}


/* sc-component-id: TransferFunds__Header-kdtEcZ */

.lgSQGw {
	display: block;
}

@media (min-width:768px) {
	.lgSQGw {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}


/* sc-component-id: TransferFunds__Title-laRkDW */

.kaIhwm {
	color: rgb(53, 56, 58);
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 10px;
	margin-right: auto;
}

@media (min-width:768px) {
	.kaIhwm {
		font-size: 26px;
	}
}

@media (min-width:992px) {
	.kaIhwm {
		font-size: 28px;
	}
}


/* sc-component-id: TransferFunds__Subtitle-wkHIC */

.hUQEze {
	color: rgb(53, 56, 58);
	font-size: 20px;
	line-height: 30px;
	margin-top: 20px;
}

@media (min-width:992px) {
	.hUQEze {
		font-size: 18px;
	}
}


/* sc-component-id: TransferFunds__InnerWrapper-jIHYBt */

.hvSjDn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0 2vw;
}


/* sc-component-id: TransferFunds__NavbarWrapper-hSwvtQ */

@media (min-width:768px) {
	.jpzIMq {
		padding: 17px 20px 0 0;
		min-width: 200px;
	}
}

.jMFmlD {
	position: absolute;
	font-size: 16px;
	padding-left: 6px;
}

@media (min-width:992px) {
	.jMFmlD {
		font-size: 20px;
	}
}
.ikFBWa {
	background: rgb(246, 246, 246);
	width: 100%;
}


/* sc-component-id: PortfolioContainer__ContentWrapper-bLzDll */

.fRUPbU {
	width: 100%;
}


/* sc-component-id: PortfolioContainer__SectionWrapper-kfBCZx */


/* sc-component-id: shared__Wrapper-eMYEoS */

.gXoOcc {
	text-align: center;
	margin: 15vh 10vw;
	color: rgb(53, 56, 58);
}


/* sc-component-id: AccountAvatar__Container-hnDrws */

.fGMnpS {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-right: auto;
}

@media (min-width:768px) {
	.fGMnpS {
		margin-right: 60px;
	}
}

@media (min-width:992px) {
	.fGMnpS {
		margin-right: 75px;
	}
}


/* sc-component-id: AccountAvatar__Sphere-cZYEID */

.bZWnwk {
	background: rgb(223, 227, 228);
	border-radius: 100%;
	float: left;
	height: 40px;
	margin-left: 15px;
	text-align: center;
	width: 40px;
}

@media (min-width:992px) {
	.bZWnwk {
		height: 50px;
		margin: auto 0 5px 15px;
		width: 50px;
	}
}


/* sc-component-id: AccountAvatar__Content-jJObCI */

.cpMlqO {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	line-height: 20px;
	margin-left: 10px;
}

@media (min-width:768px) {
	.cpMlqO {
		line-height: 19px;
	}
}

@media (min-width:992px) {
	.cpMlqO {
		line-height: 0;
	}
}


/* sc-component-id: AccountAvatar__SphereText-gbhJYI */

.jScECE {
	float: left;
	font-size: 16px;
	height: inherit;
	padding-top: 10px;
	width: inherit;
}

@media (min-width:768px) {
	.jScECE {
		font-size: 18px;
		padding-top: 9px;
	}
}

@media (min-width:992px) {
	.jScECE {
		font-size: 20px;
		padding-top: 12px;
	}
}


/* sc-component-id: AccountAvatar__Title-iRTHDV */

.kUprSS {
	color: rgb(118, 129, 135);
	font-size: 12px;
}

@media (min-width:768px) {
	.kUprSS {
		line-height: 17px;
	}
}

@media (min-width:992px) {
	.kUprSS {
		font-size: 14px;
		line-height: 24px;
	}
}


/* sc-component-id: AccountAvatar__AccountName-iYHFiC */

.iffCbE {
	color: rgb(53, 56, 58);
	font-family: Raleway, sans-serif;
	font-size: 17px;
}

@media (min-width:768px) {
	.iffCbE {
		font-size: 18px;
		line-height: 24px;
	}
}

@media (min-width:992px) {
	.iffCbE {
		font-size: 20px;
		line-height: 30px;
	}
}


/* sc-component-id: AccountAvatar__CogLink-cJlgBb */

.gDhyzX {
	color: rgb(53, 56, 58);
}


/* sc-component-id: ProgressCircles__Title-ftNeoJ */

.boLsGi {
	font-size: 13px;
	color: rgb(118, 129, 135);
	color: rgb(30, 156, 159);
}

.iuJceP {
	font-size: 13px;
	color: rgb(118, 129, 135);
}


/* sc-component-id: ProgressCircles__CirclesContainer-fXPwKk */

.jncQVe {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	z-index: 2;
	width: 25%;
	text-align: center;
	margin-top: 10px;
}


/* sc-component-id: ProgressCircles__Bubble-cUJlRI */

.ctOiyt {
	width: 22px;
	height: 22px;
	margin-bottom: 5px;
	border-radius: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 400;
	font-size: 13px;
	color: rgb(118, 129, 135);
	border: solid 1px rgb(223, 227, 228);
	background-color: rgb(246, 246, 246);
	border: solid 1px rgb(30, 156, 159);
	color: rgb(30, 156, 159);
	background-color: rgb(238, 240, 240);
}

.hFWenB {
	width: 22px;
	height: 22px;
	margin-bottom: 5px;
	border-radius: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 400;
	font-size: 13px;
	color: rgb(118, 129, 135);
	border: solid 1px rgb(223, 227, 228);
	background-color: rgb(246, 246, 246);
}


/* sc-component-id: OnboardingProgressView__LineGradient-bBYuQr */

.dQgiJq {
	position: absolute;
	width: 73%;
	z-index: 1;
	height: 44px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}


/* sc-component-id: OnboardingProgressView__PrimaryLine-kCtWEM */

.jYObjW {
	-webkit-flex: 0;
	-ms-flex: 0;
	flex: 0;
	background-color: rgb(30, 156, 159);
	height: 2px;
}


/* sc-component-id: OnboardingProgressView__BlackLine-jTJNnA */

.jyrZlk {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background-color: rgb(223, 227, 228);
	height: 2px;
}


/* sc-component-id: OnboardingProgressView__ProgressBarContainer-kqTHQs */

.fqMPhP {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}


/* sc-component-id: OnboardingProgressView__ProgressBarWrapper-jkDAxF */

.hhZNft {
	width: 100%;
	margin: 20px auto 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	font-size: 14px;
}

@media (min-width:768px) {
	.hhZNft {
		width: 80%;
		margin: 0 auto;
		font-size: 16px;
	}
}


/* sc-component-id: AccountHeader__Header-dzfoXL */

.eUFaOX {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 228);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 25px 0;
	margin: 10px 0;
}

@media (min-width:768px) {
	.eUFaOX {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}


/* sc-component-id: ExternalBanks__Wrapper-cVUfiu */


/* sc-component-id: ExternalBanks__NoBankWrapper-mBUfY */


/* sc-component-id: ExternalBanks__BankWrapper-hWhCgr */


/* sc-component-id: ExternalBanks__ExternalBanksWrapper-booIEF */

.jjVZyg {
	margin-top: 20px;
	border-color: rgb(223, 227, 228);
	border-width: 1px 1px 0 1px;
	border-style: solid;
}

@media (min-width:768px) {
	.jjVZyg {
		border: 1px solid rgb(223, 227, 228);
		border-bottom: 0;
	}
}


/* sc-component-id: ExternalBanks__NoBankAccountText-eQlvuw */

.kPUQpi {
	color: rgb(53, 56, 58);
	font-size: 15px;
	line-height: 20px;
	margin-top: 15px;
}

@media (min-width:768px) {
	.kPUQpi {
		margin-top: 30px;
		text-align: center;
	}
}

@media (min-width:992px) {
	.kPUQpi {
		font-size: 17px;
	}
}
.dlinaM {
	font-size: 13px;
	display: block;
	position: relative;
	padding-top: 5px;
}


/* sc-component-id: Dropdown__ActiveContainer-ftVMPU */

.ilTLWk {
	color: rgb(53, 56, 58);
	border: 1px solid rgb(223, 227, 228);
	padding: 12px;
	min-width: auto;
	display: block;
	cursor: pointer;
	height: 40px;
	background: rgb(255, 255, 255);
}

@media (min-width:768px) {
	.ilTLWk {
		width: 200px;
	}
}

@media (min-width:992px) {
	.ilTLWk {
		width: 220px;
	}
}

.ilTLWk .active {
	width: 96%;
}

.bkTGAH {
	color: rgb(53, 56, 58);
	border: 1px solid rgb(223, 227, 228);
	padding: 12px;
	min-width: 250px;
	display: block;
	cursor: pointer;
	height: 40px;
	background: rgb(255, 255, 255);
}

@media (min-width:768px) {
	.bkTGAH {
		width: auto;
	}
}

@media (min-width:992px) {
	.bkTGAH {
		width: auto;
	}
}

.bkTGAH .active {
	width: 96%;
}


/* sc-component-id: Dropdown__ActiveOption-eGGXhI */

.eguRTf {
	border: none;
	padding: 0 10px 0 0;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.eguRTf.active-option {
	color: rgb(30, 156, 159);
	display: block;
	font-size: 15px;
	margin: 0 auto;
	padding: 0px 12px !important;
	width: 96%;
}


/* sc-component-id: Dropdown__DropdownIcon-dIxNDU */

.ikGzXA {
	left: auto;
	right: 10px;
	position: absolute;
}

.ikGzXA.dropdown-icon {
	font-size: 18px;
	margin: -15px 0;
}


/* sc-component-id: HeaderDropdown__DropdownWrapper-coMKrj */


/* sc-component-id: HeaderDropdown__StyledDropdown-cfQxqG */


/* sc-component-id: Breadcrumb__Container-iFkNRY */

.gdpVpA {
	color: rgb(171, 180, 186);
	font-size: 10px;
	-webkit-letter-spacing: 1px;
	-moz-letter-spacing: 1px;
	-ms-letter-spacing: 1px;
	letter-spacing: 1px;
	line-height: 21px;
	text-transform: uppercase;
	clear: both;
}

@media (min-width:768px) {
	.gdpVpA {
		font-size: 11px;
		line-height: 14px;
		padding-top: 5px;
	}
}

@media (min-width:992px) {
	.gdpVpA {
		font-size: 12px;
		line-height: 21px;
		padding-top: 0;
	}
}


/* sc-component-id: Breadcrumb__FontAwesomeWrapper-eFirZx */

.gGHvIX {
	padding: 0 1em;
}


/* sc-component-id: Breadcrumb__BreadcrumbItem-hOHfsj */

.cvyNLD:first-child>span {
	display: none;
}


/* sc-component-id: Header__Wrapper-jGBIxR */

.dWYIdt {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-family: Raleway;
	font-size: 12px;
	-webkit-letter-spacing: 1.4px;
	-moz-letter-spacing: 1.4px;
	-ms-letter-spacing: 1.4px;
	letter-spacing: 1.4px;
	text-align: left;
	padding-top: 8px;
}


/* sc-component-id: Header__TitleWrapper-eiGINF */

.iWVqVB {
	margin-right: auto;
	line-height: 21px;
}


/* sc-component-id: Header__Title-dLRSgy */

.fnOXBv {
	color: rgb(171, 180, 186);
	text-transform: uppercase;
}


/* sc-component-id: Header__CurrentTab-dWpQpn */

.dQsaWW {
	color: rgb(53, 56, 58);
	font-size: 28px;
	text-transform: capitalize;
	margin-top: 4px;
	line-height: 30px;
}


/* sc-component-id: Header__DropdownWrapper-kzZVJq */


/* sc-component-id: NavItem__ListItem-jObUkA */

.eZhMjM {
	margin-bottom: 15px;
	height: 30px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.eZhMjM a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	color: rgb(118, 129, 135);
}

.eZhMjM a .activeSVG {
	display: none;
}

.eZhMjM a .defaultSVG {
	display: block;
}

.eZhMjM a.active {
	border-left: 1px solid rgb(30, 156, 159);
	color: rgb(30, 156, 159);
}

.eZhMjM a.active .activeSVG {
	display: block;
}

.eZhMjM a.active .defaultSVG {
	display: none;
}

.eZhMjM a.active img:first-child {
	margin-left: 9px;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.eZhMjM a.active span:nth-child(2) {
	margin-left: 10px;
}

.eZhMjM a:not(.active) {
	margin-left: 10px;
}


/* sc-component-id: NavItem__TabIcon-eugFOX */

.iWUARF {
	width: 15px;
	margin-right: 10px;
	fill: black;
}

.iWUARF path {
	fill: green;
}


/* sc-component-id: NavItem__TabTitle-jsVGJM */

.eJexFz {
	font-size: 16px;
	position: relative;
}


/* sc-component-id: Navbar__InnerWrapper-jFgBlI */

.cuaAbL {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0 2vw;
}


/* sc-component-id: Navbar__NavbarWrapper-gvcNVs */

.jdzcjd {
	display: none;
}

@media (min-width:992px) {
	.jdzcjd {
		display: block;
		padding: 17px 20px 0 0;
		min-width: 200px;
	}
}
.kfCuDE {
	color: rgb(118, 129, 135);
	font-size: 14px;
	line-height: 18px;
	margin: 10px 0 15px;
}

@media (min-width:768px) {
	.kfCuDE {
		margin: 10px 0 25px;
		text-align: center;
	}
}

@media (min-width:992px) {
	.kfCuDE {
		margin: 10px 0 30px;
		font-size: 15px;
	}
}

.gULRxs {
	text-align: center;
}

.dYGjny {
	width: 100%;
}

@media (min-width:768px) {
	.dYGjny {
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
	}
}
.btnwidth{
	width: auto !important;
}

.dqRJFI {
	width: 50%;
	color: rgb(118, 129, 135);
	font-size: 12px;
}

@media (min-width:768px) {
	.dqRJFI {
		-webkit-flex: 0 1 250px;
		-ms-flex: 0 1 250px;
		flex: 0 1 250px;
		margin-right: 10px;
	}
}


/* sc-component-id: ExternalBanks__HeaderWrapper-kbkqki */

.ekvVIp {
	display: none;
}

@media (min-width:768px) {
	.ekvVIp {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		border-bottom: 1px solid rgb(223, 227, 228);
		padding: 8px 10px;
	}
}


/* sc-component-id: ExternalBanks__LinkContainer-kWsNzB */

.jEmhMz {
	padding-bottom: 5px;
}


/* sc-component-id: ExternalBanks__AddAccount-neWGU */

.kqfSUF {
	display: inline-block;
	padding-top: 9px;
	color: rgb(43, 184, 192);
	cursor: pointer;
	font-size: 14px;
}

.kqfSUF:hover {
	color: rgb(30, 156, 159);
}
.jCuLJb {
  color: rgb(53, 56, 58);
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid rgb(238, 240, 240);
  padding: 12px;
}
.aawYR {
  display: inline-block;
}
