.card-table .card-table--padding {
    padding-bottom: 8px;
    vertical-align: middle;
    line-height: 10px;
}
.card-table .card-table__label {
    width: 100%;
    text-align: left;
    padding-left: 10px;
}
.circle-icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);
}
.card-table {
    margin-top: 20px;
    padding: 15px;
    border-radius: 2px;
    border: 0.5px solid #e6e8ea;
    color: #000;
    font-size: 12px;
    font-family: "Gotham A","Gotham B";
    font-style: normal;
    font-weight: 400;
}
.card-table {
    margin-top: 20px;
    padding: 15px;
    border-radius: 2px;
    border: 0.5px solid #e6e8ea;
    color: #000;
    font-size: 12px;
    font-family: "Gotham A","Gotham B";
    font-style: normal;
    font-weight: 400;
}