<div class="Main__Wrapper-fTNHWf fHOsuF">
    <div class="Main__Container-jeBqdM gQKlCo">
       <div class="PortfolioContainer__Wrapper-hvqmVE ikFBWa">
          <div class="Navbar__InnerWrapper-jFgBlI cuaAbL Container-gZqETv dedQyW">
              <app-sidebar-navigation></app-sidebar-navigation>
             <div class="PortfolioContainer__ContentWrapper-bLzDll fRUPbU">
                <div class="Header__Wrapper-jGBIxR dWYIdt">
                   <div class="Header__TitleWrapper-eiGINF iWVqVB">
                      <div class="Header__Title-dLRSgy fnOXBv">
                         <div class="Breadcrumb__Container-iFkNRY gdpVpA"><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>portfolio</span><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>overview</span></div>
                      </div>
                      <div class="Header__CurrentTab-dWpQpn dQsaWW">Overview</div>
                   </div>
                   <div class="Header__DropdownWrapper-kzZVJq cMVwLP">
                      <div>
                         <div class="Overview__DesktopHeader-jzpCoL kdJzyl">
                            <div class="Overview__FilterContainer-hMdmLg edXjDV">
                               <div class="shared__StyledHeaderDropdown-nCqUr cHWqGL HeaderDropdown__DropdownWrapper-coMKrj jvsIdX">
                                  <select  #keywordsInput class="dropdown  Dropdown__ActiveContainer-ftVMPU bkTGAH setFont customDopDown"
                                  (change)="onRowClick()" >
                                   <option value ="all">All</option>
                                  <option class="Dropdown__DropdownOptionContainer-nr8gk9-2" *ngFor= "let accData of accountData" value = {{accData.uid}}>
                                    <span class="jCuLJb">{{accData.first_name}} {{accData.title}}</span>
                                  </option>
                                </select>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="PortfolioContainer__SectionWrapper-kfBCZx jXkgWa">
                    <app-loader *ngIf="appConfig.getLoader()"></app-loader>
                    <div class="PortfolioContainer__ContentWrapper-bLzDll fRUPbU" *ngIf= "!appConfig.getLoader()" >
                        <div class="PortfolioContainer__SectionWrapper-kfBCZx jXkgWa">
                           <div>
                              <div class="Overview__Wrapper-jmeSor hFiCDe">
                                 <div class="Overview__ContentWrapper-eeNvPM dmErfv">
                                    <div>
                                       <div class="shared__ComponentWrapper-hNHPcs cfYEto">
                                          <div class="InvestmentDetailsComponent__Flex-gqBHsE cIvssv">
                                             <h2 class="InvestmentDetailsComponent__ComponentHeader-hXScBQ cvmefl"><b>Investment Earnings</b></h2>
                                                <div class="InvestmentDetailsComponent__OriginalOffering-hgJrrT lbpClL">
                                                   <select>
                                                     <option>Lifetime</option>
                                                   </select>
                                                </div>
                                          </div>
                                          <div class="InvestmentDetailsComponent__RowContainer-qiVjG ksbCRB">
                                             <div class="InvestmentDetailsComponent__Flex-gqBHsE cIvssv">
                                                <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq">
                                                   <dd><b>$0</b></dd>
                                                   <dt>Begining interest <br/> Accured</dt>
                                                </dl>
                                                <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq">
                                                   <dd><b> + $20 </b>.</dd>
                                                   <dt><a href="#">Interest <br/> Earned</a></dt>
                                                </dl>
                                                <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq rightElems">
                                                    <dd><b>- $10</b></dd>
                                                    <dt>Interest Paid</dt>
                                                 </dl>
                                                 <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq rightElems">
                                                    <dd><b> = $10</b> </dd>
                                                    <dt>Ending interest <br/> Accured</dt>
                                                 </dl>
                                             </div>
                                          </div>
                                          <!-- <div class="InvestmentDetailsComponent__RowContainer-qiVjG ksbCRB">
                                             <div class="InvestmentDetailsItem__Flex-hzkPGS jyXbON">
                                                <div class="InvestmentDetailsItem__LeftText-HuGiz dYvagt">Asset Class</div>
                                                <div class="InvestmentDetailsItem__BottomLine-cMPcci ctETmp"></div>
                                                <div class="InvestmentDetailsItem__RightText-eXlzpA lGhJn">Marine</div>
                                             </div>
                                          </div> -->


                                          <div id="chart_div" >
                                            <google-chart class=" chartSize"
                                            [title]="investmentTitle"
                                            [type]="investmentChartType"
                                            [data]="investmentData"
                                            [columnNames]="investmentColumn"
                                            [width]="myWidth"
                                            [height]="myHeight"
                                             ></google-chart>
                                          </div>
                                       </div>
                                    </div>


                                    <!-- Bottom Section Code-->

                                    <div class="cfYEto">
                                        <div class="InvestmentDetailsComponent__Flex-gqBHsE cIvssv">
                                            <h2 class="InvestmentDetailsComponent__ComponentHeader-hXScBQ cvmefl"><b>Investment Earnings</b></h2>
                                               <div class="InvestmentDetailsComponent__OriginalOffering-hgJrrT lbpClL">
                                                  <select>
                                                    <option>Lifetime</option>
                                                  </select>
                                               </div>
                                         </div>
                                         <div class="InvestmentDetailsComponent__RowContainer-qiVjG ksbCRB">
                                            <div class="InvestmentDetailsComponent__Flex-gqBHsE cIvssv">
                                               <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq">
                                                  <dd><b>$0</b></dd>
                                                  <dt>Begining principle <br/> outstanding</dt>
                                               </dl>
                                               <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq">
                                                  <dd><b> + $20 </b>.</dd>
                                                  <dt><a href="#">Total <br/> Invested</a></dt>
                                               </dl>
                                               <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq rightElems">
                                                   <dd><b>- $10</b></dd>
                                                   <dt>Principal <br/> repaid</dt>
                                                </dl>
                                                <dl class="InvestmentDetailsComponent__TargetDetails-casKPN hcoKcq rightElems">
                                                   <dd><b> = $10</b> </dd>
                                                   <dt>Ending principle <br/> outstanding</dt>
                                                </dl>
                                            </div>
                                         </div>
                                    </div>
                                    <!-- ENDS HERE -->

                                    <div class="shared__ComponentWrapper-hNHPcs cfYEto">
                                       <div class="InvestmentDocuments__SummaryWrapper-bNsReo cPCAxU">
                                          <h2 class="InvestmentDocuments__ComponentHeader-lfhxyR dgFsF">Investment Documents</h2>
                                          <div>
                                             <div class="none InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                                <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="/a/api/note/documents/wTbO6Q/117501" download="">Private Placement Memorandum</a></div>
                                                <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="/a/api/note/documents/wTbO6Q/117501" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                             </div>
                                          </div>
                                          <div>
                                             <div class="background InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                                <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="/a/api/note/documents/wTbO6Q/117502" download="">Subscription Agreement</a></div>
                                                <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="/a/api/note/documents/wTbO6Q/117502" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                             </div>
                                          </div>
                                          <div>
                                             <div class="none InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                                <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="/a/api/note/documents/wTbO6Q/133448" download="">Important Status Update</a></div>
                                                <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="/a/api/note/documents/wTbO6Q/133448" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                             </div>
                                          </div>
                                          <div>
                                             <div class="background InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                                <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="/a/api/note/documents/wTbO6Q/133465" download="">Indenture &amp; Form of Note</a></div>
                                                <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="/a/api/note/documents/wTbO6Q/133465" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                             </div>
                                          </div>
                                          <div>
                                             <div class="none InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                                <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="/a/api/note/documents/wTbO6Q/133664" download="">Series Note Supplement</a></div>
                                                <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="/a/api/note/documents/wTbO6Q/133664" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                             </div>
                                          </div>
                                          <div>
                                             <div class="background InvestmentDocumentsItem__Flex-cfdTIn hXiNjo">
                                                <div class="InvestmentDocumentsItem__LeftItem-KqIoU fJAWkb"><a href="https://ysdocs.s3.amazonaws.com/prod/INVESTMENTS/18154/UZtIoaKiq3d4FNWBqm5zqDZ0.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Date=20181101T103607Z&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Expires=3600&amp;X-Amz-Credential=AKIAJ6EW5IDOK7CZYOJA%2F20181101%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Signature=8fb2620f40e747c32a14968f56add0938a54157d11118c73ba7014b6ccc036bb" download="">Subscription Agreement</a></div>
                                                <div class="InvestmentDocumentsItem__RightItem-EecFt dlLuYI"><a href="https://ysdocs.s3.amazonaws.com/prod/INVESTMENTS/18154/UZtIoaKiq3d4FNWBqm5zqDZ0.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Date=20181101T103607Z&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Expires=3600&amp;X-Amz-Credential=AKIAJ6EW5IDOK7CZYOJA%2F20181101%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Signature=8fb2620f40e747c32a14968f56add0938a54157d11118c73ba7014b6ccc036bb" download=""><img class="normal" src="https://www.yieldstreet.com/static/media/Download.9cf9530a.svg"><img class="active" src="https://www.yieldstreet.com/static/media/DownloadHover.240f095e.svg"></a></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="Overview__RightContentWrapper-hjdzLc kFasWa">
                                    <div class="shared__ComponentWrapper-hNHPcs inGxEQ" id="portfolio-activity">
                                        <div class="Activity__TitleWrapper-bMaIrg dtzgFK_nobottom">
                                           <div class="Activity__Title-jSQQlI pjrCR">Current Account Summary</div>
                                        </div>
                                        <div class="Activity__TitleWrapper-bMaIrg dtzgFK_nobottom">
                                            <div class="Activity__Title-jSQQlI pjrCR princ_amt">Principal Outstanding</div>

                                         </div>
                                         <div class="Activity__TitleWrapper-bMaIrg dtzgFK_nobottom">
                                            <div class="Activity__Title-jSQQlI pjrCR princ_amt">Investment Interest Accured</div>
                                         </div>
                                         <div class="Activity__TitleWrapper-bMaIrg dtzgFK_nobottom">
                                            <div class="Activity__Title-jSQQlI pjrCR princ_amt">Available Balance</div>
                                         </div>
                                         <div class="Activity__TitleWrapper-bMaIrg dtzgFK_nobottom">
                                            <div class="Activity__Title-jSQQlI pjrCR princ_amt current_amt">Current Account Value</div>
                                         </div>
                                     </div>
                                     <div class="midBlock">
                                     <div class="shared__ComponentWrapper-hNHPcs inGxEQ acwInterestRate" id="portfolio-activity">
                                      <p>
                                          vhfdkjbhjfkd<br>
                                          ckbscghsv <br>
                                      </p>
                                     </div>
                                     <div class="shared__ComponentWrapper-hNHPcs inGxEQ acwInterestRate" id="portfolio-activity">
                                        <p>
                                            vhfdkjbhjfkd<br>
                                            ckbscghsv <br>
                                        </p>
                                      </div>
                                    </div>
                                    <div class="shared__ComponentWrapper-hNHPcs inGxEQ" id="portfolio-activity">
                                       <div class="Activity__TitleWrapper-bMaIrg dtzgFK">
                                          <div class="Activity__Title-jSQQlI pjrCR">Investment Activity</div>
                                          <div class="Activity__PaymentsTab-fXkAWs bOcZmN Activity__MenuTab-clDiJZ PsOBr">Payments</div>
                                          <div class="Activity__UpdatesTab-fkJjda boetUH Activity__MenuTab-clDiJZ PsOBr">Updates</div>
                                       </div>
                                       <div class="Activity__UpdatesWrapper-iTfPKV hCWbKF" id="portfolio-overview-activity-updates">
                                          <div class="Item__ItemWrapper-heChjU bYuSNA">
                                             <div class="Item__TitleWrapper-jAOqsD vwOQo">
                                                <div class="activity-item-title Item__Title-cKLOJg lwEFh">Investment Requested</div>
                                                <div class="activity-item-date Item__Date-beMZVG eFfwpE">November 1, 2018</div>
                                             </div>
                                             <div class="Item__ContentWrapper-eWsHpb ghdoim">
                                                <div class="Item__ContentInnerWrapper-jKYUeu ksKmGc"><span class="Item__Content-bZVkdQ ePYheE">You invested $15,000.00 in Large Dry Bulk Vessel Acquisition.</span></div>
                                             </div>
                                          </div>
                                          <div class="Item__ItemWrapper-heChjU bYuSNA">
                                             <div class="Item__TitleWrapper-jAOqsD vwOQo">
                                                <div class="activity-item-title Item__Title-cKLOJg lwEFh">Important Status Update</div>
                                                <div class="activity-item-date Item__Date-beMZVG eFfwpE">October 19, 2018</div>
                                             </div>
                                             <div class="Item__ContentWrapper-eWsHpb ghdoim">
                                                <div class="Item__ContentInnerWrapper-jKYUeu ksKmGc"><span class="Item__Content-bZVkdQ ePYheE">Please see attached for an important status update regarding this offering.</span><span class="Item__DownloadButton-haWKiQ jxMeWy"> <span aria-hidden="true" class="fa fa-download"></span></span></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                   <div class="Overview__Large-bquSXS igaIFV">
                      <div class="Overview__Container-duZyjV cUsIJI" *ngIf = "false">
                         <div class="Teaser__CompAcctContainer-hyPlEi exeJdx shared__ComponentWrapper-hNHPcs inGxEQ">
                            <h2 class="Teaser__HeaderPortfolio-fzeyQS kNqYvZ">Track performance in your Portfolio as soon as you make your first investment</h2>
                            <div class="Teaser__PictureTextContainer-jCIfQI bQuzXb">
                               <div class="ContentItem__Flex-hAdvJV joOubh">
                                  <div class="ContentItem__PortfolioImage-dpXkNY gCsApv"><img alt="Responsive Image" src="https://www.yieldstreet.com/static/media/invest-performance-gpx-2-x@3x.65b072c0.png" srcset="https://www.yieldstreet.com/static/media/invest-performance-gpx-2-x@3x.65b072c0.png 1x, https://www.yieldstreet.com/static/media/invest-performance-gpx-2-x@3x.65b072c0.png 2x"></div>
                                  <div class="ContentItem__PortfolioContentWrapper-hUJFaL eMtOAP">
                                     <div class="ContentItem__PortfolioTitle-hRBaaV eEoukw">Assess Investment Performance</div>
                                     <div class="ContentItem__PortfolioParagraph-hkhCjQ grddad">We report your account value in real time, as you accrue interest and make new investments.</div>
                                  </div>
                               </div>
                               <div class="ContentItem__Flex-hAdvJV joOubh">
                                  <div class="ContentItem__PortfolioImage-dpXkNY ONPUU"><img alt="Responsive Image" src="https://www.yieldstreet.com/static/media/transactions-gpx-2-x@3x.770cc8a2.png" srcset="https://www.yieldstreet.com/static/media/transactions-gpx-2-x@3x.770cc8a2.png 1x, https://www.yieldstreet.com/static/media/transactions-gpx-2-x@3x.770cc8a2.png 2x"></div>
                                  <div class="ContentItem__PortfolioContentWrapper-hUJFaL eMtOAP">
                                     <div class="ContentItem__PortfolioTitle-hRBaaV eEoukw">View and Download Transactions</div>
                                     <div class="ContentItem__PortfolioParagraph-hkhCjQ grddad">Track payments as they come into your YieldStreet Account or export your payment data to analyze cash flow.</div>
                                  </div>
                               </div>
                               <div class="ContentItem__Flex-hAdvJV joOubh">
                                  <div class="ContentItem__PortfolioImage-dpXkNY gCsApv"><img alt="Responsive Image" src="https://www.yieldstreet.com/static/media/invest-details-gpx@3x.e3f41c69.png" srcset="https://www.yieldstreet.com/static/media/invest-details-gpx@3x.e3f41c69.png 1x, https://www.yieldstreet.com/static/media/invest-details-gpx@3x.e3f41c69.png 2x"></div>
                                  <div class="ContentItem__PortfolioContentWrapper-hUJFaL eMtOAP">
                                     <div class="ContentItem__PortfolioTitle-hRBaaV eEoukw">View Investment Details</div>
                                     <div class="ContentItem__PortfolioParagraph-hkhCjQ grddad">Measure performance of each investment independently, view quarterly reports and download tax documents.</div>
                                  </div>
                               </div>
                               <div class="ContentItem__Flex-hAdvJV joOubh">
                                  <div class="ContentItem__PortfolioImage-dpXkNY ONPUU"><img alt="Responsive Image" src="https://www.yieldstreet.com/static/media/transfer-gpx-2-x@3x.4d98b010.png" srcset="https://www.yieldstreet.com/static/media/transfer-gpx-2-x@3x.4d98b010.png 1x, https://www.yieldstreet.com/static/media/transfer-gpx-2-x@3x.4d98b010.png 2x"></div>
                                  <div class="ContentItem__PortfolioContentWrapper-hUJFaL eMtOAP">
                                     <div class="ContentItem__PortfolioTitle-hRBaaV eEoukw">Transfer Funds</div>
                                     <div class="ContentItem__PortfolioParagraph-hkhCjQ grddad">View your YieldStreet Account Balance and transfer money between YieldStreet and any of your linked external banks.</div>
                                  </div>
                               </div>
                            </div>
                            <div class="Heading__HeadingContainer-hOOtWD ckXoti">
                               <h2 class="Heading__HeadingH2-kuBRyt hOrePZ">Since Inception, YieldStreet Investments Have An Expected<span> 12.63%<a class="IRR__StyledAnchor-kbEfdt hysIUH AnchorLink__Anchor-gvnPRg dbwGLr" href="#sup2">2</a> IRR </span></h2>
                               <div class="Heading__HeadingInnerDiv-btnnfZ jXryFJ"></div>
                               <span class="Heading__HeadingInnerSpan-kyHyx gqYavA">See why our average investor has more than 4 investments.</span>
                            </div>
                            <div class="Teaser__ButtonWrapper-dCRhbV cQktSg"><a href="/offerings"><button class="PrimaryButton__ButtonPrimary-exVhhh jcEjeY" id="cta-browse-offering">Browse Offerings<img class="PrimaryButton__Arrow-bFuMQr cjfbRg" src="https://www.yieldstreet.com/static/media/arrow.bd5e780d.svg" alt=""></button></a></div>
                         </div>
                      </div>

                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
