<div class="Main__Wrapper-fTNHWf fHOsuF">
    <div class="Main__Container-jeBqdM gQKlCo">
       <div class="PortfolioContainer__Wrapper-hvqmVE ikFBWa">
          <div class="Navbar__InnerWrapper-jFgBlI cuaAbL Container-gZqETv dedQyW">
              <app-sidebar-navigation></app-sidebar-navigation>
             <div class="PortfolioContainer__ContentWrapper-bLzDll fRUPbU">
                <div class="Header__Wrapper-jGBIxR dWYIdt">
                   <div class="Header__TitleWrapper-eiGINF iWVqVB">
                      <div class="Header__Title-dLRSgy fnOXBv">
                         <div class="Breadcrumb__Container-iFkNRY gdpVpA"><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>portfolio</span><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>overview</span></div>
                      </div>
                      <div class="Header__CurrentTab-dWpQpn dQsaWW">Overview</div>
                   </div>
                   <div class="Header__DropdownWrapper-kzZVJq cMVwLP">
                      <div>
                         <div class="Overview__DesktopHeader-jzpCoL kdJzyl">
                            <div class="Overview__FilterContainer-hMdmLg edXjDV">
                               <div class="shared__StyledHeaderDropdown-nCqUr cHWqGL HeaderDropdown__DropdownWrapper-coMKrj jvsIdX">
                                  <div class="HeaderDropdown__StyledDropdown-cfQxqG beZXOE Dropdown__Container-cUUygg dlinaM" id="portfolio-investor-dropdown">
                                     <div class="HeaderDropdown__StyledDropdown-cfQxqG beZXOE false Dropdown__ActiveContainer-ftVMPU ilTLWk" data-click-id="dropdown" id="active-container">
                                        <div class="Dropdown__ActiveOption-eGGXhI eguRTf" data-click-id="dropdown" id="active-option">All Investors</div>
                                        <span id="dropdown-arrow" data-click-id="dropdown" theme="secondary" aria-hidden="true" class="fa fa-angle-down Dropdown__DropdownIcon-dIxNDU ikGzXA"></span>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="Overview__Mobile-iJVYJt hlcOFH">
                            <div class="shared__MobileButton-HkEuD geypWD"><span aria-hidden="true" class="fa fa-filter"></span></div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="PortfolioContainer__SectionWrapper-kfBCZx jXkgWa">
                   <div class="Overview__Large-bquSXS igaIFV">
                      <div class="Overview__Container-duZyjV cUsIJI">
                         <div class="Teaser__CompAcctContainer-hyPlEi exeJdx shared__ComponentWrapper-hNHPcs inGxEQ">
                            <h2 class="Teaser__HeaderPortfolio-fzeyQS kNqYvZ">Track performance in your Portfolio as soon as you make your first investment</h2>
                            <div class="Teaser__PictureTextContainer-jCIfQI bQuzXb">
                               <div class="ContentItem__Flex-hAdvJV joOubh">
                                  <div class="ContentItem__PortfolioImage-dpXkNY gCsApv"><img alt="Responsive Image" src="https://www.yieldstreet.com/static/media/invest-performance-gpx-2-x@3x.65b072c0.png" srcset="https://www.yieldstreet.com/static/media/invest-performance-gpx-2-x@3x.65b072c0.png 1x, https://www.yieldstreet.com/static/media/invest-performance-gpx-2-x@3x.65b072c0.png 2x"></div>
                                  <div class="ContentItem__PortfolioContentWrapper-hUJFaL eMtOAP">
                                     <div class="ContentItem__PortfolioTitle-hRBaaV eEoukw">Assess Investment Performance</div>
                                     <div class="ContentItem__PortfolioParagraph-hkhCjQ grddad">We report your account value in real time, as you accrue interest and make new investments.</div>
                                  </div>
                               </div>
                               <div class="ContentItem__Flex-hAdvJV joOubh">
                                  <div class="ContentItem__PortfolioImage-dpXkNY ONPUU"><img alt="Responsive Image" src="https://www.yieldstreet.com/static/media/transactions-gpx-2-x@3x.770cc8a2.png" srcset="https://www.yieldstreet.com/static/media/transactions-gpx-2-x@3x.770cc8a2.png 1x, https://www.yieldstreet.com/static/media/transactions-gpx-2-x@3x.770cc8a2.png 2x"></div>
                                  <div class="ContentItem__PortfolioContentWrapper-hUJFaL eMtOAP">
                                     <div class="ContentItem__PortfolioTitle-hRBaaV eEoukw">View and Download Transactions</div>
                                     <div class="ContentItem__PortfolioParagraph-hkhCjQ grddad">Track payments as they come into your YieldStreet Account or export your payment data to analyze cash flow.</div>
                                  </div>
                               </div>
                               <div class="ContentItem__Flex-hAdvJV joOubh">
                                  <div class="ContentItem__PortfolioImage-dpXkNY gCsApv"><img alt="Responsive Image" src="https://www.yieldstreet.com/static/media/invest-details-gpx@3x.e3f41c69.png" srcset="https://www.yieldstreet.com/static/media/invest-details-gpx@3x.e3f41c69.png 1x, https://www.yieldstreet.com/static/media/invest-details-gpx@3x.e3f41c69.png 2x"></div>
                                  <div class="ContentItem__PortfolioContentWrapper-hUJFaL eMtOAP">
                                     <div class="ContentItem__PortfolioTitle-hRBaaV eEoukw">View Investment Details</div>
                                     <div class="ContentItem__PortfolioParagraph-hkhCjQ grddad">Measure performance of each investment independently, view quarterly reports and download tax documents.</div>
                                  </div>
                               </div>
                               <div class="ContentItem__Flex-hAdvJV joOubh">
                                  <div class="ContentItem__PortfolioImage-dpXkNY ONPUU"><img alt="Responsive Image" src="https://www.yieldstreet.com/static/media/transfer-gpx-2-x@3x.4d98b010.png" srcset="https://www.yieldstreet.com/static/media/transfer-gpx-2-x@3x.4d98b010.png 1x, https://www.yieldstreet.com/static/media/transfer-gpx-2-x@3x.4d98b010.png 2x"></div>
                                  <div class="ContentItem__PortfolioContentWrapper-hUJFaL eMtOAP">
                                     <div class="ContentItem__PortfolioTitle-hRBaaV eEoukw">Transfer Funds</div>
                                     <div class="ContentItem__PortfolioParagraph-hkhCjQ grddad">View your YieldStreet Account Balance and transfer money between YieldStreet and any of your linked external banks.</div>
                                  </div>
                               </div>
                            </div>
                            <div class="Heading__HeadingContainer-hOOtWD ckXoti">
                               <h2 class="Heading__HeadingH2-kuBRyt hOrePZ">Since Inception, YieldStreet Investments Have An Expected<span> 12.63%<a class="IRR__StyledAnchor-kbEfdt hysIUH AnchorLink__Anchor-gvnPRg dbwGLr" href="#sup2">2</a> IRR </span></h2>
                               <div class="Heading__HeadingInnerDiv-btnnfZ jXryFJ"></div>
                               <span class="Heading__HeadingInnerSpan-kyHyx gqYavA">See why our average investor has more than 4 investments.</span>
                            </div>
                            <div class="Teaser__ButtonWrapper-dCRhbV cQktSg"><a href="/offerings"><button class="PrimaryButton__ButtonPrimary-exVhhh jcEjeY" id="cta-browse-offering">Browse Offerings<img class="PrimaryButton__Arrow-bFuMQr cjfbRg" src="https://www.yieldstreet.com/static/media/arrow.bd5e780d.svg" alt=""></button></a></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>