<div class="TransferFunds__Header-kdtEcZ lgSQGw">
  <div class="TransferFunds__Title-laRkDW kaIhwm">Manage Funds</div>
  <div class="Dropdown__Container-cUUygg dlinaM" id="transfer-funds-investor">
     <div>
         <select #accountDropDownList class="dropdown  Dropdown__ActiveContainer-ftVMPU bkTGAH" aria-labelledby="dropdownMenuButton" (change) ="onRowClick()" >
           <option class="Dropdown__DropdownOptionContainer-nr8gk9-2" *ngFor= "let accData of accountData" [value] = "accData.uid">
             <span class="jCuLJb">{{accData.first_name | titlecase}} {{accData.title | titlecase}}</span>
           </option>
         </select>
       </div>
  </div>
</div>
