.eZhMjM {
	margin-bottom: 15px;
	height: 30px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.eZhMjM a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	color: rgb(118, 129, 135);
}

.eZhMjM a .activeSVG {
	display: none;
}

.eZhMjM a .defaultSVG {
	display: block;
}

.eZhMjM a.active {
	border-left: 1px solid rgb(30, 156, 159);
	color: rgb(30, 156, 159);
}

.eZhMjM a.active .activeSVG {
	display: block;
}

.eZhMjM a.active .defaultSVG {
	display: none;
}

.eZhMjM a.active img:first-child {
	margin-left: 9px;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.eZhMjM a.active span:nth-child(2) {
	margin-left: 10px;
}

.eZhMjM a:not(.active) {
	margin-left: 10px;
}


/* sc-component-id: NavItem__TabIcon-eugFOX */

.iWUARF {
	width: 15px;
	margin-right: 10px;
	fill: black;
}

.iWUARF path {
	fill: green;
}


/* sc-component-id: NavItem__TabTitle-jsVGJM */

.eJexFz {
	font-size: 16px;
	position: relative;
}


/* sc-component-id: Navbar__InnerWrapper-jFgBlI */

.cuaAbL {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0 2vw;
}


/* sc-component-id: Navbar__NavbarWrapper-gvcNVs */

.jdzcjd {
	display: none;
}

@media (min-width:992px) {
	.jdzcjd {
		display: block;
		padding: 17px 20px 0 0;
		min-width: 200px;
	}
}


/* sc-component-id: Navbar__Wrapper-kOBqOU */

.inRjwF {
	display: none;
}

@media (min-width:768px) {
	.inRjwF {
		display: block;
	}
}


/* sc-component-id: TransferFunds__Wrapper-iAXsuO */

.kmqWFo {
	background: rgb(246, 246, 246);
	font-family: Gotham A, Gotham B;
	width: 100%;
}


/* sc-component-id: TransferFunds__Content-iakrPW */

.diVxBw {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 228);
	padding: 25px 3vw;
	margin: 10px 0;
}

@media (min-width:768px) {
	.diVxBw {
		padding-bottom: 5vw;
	}
}


/* sc-component-id: TransferFunds__Header-kdtEcZ */

.lgSQGw {
	display: block;
}

@media (min-width:768px) {
	.lgSQGw {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}


/* sc-component-id: TransferFunds__Title-laRkDW */

.kaIhwm {
	color: rgb(53, 56, 58);
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 10px;
	margin-right: auto;
}

@media (min-width:768px) {
	.kaIhwm {
		font-size: 26px;
	}
}

@media (min-width:992px) {
	.kaIhwm {
		font-size: 28px;
	}
}


/* sc-component-id: TransferFunds__Subtitle-wkHIC */

.hUQEze {
	color: rgb(53, 56, 58);
	font-size: 20px;
	line-height: 30px;
	margin-top: 20px;
}

@media (min-width:992px) {
	.hUQEze {
		font-size: 18px;
	}
}


/* sc-component-id: TransferFunds__InnerWrapper-jIHYBt */

.hvSjDn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0 2vw;
}


/* sc-component-id: TransferFunds__NavbarWrapper-hSwvtQ */

@media (min-width:768px) {
	.jpzIMq {
		padding: 17px 20px 0 0;
		min-width: 200px;
	}
}


/* sc-component-id: AccountActionItems__ActionItemsList-hBLMU */

.cOVzxO {
	margin-bottom: 25px;
	padding-left: 25px;
}


/* sc-component-id: AccountActionItems__ActionItem-fTQztc */

.jAmqAf {
	color: rgb(82, 87, 90);
	font-size: 14px;
	line-height: 2;
}

.jAmqAf::before {
	content: '• ';
	color: rgb(82, 87, 90);
}


/* sc-component-id: CompleteAccount__MiniNotification-kDCKsm */

.daMqZy {
	text-align: center !important;
	margin-bottom: 10px;
}

.daMqZy:before {
	content: '\f071';
	font-family: 'FontAwesome';
	font-size: 34px;
	border-color: rgb(229, 207, 10);
	color: rgb(229, 207, 10);
}


/* sc-component-id: CompleteAccount__CompAcctContainer-cqcQua */

.JAvYP {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 1em;
	border: solid 1px rgb(223, 227, 228);
	margin: 0.66em 0px;
	background: white;
}

.JAvYP a>button {
	text-align: left;
}

@media (min-width:768px) {
	.JAvYP {
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}


/* sc-component-id: CompleteAccount__SmallHeading-fLLmAB */

.jCPIzr {
	max-width: 285px;
	font-size: 1.125em;
	line-height: 24px;
	color: rgb(53, 56, 58);
	margin-bottom: 5px;
}

@media (min-width:768px) {
	.jCPIzr {
		max-width: 495px;
	}
}


/* sc-component-id: CompleteAccount__Paragraph-bvuGhE */

.hzTCKq {
	max-width: 320px;
	color: rgb(118, 129, 135);
	font-size: 0.875em;
	margin-bottom: 20px;
	line-height: 19px;
}

@media (min-width:768px) {
	.hzTCKq {
		max-width: 647px;
	}
}