<div class="Main__Wrapper-fTNHWf fHOsuF">
   <div class="Main__Container-jeBqdM gQKlCo">
     <div class="PortfolioContainer__Wrapper-hvqmVE ikFBWa">
        <div class="Navbar__InnerWrapper-jFgBlI cuaAbL Container-gZqETv dedQyW">
          <app-sidebar-navigation></app-sidebar-navigation>
           <div class="PortfolioContainer__ContentWrapper-bLzDll fRUPbU">
              <div class="Header__Wrapper-jGBIxR dWYIdt">
                 <div class="Header__TitleWrapper-eiGINF iWVqVB">
                    <div class="Header__Title-dLRSgy fnOXBv">
                       <div class="Breadcrumb__Container-iFkNRY gdpVpA"><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>portfolio</span><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>wallet</span></div>
                    </div>
                    <div class="Header__CurrentTab-dWpQpn dQsaWW">YieldStreet Wallet</div>
                 </div>
                 <div class="Header__DropdownWrapper-kzZVJq cMVwLP">
                    <div class="Header__StyledHeaderDropdown-egeeiv kbfNmS HeaderDropdown__DropdownWrapper-coMKrj jvsIdX">
                       <div class="HeaderDropdown__StyledDropdown-cfQxqG beZXOE Dropdown__Container-cUUygg dlinaM" id="portfolio-investor-dropdown">
                          <div class="HeaderDropdown__StyledDropdown-cfQxqG beZXOE false Dropdown__ActiveContainer-ftVMPU ilTLWk" data-click-id="dropdown" id="active-container">
                             <div class="Dropdown__ActiveOption-eGGXhI eguRTf" data-click-id="dropdown" id="active-option">All Investors</div>
                             <span id="dropdown-arrow" data-click-id="dropdown" theme="secondary" aria-hidden="true" class="fa fa-angle-down Dropdown__DropdownIcon-dIxNDU ikGzXA"></span>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="CompleteAccount__CompAcctContainer-cqcQua JAvYP">
                 <div class="CompleteAccount__MiniNotification-kDCKsm daMqZy"></div>
                 <p class="CompleteAccount__SmallHeading-fLLmAB jCPIzr">Complete your account set-up to start investing</p>
                 <p class="CompleteAccount__Paragraph-bvuGhE hzTCKq">At least one of your accounts still needs attention before you’re ready to invest:</p>
                 <ul class="AccountActionItems__ActionItemsList-hBLMU cOVzxO" id="complete-account-feedback-actionItemsList">
                    <li class="AccountActionItems__ActionItem-fTQztc jAmqAf">Verify Identity</li>
                    <li class="AccountActionItems__ActionItem-fTQztc jAmqAf">Submit Accreditation</li>
                    <li class="AccountActionItems__ActionItem-fTQztc jAmqAf">Link Bank Account</li>
                 </ul>
                 <a href="/profile/accounts"><button class="PrimaryButton__ButtonPrimary-exVhhh jcEjeY" id="complete-account">Complete Now<img class="PrimaryButton__Arrow-bFuMQr cjfbRg" src="https://www.yieldstreet.com/static/media/arrow.bd5e780d.svg" alt=""></button></a>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>