
<footer class="Footer_container_1IhIW" id="footer">
  <div class="Footer_wrap_1WYAr">
     <div class="Footer_menuContainer_3yRpm">
        <div class="Footer_menuSection_3gd_Z">
           <span>Invest</span>
           <ul>
              <li><a [routerLink]="['/offerings']" routerLinkActive="router-link-active" >Investment Offerings</a></li>
              <li><a [routerLink]="['/why-yieldstreet']" routerLinkActive="router-link-active" >Why YieldStreet</a></li>
           </ul>
        </div>
        <div class="Footer_menuSection_3gd_Z">
           <span>Borrow</span>
           <ul>
              <li><a href="mailto:tushar.dhingra@full-cycle.com">Contact Us</a></li>
           </ul>
        </div>
        <div class="Footer_menuSection_3gd_Z">
           <span>Resources</span>
           <ul>
              <li><a  [routerLink]="['/investment-philosophy']" routerLinkActive="router-link-active">Investment Philosophy</a></li>
           </ul>
        </div>
        <div class="Footer_menuSection_3gd_Z">
           <span>Company</span>
           <ul>
              <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" >About Us</a></li>
           </ul>
        </div>
     </div>
     <div class="Footer_addressContainer_5aHKN">
        <p>402 goHive, 4th Floor, Gurgaon, 120011</p>
        <p><a href="tel:892-047-2798">892-047-2798</a></p>
        <p><a href="mailto:investments@full-cycle.com">investments@full-cycle.com</a></p>
     </div>
     <div class="Footer_socialContainer_1iqCe"><a href="#" target="_blank" rel="noopener noreferrer"><span aria-hidden="true" class="fa fa-instagram"></span></a><a href="https://twitter.com/YieldStreet" target="_blank" rel="noopener noreferrer"><span aria-hidden="true" class="fa fa-twitter"></span></a><a href="https://www.facebook.com/YieldStreet" target="_blank" rel="noopener noreferrer"><span aria-hidden="true" class="fa fa-facebook"></span></a><a href="https://www.linkedin.com/company/9383317/" target="_blank" rel="noopener noreferrer"><span aria-hidden="true" class="fa fa-linkedin"></span></a></div>
     <!-- <div class="Footer_legalTextContainer_3TbKQ">
        <p>No communication by YieldStreet Inc. or any of its affiliates (collectively, “YieldStreet™”), through this website or any other medium, should be construed or is intended to be a recommendation to purchase, sell or hold any security or otherwise to be investment, tax, financial, accounting, legal, regulatory or compliance advice. Nothing on this website is intended as an offer to extend credit, an offer to purchase or sell securities or a solicitation of any securities transaction.</p>
        <p>Any financial projections or returns shown on the website are estimated predictions of performance only, are hypothetical, are not based on actual investment results and are not guarantees of future results. Estimated projections do not represent or guarantee the actual results of any transaction, and no representation is made that any transaction will, or is likely to, achieve results or profits similar to those shown. In addition, other financial metrics and calculations shown on the website (including amounts of principal and interest repaid) have not been independently verified or audited and may differ from the actual financial metrics and calculations for any investment, which are contained in the investors' portfolios. Any investment information contained herein has been secured from sources that YieldStreet believes are reliable, but we make no representations or warranties as to the accuracy of such information and accept no liability therefor.</p>
        <p>Private placement investments are NOT bank deposits (and thus NOT insured by the FDIC or by any other federal governmental agency), are NOT guaranteed by YieldStreet or any other party, and MAY lose value. Neither the Securities and Exchange Commission nor any federal or state securities commission or regulatory authority has recommended or approved any investment or the accuracy or completeness of any of the information or materials provided by or through the website. Investors must be able to afford the loss of their entire investment.</p>
     </div>
     <div class="Footer_legalTextContainer_3TbKQ">
        <p>Investments in private placements are speculative and involve a high degree of risk and those investors who cannot afford to lose their entire investment should not invest. Additionally, investors may receive illiquid and/or restricted securities that may be subject to holding period requirements and/or liquidity concerns. Investments in private placements are highly illiquid and those investors who cannot hold an investment for the long term (at least 5-7 years) should not invest.</p>
        <p>Alternative investments should only be part of your overall investment portfolio. Further, the alternative investment portion of your portfolio should include a balanced portfolio of different alternative investments.</p>
        <p>Articles or information from third-party media outside of this domain may discuss YieldStreet or relate to information contained herein, but YieldStreet does not approve and is not responsible for such content. Hyperlinks to third-party sites, or reproduction of third-party articles, do not constitute an approval or endorsement by YieldStreet of the linked or reproduced content.</p>
        <p>Investing in securities (the "Securities") listed on YieldStreet™ pose risks, including but not limited to credit risk, interest rate risk, and the risk of losing some or all of the money you invest. Before investing you should: (1) conduct your own investigation and analysis; (2) carefully consider the investment and all related charges, expenses, uncertainties and risks, including all uncertainties and risks described in offering materials; and (3) consult with your own investment, tax, financial and legal advisors. Such Securities are only suitable for accredited investors who understand and willing and able to accept the high risks associated with private investments.</p>
     </div>
     <div class="Footer_legalTextContainer_3TbKQ">
        <p>Investing in private placements requires long-term commitments, the ability to afford to lose the entire investment, and low liquidity needs. This website provides preliminary and general information about the Securities and is intended for initial reference purposes only. It does not summarize or compile all the applicable information. This website does not constitute an offer to sell or buy any securities. No offer or sale of any Securities will occur without the delivery of confidential offering materials and related documents. This information contained herein is qualified by and subject to more detailed information in the applicable offering materials. YieldStreet™ is not registered as a broker-dealer. YieldStreet™ does not make any representation or warranty to any prospective investor regarding the legality of an investment in any YieldStreet Securities.</p>
        <p>Banking services are provided by Evolve Bank, Member FDIC.</p>
        <p>Investment advisory services are provided by YieldStreet Management, LLC, an investment adviser registered with the Securities and Exchange Commission.</p>
     </div> -->
     <div class="Footer_copyright_ZwfuD"><span class="Footer_copyrightLine_1v9ht"><strong>Copyright © 2018 ProjYield, Inc.</strong><br></span><span><a href="/privacy">Privacy</a></span><span class="Footer_bullet_12ilC">•</span><span><a href="/terms">Terms of use</a></span><span class="Footer_bullet_12ilC"></span></div>
  </div>
</footer>
