<div class="Main__Wrapper-fTNHWf fHOsuF">
  <div class="Main__Container-jeBqdM gQKlCo">
     <div class="PortfolioContainer__Wrapper-hvqmVE ikFBWa">
        <div class="Navbar__InnerWrapper-jFgBlI cuaAbL Container-gZqETv dedQyW">
           <div class="Navbar__NavbarWrapper-gvcNVs jdzcjd">
              <ul class="Navbar__Wrapper-kOBqOU inRjwF">
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a class="" aria-current="false" href="/portfolio">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/OverviewActive.b3840050.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/OverviewDefault.b4fc387f.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Overview</div>
                    </a>
                 </li>
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a class="" aria-current="false" href="/portfolio/investments">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/InvestmentsActive.1aea9b0f.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/InvestmentsDefault.2650c329.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Investments</div>
                    </a>
                 </li>
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a class="" aria-current="false" href="/portfolio/wallet">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/WalletActive.80210110.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/WalletDefault.0e0c70c6.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Wallet</div>
                    </a>
                 </li>
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a class="" aria-current="false" href="/profile/funds">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ManageFundsActive.cb837e75.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ManageFundsDefault.8dad5e3a.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Transfer Funds</div>
                    </a>
                 </li>
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a class="" aria-current="false" href="/portfolio/reports">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ReportsActive.a6f721c1.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ReportsDefault.183daf3d.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Reports</div>
                    </a>
                 </li>
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a class="active active" aria-current="true" href="/portfolio/transactions">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/TransactionsActive.136ccf21.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/TransactionsDefault.1a96eba4.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Transactions</div>
                    </a>
                 </li>
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a class="" aria-current="false" href="/profile/accounts">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ManageInvestorsActive.9f98461a.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ManageInvestorsDefault.05f4f95a.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Manage Accounts</div>
                    </a>
                 </li>
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a class="" aria-current="false" href="/portfolio/tax-center">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/TaxCenterActive.3da60d3d.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/TaxCenterDefault.4257e649.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Tax Center</div>
                    </a>
                 </li>
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a href="mailto:investments@yieldstreet.com">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ContactDefault.a091529a.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Contact Us</div>
                    </a>
                 </li>
              </ul>
           </div>
           <div class="PortfolioContainer__ContentWrapper-bLzDll fRUPbU">
              <div class="Header__Wrapper-jGBIxR dWYIdt">
                 <div class="Header__TitleWrapper-eiGINF iWVqVB">
                    <div class="Header__Title-dLRSgy fnOXBv">
                       <div class="Breadcrumb__Container-iFkNRY gdpVpA"><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>portfolio</span><span class="Breadcrumb__BreadcrumbItem-hOHfsj cvyNLD"><span class="Breadcrumb__FontAwesomeWrapper-eFirZx gGHvIX"><span aria-hidden="true" class="fa fa-angle-right"></span></span>transactions</span></div>
                    </div>
                    <div class="Header__CurrentTab-dWpQpn dQsaWW">Transactions</div>
                 </div>
                 <div class="Header__DropdownWrapper-kzZVJq cMVwLP">
                    <div>
                       <div class="shared__Desktop-hjxvYk cGsOEk">
                          <div class="Transactions__StyledDropdown-gKkqrw bMQkEO shared__StyledHeaderDropdown-nCqUr cHWqGL HeaderDropdown__DropdownWrapper-coMKrj jvsIdX">
                             <div class="HeaderDropdown__StyledDropdown-cfQxqG beZXOE Dropdown__Container-cUUygg dlinaM" id="portfolio-investor-dropdown">
                                <div class="HeaderDropdown__StyledDropdown-cfQxqG beZXOE false Dropdown__ActiveContainer-ftVMPU ilTLWk" data-click-id="dropdown" id="active-container">
                                   <div class="Dropdown__ActiveOption-eGGXhI eguRTf" data-click-id="dropdown" id="active-option">All Investors</div>
                                   <span id="dropdown-arrow" data-click-id="dropdown" theme="secondary" aria-hidden="true" class="fa fa-angle-down Dropdown__DropdownIcon-dIxNDU ikGzXA"></span>
                                </div>
                             </div>
                          </div>
                          <div class="Transactions__StyledDropdown-gKkqrw bMQkEO shared__StyledHeaderDropdown-nCqUr cHWqGL HeaderDropdown__DropdownWrapper-coMKrj jvsIdX">
                             <div class="HeaderDropdown__StyledDropdown-cfQxqG beZXOE Dropdown__Container-cUUygg dlinaM" id="portfolio-investor-dropdown">
                                <div class="HeaderDropdown__StyledDropdown-cfQxqG beZXOE false Dropdown__ActiveContainer-ftVMPU ilTLWk" data-click-id="dropdown" id="active-container">
                                   <div class="Dropdown__ActiveOption-eGGXhI eguRTf" data-click-id="dropdown" id="active-option">All Investments</div>
                                   <span id="dropdown-arrow" data-click-id="dropdown" theme="secondary" aria-hidden="true" class="fa fa-angle-down Dropdown__DropdownIcon-dIxNDU ikGzXA"></span>
                                </div>
                             </div>
                          </div>
                          <div class="Transactions__StyledDropdown-gKkqrw bMQkEO shared__StyledHeaderDropdown-nCqUr cHWqGL HeaderDropdown__DropdownWrapper-coMKrj jvsIdX">
                             <div class="HeaderDropdown__StyledDropdown-cfQxqG beZXOE Dropdown__Container-cUUygg dlinaM" id="portfolio-investor-dropdown">
                                <div class="HeaderDropdown__StyledDropdown-cfQxqG beZXOE false Dropdown__ActiveContainer-ftVMPU ilTLWk" data-click-id="dropdown" id="active-container">
                                   <div class="Dropdown__ActiveOption-eGGXhI eguRTf" data-click-id="dropdown" id="active-option">All Years</div>
                                   <span id="dropdown-arrow" data-click-id="dropdown" theme="secondary" aria-hidden="true" class="fa fa-angle-down Dropdown__DropdownIcon-dIxNDU ikGzXA"></span>
                                </div>
                             </div>
                          </div>
                          <div class="Transactions__StyledDropdown-gKkqrw bMQkEO shared__StyledHeaderDropdown-nCqUr cHWqGL HeaderDropdown__DropdownWrapper-coMKrj jvsIdX">
                             <div class="HeaderDropdown__StyledDropdown-cfQxqG beZXOE Dropdown__Container-cUUygg dlinaM" id="portfolio-investor-dropdown">
                                <div class="HeaderDropdown__StyledDropdown-cfQxqG beZXOE false Dropdown__ActiveContainer-ftVMPU ilTLWk" data-click-id="dropdown" id="active-container">
                                   <div class="Dropdown__ActiveOption-eGGXhI eguRTf" data-click-id="dropdown" id="active-option">All Types</div>
                                   <span id="dropdown-arrow" data-click-id="dropdown" theme="secondary" aria-hidden="true" class="fa fa-angle-down Dropdown__DropdownIcon-dIxNDU ikGzXA"></span>
                                </div>
                             </div>
                          </div>
                          <div class="Transactions__ButtonContainer-edlSFp kOQBGu"><button class="Transactions__StyledPrimaryButton-hUgCkZ bPVvy PrimaryButton__ButtonPrimary-exVhhh YVQzO" id="transaction-portfolio-header-export-button">Export</button></div>
                       </div>
                       <div class="shared__Mobile-gnnfyx iORixb">
                          <div class="shared__MobileButton-HkEuD geypWD"><span aria-hidden="true" class="fa fa-filter"></span></div>
                          <div class="shared__MobileButton-HkEuD geypWD"><span aria-hidden="true" class="fa fa-download"></span></div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="PortfolioContainer__SectionWrapper-kfBCZx jXkgWa">
                 <div class="Transactions__Container-jGaKLJ ibqjOa">
                    <div class="NoInvestmentAlert__NoInvestmentsAlertContainer-cVRUEX cUGTtX shared__ComponentWrapper-hNHPcs inGxEQ">
                       <h4 class="NoInvestmentAlert__NoInvestmentsTitle-jtCIJD imAOFj">The currently selected Investor Account does not have any Transactions available at this time.</h4>
                       <p class="NoInvestmentAlert__NoInvestmentsParagraph-cDuknA gJQlKE">Once a transaction is initiated for this Investor Account, its details will appear here.</p>
                       <a href="/offerings"><button class="PrimaryButton__ButtonPrimary-exVhhh jLNNsJ" id="browse-offerings">Browse Offerings</button></a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>