.itwTyA {
	background: rgb(246, 246, 246);
	width: 100%;
}
.eYkedC {
	width: 100%;
}


/* sc-component-id: InvestorAccounts__Content-xzUNG */

.hPFPqk {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 228);
	padding: 25px 3vw;
	margin: 10px 0;
}

@media (min-width:768px) {
	.hPFPqk {
		padding-bottom: 5vw;
	}
}


/* sc-component-id: InvestorAccounts__Title-kFjJyR */

.eiwQig {
	color: rgb(53, 56, 58);
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 10px;
	margin-right: auto;
}

@media (min-width:768px) {
	.eiwQig {
		font-size: 26px;
	}
}

@media (min-width:992px) {
	.eiwQig {
		font-size: 28px;
	}
}


/* sc-component-id: InvestorAccounts__StyledHeader-eKdaqk */

.kcIfdD {
	display: none;
}

@media (min-width:992px) {
	.kcIfdD {
		-webkit-align-items: start;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
		background: rgb(246, 246, 246);
		border: 1px solid rgb(223, 227, 228);
		border-collapse: collapse;
		display: grid;
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(8, 1fr);
		grid-gap: 5px;
		display: -ms-grid;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr;
		-ms-grid-gap: 5px;
		padding: 7px 15px;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

.PxFFM {
	display: none;
}

@media (min-width:992px) {
	.PxFFM {
		-webkit-align-items: start;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
		background: rgb(246, 246, 246);
		border: 1px solid rgb(223, 227, 228);
		border-collapse: collapse;
		display: grid;
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(10, 1fr);
		grid-gap: 5px;
		display: -ms-grid;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr;
		-ms-grid-gap: 5px;
		padding: 7px 15px;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}


/* sc-component-id: InvestorAccounts__ItemTitle-jIZWoq */

.eyIXqu {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 1;
	grid-column-end: 3;
	-ms-grid-column: 1;
}

.ihUoFz {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 3;
	grid-column-end: 5;
	-ms-grid-column: 3;
}

.hsXCls {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 5;
	grid-column-end: 7;
	-ms-grid-column: 5;
}

.bocQDz {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 7;
	grid-column-end: 9;
	-ms-grid-column: 7;
}

@media (min-width:992px) {
	.bocQDz {
		text-align: left;
	}
}

.bfjtHr {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 7;
	grid-column-end: 9;
	-ms-grid-column: 7;
}

.caksyX {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 9;
	grid-column-end: 11;
	-ms-grid-column: 9;
}

@media (min-width:992px) {
	.caksyX {
		text-align: left;
	}
}


/* sc-component-id: InvestorAccounts__ValueText-gvYKBd */

.iVgXXZ {
	color: rgb(208, 2, 27);
}

.eyJVWC {
	color: rgb(171, 180, 186);
}
.idVsRd {
	cursor: pointer;
	color: rgb(43, 184, 192);
	font-size: 14px;
	margin-top: 20px;
}
.itwTyA {
	background: rgb(246, 246, 246);
	width: 100%;
}


.eYkedC {
	width: 100%;
}

.hPFPqk {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 228);
	padding: 25px 3vw;
	margin: 10px 0;
}

@media (min-width:768px) {
	.hPFPqk {
		padding-bottom: 5vw;
	}
}
.eiwQig {
	color: rgb(53, 56, 58);
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 10px;
	margin-right: auto;
}

@media (min-width:768px) {
	.eiwQig {
		font-size: 26px;
	}
}

@media (min-width:992px) {
	.eiwQig {
		font-size: 28px;
	}
}
.kcIfdD {
	display: none;
}

@media (min-width:992px) {
	.kcIfdD {
		-webkit-align-items: start;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
		background: rgb(246, 246, 246);
		border: 1px solid rgb(223, 227, 228);
		border-collapse: collapse;
		display: grid;
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(8, 1fr);
		grid-gap: 5px;
		display: -ms-grid;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr;
		-ms-grid-gap: 5px;
		padding: 7px 15px;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

.PxFFM {
	display: none;
}

@media (min-width:992px) {
	.PxFFM {
		-webkit-align-items: start;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
		background: rgb(246, 246, 246);
		border: 1px solid rgb(223, 227, 228);
		border-collapse: collapse;
		display: grid;
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(10, 1fr);
		grid-gap: 5px;
		display: -ms-grid;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr;
		-ms-grid-gap: 5px;
		padding: 7px 15px;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}
.eyIXqu {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 1;
	grid-column-end: 3;
	-ms-grid-column: 1;
}

.ihUoFz {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 3;
	grid-column-end: 5;
	-ms-grid-column: 3;
}

.hsXCls {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 5;
	grid-column-end: 7;
	-ms-grid-column: 5;
}

.bocQDz {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 7;
	grid-column-end: 9;
	-ms-grid-column: 7;
}

@media (min-width:992px) {
	.bocQDz {
		text-align: left;
	}
}

.bfjtHr {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 7;
	grid-column-end: 9;
	-ms-grid-column: 7;
}

.caksyX {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 9;
	grid-column-end: 11;
	-ms-grid-column: 9;
}

@media (min-width:992px) {
	.caksyX {
		text-align: left;
	}
}
.iVgXXZ {
	color: rgb(208, 2, 27);
}

.eyJVWC {
	color: rgb(171, 180, 186);
}
.idVsRd {
	cursor: pointer;
	color: rgb(43, 184, 192);
	font-size: 14px;
	margin-top: 20px;
}
.jMFmlD {
	position: absolute;
	font-size: 16px;
	padding-left: 6px;
}

@media (min-width:992px) {
	.jMFmlD {
		font-size: 20px;
	}
}
.gDhyzX {
	color: rgb(53, 56, 58);
}
.boLsGi {
	font-size: 13px;
	color: rgb(118, 129, 135);
	color: rgb(30, 156, 159);
}

.iuJceP {
	font-size: 13px;
	color: rgb(118, 129, 135);
}

.jncQVe {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	z-index: 2;
	width: 25%;
	text-align: center;
	margin-top: 10px;
}

.ctOiyt {
	width: 22px;
	height: 22px;
	margin-bottom: 5px;
	border-radius: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 400;
	font-size: 13px;
	color: rgb(118, 129, 135);
	border: solid 1px rgb(223, 227, 228);
	background-color: rgb(246, 246, 246);
	border: solid 1px rgb(30, 156, 159);
	color: rgb(30, 156, 159);
	background-color: rgb(238, 240, 240);
}

.hFWenB {
	width: 22px;
	height: 22px;
	margin-bottom: 5px;
	border-radius: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 400;
	font-size: 13px;
	color: rgb(118, 129, 135);
	border: solid 1px rgb(223, 227, 228);
	background-color: rgb(246, 246, 246);
}
.dQgiJq {
	position: absolute;
	width: 73%;
	z-index: 1;
	height: 44px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.jYObjW {
	-webkit-flex: 0;
	-ms-flex: 0;
	flex: 0;
	background-color: rgb(30, 156, 159);
	height: 2px;
}
.jyrZlk {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background-color: rgb(223, 227, 228);
	height: 2px;
}
.fqMPhP {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.hhZNft {
	width: 100%;
	margin: 20px auto 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	font-size: 14px;
}

@media (min-width:768px) {
	.hhZNft {
		width: 80%;
		margin: 0 auto;
		font-size: 16px;
	}
}
.eUFaOX {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 228);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 25px 0;
	margin: 10px 0;
}

@media (min-width:768px) {
	.eUFaOX {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}
.dafSbU {
	font-size: 14px;
	font-family: Gotham A, Gotham B;
	margin-bottom: 20px;
}

.ePQAqy>input {
	width: 100%;
	font-size: 14px;
	font-family: Gotham A, Gotham B;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(171, 180, 186);
	box-shadow: inset 0 0 3px 0 rgba(55, 62, 65, 0.13);
	border-radius: 1px;
	text-align: left;
	color: rgb(53, 56, 58);
	line-height: 24px;
	height: 40px;
	padding: 0 10px;
	outline: none;
}

.ePQAqy>input:focus {
	border: 1px solid rgb(107, 197, 199);
}

.ePQAqy>input:disabled {
	background: rgb(246, 246, 246);
	border: 1px solid rgb(223, 227, 228);
	color: rgb(171, 180, 186);
}

.ePQAqy>input:placeholder {
	color: rgb(171, 180, 186);
}

.lnRsmH {
	font-size: 14px;
	color: rgb(53, 56, 58);
	line-height: 24px;
	display: block;
}

.jjVZyg {
	margin-top: 20px;
	border-color: rgb(223, 227, 228);
	border-width: 1px 1px 0 1px;
	border-style: solid;
}

@media (min-width:768px) {
	.jjVZyg {
		border: 1px solid rgb(223, 227, 228);
		border-bottom: 0;
	}
}


.kPUQpi {
	color: rgb(53, 56, 58);
	font-size: 15px;
	line-height: 20px;
	margin-top: 15px;
}

@media (min-width:768px) {
	.kPUQpi {
		margin-top: 30px;
		text-align: center;
	}
}

@media (min-width:992px) {
	.kPUQpi {
		font-size: 17px;
	}
}
.ikFBWa {
	background: rgb(246, 246, 246);
	width: 100%;
}

.fRUPbU {
	width: 100%;
}
.gXoOcc {
	text-align: center;
	margin: 15vh 10vw;
	color: rgb(53, 56, 58);
}
.fGMnpS {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-right: auto;
}

@media (min-width:768px) {
	.fGMnpS {
		margin-right: 60px;
	}
}

@media (min-width:992px) {
	.fGMnpS {
		margin-right: 75px;
	}
}
.bZWnwk {
	background: rgb(223, 227, 228);
	border-radius: 100%;
	float: left;
	height: 40px;
	margin-left: 15px;
	text-align: center;
	width: 40px;
}

@media (min-width:992px) {
	.bZWnwk {
		height: 50px;
		margin: auto 0 5px 15px;
		width: 50px;
	}
}
.cpMlqO {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	line-height: 20px;
	margin-left: 10px;
}

@media (min-width:768px) {
	.cpMlqO {
		line-height: 19px;
	}
}

@media (min-width:992px) {
	.cpMlqO {
		line-height: 0;
	}
}
.jScECE {
	float: left;
	font-size: 16px;
	height: inherit;
	padding-top: 10px;
	width: inherit;
}

@media (min-width:768px) {
	.jScECE {
		font-size: 18px;
		padding-top: 9px;
	}
}

@media (min-width:992px) {
	.jScECE {
		font-size: 20px;
		padding-top: 12px;
	}
}
.kUprSS {
	color: rgb(118, 129, 135);
	font-size: 12px;
}

@media (min-width:768px) {
	.kUprSS {
		line-height: 17px;
	}
}

@media (min-width:992px) {
	.kUprSS {
		font-size: 14px;
		line-height: 24px;
	}
}
.iffCbE {
	color: rgb(53, 56, 58);
	font-family: Raleway, sans-serif;
	font-size: 17px;
}

@media (min-width:768px) {
	.iffCbE {
		font-size: 18px;
		line-height: 24px;
	}
}

@media (min-width:992px) {
	.iffCbE {
		font-size: 20px;
		line-height: 30px;
	}
}
.itwTyA {
	background: rgb(246, 246, 246);
	width: 100%;
}
.eYkedC {
	width: 100%;
}
.hPFPqk {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 228);
	padding: 25px 3vw;
	margin: 10px 0;
}

@media (min-width:768px) {
	.hPFPqk {
		padding-bottom: 5vw;
	}
}
.eiwQig {
	color: rgb(53, 56, 58);
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 10px;
	margin-right: auto;
}

@media (min-width:768px) {
	.eiwQig {
		font-size: 26px;
	}
}

@media (min-width:992px) {
	.eiwQig {
		font-size: 28px;
	}
}
.kcIfdD {
	display: none;
}

@media (min-width:992px) {
	.kcIfdD {
		-webkit-align-items: start;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
		background: rgb(246, 246, 246);
		border: 1px solid rgb(223, 227, 228);
		border-collapse: collapse;
		display: grid;
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(8, 1fr);
		grid-gap: 5px;
		display: -ms-grid;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr;
		-ms-grid-gap: 5px;
		padding: 7px 15px;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

.PxFFM {
	display: none;
}

@media (min-width:992px) {
	.PxFFM {
		-webkit-align-items: start;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
		background: rgb(246, 246, 246);
		border: 1px solid rgb(223, 227, 228);
		border-collapse: collapse;
		display: grid;
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(10, 1fr);
		grid-gap: 5px;
		display: -ms-grid;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr;
		-ms-grid-gap: 5px;
		padding: 7px 15px;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}
.eyIXqu {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 1;
	grid-column-end: 3;
	-ms-grid-column: 1;
}

.ihUoFz {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 3;
	grid-column-end: 5;
	-ms-grid-column: 3;
}

.hsXCls {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 5;
	grid-column-end: 7;
	-ms-grid-column: 5;
}

.bocQDz {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 7;
	grid-column-end: 9;
	-ms-grid-column: 7;
}

@media (min-width:992px) {
	.bocQDz {
		text-align: left;
	}
}

.bfjtHr {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 7;
	grid-column-end: 9;
	-ms-grid-column: 7;
}

.caksyX {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 9;
	grid-column-end: 11;
	-ms-grid-column: 9;
}

@media (min-width:992px) {
	.caksyX {
		text-align: left;
	}
}
.iVgXXZ {
	color: rgb(208, 2, 27);
}

.eyJVWC {
	color: rgb(171, 180, 186);
}
.idVsRd {
	cursor: pointer;
	color: rgb(43, 184, 192);
	font-size: 14px;
	margin-top: 20px;
}
.kmqWFo {
	background: rgb(246, 246, 246);
	font-family: Gotham A, Gotham B;
	width: 100%;
}
.diVxBw {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 228);
	padding: 25px 3vw;
	margin: 10px 0;
}

@media (min-width:768px) {
	.diVxBw {
		padding-bottom: 5vw;
	}
}
.lgSQGw {
	display: block;
}

@media (min-width:768px) {
	.lgSQGw {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}
.kaIhwm {
	color: rgb(53, 56, 58);
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 10px;
	margin-right: auto;
}

@media (min-width:768px) {
	.kaIhwm {
		font-size: 26px;
	}
}

@media (min-width:992px) {
	.kaIhwm {
		font-size: 28px;
	}
}
.hUQEze {
	color: rgb(53, 56, 58);
	font-size: 20px;
	line-height: 30px;
	margin-top: 20px;
}

@media (min-width:992px) {
	.hUQEze {
		font-size: 18px;
	}
}
.hvSjDn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0 2vw;
}
@media (min-width:768px) {
	.jpzIMq {
		padding: 17px 20px 0 0;
		min-width: 200px;
	}
}
.jwCFol {
	color: rgb(53, 56, 58);
	font-size: 14px;
	font-family: Gotham A, Gotham B;
	vertical-align: top;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	-webkit-flex-shrink: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
}

.jwCFol:hover {
	cursor: pointer;
}

.jwCFol.error-required {
	color: rgb(208, 2, 27);
}
.bbAOYl {
	position: relative;
	border: 1px solid rgb(171, 180, 186);
	box-shadow: inset 0 0 3px 0 rgba(55, 62, 65, 0.13);
	border-radius: 1px;
	height: 18px;
	width: 18px;
	display: inline-block;
	margin-left: -18px;
	z-index: 2;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.bbAOYl img {
	display: block;
	margin: 4px 0 0 2px;
}

.bbAOYl.error-required {
	border: 1px solid rgb(208, 2, 27);
}
.iacNie {
	display: inline-block;
	margin: 0;
	width: 18px;
	height: 18px;
	vertical-align: baseline;
	visibility: hidden;
	position: relative;
	z-index: 1;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.iacNie:checked+.Checkbox__CheckBoxFake-kBKnnk {
	background: rgb(43, 184, 192);
	border: 1px solid rgb(30, 156, 159);
	box-shadow: inset 0 0 3px 0 rgba(55, 62, 65, 0.13);
	border-radius: 1px;
}
.fcFsSP {
	display: inline-block;
	line-height: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width:380px) {
	.gaNxVn {
		margin: 15px 0 0 5px;
	}
}
.kDnrky {
	font-size: 14px;
	font-family: Raleway;
	font-weight: 600;
	cursor: pointer;
	color: #31589D;
}

.giTvKs {
	font-size: 14px;
	font-family: Raleway;
	font-weight: 600;
	cursor: pointer;
	color: #006392;
}
.esfQUm {
	display: inline-block;
	width: 20px;
}
.dRbWrt {
	max-width: 400px;
	margin: 0 auto;
	padding-top: 30px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-around;
	-webkit-justify-content: space-around;
	-ms-flex-pack: space-around;
	justify-content: space-around;
}
.cDWPeB {
	font-family: Raleway;
	font-size: 28px;
	text-align: center;
	font-weight: 400;
	line-height: 33px;
	margin-bottom: 35px;
}
.fWELlu {
	float: right;
}
.howyag {
	font-size: 14px;
	text-align: center;
}

.howyag a {
	color: primaryAlt;
	text-decoration: none;
}
.eMPAnp {
	margin-bottom: 20px;
}
.cPakrK a {
	color: primaryAlt;
	font-size: 12px;
	text-decoration: none;
}
.dldbVF {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 50px;
}
.dURISU {
	background: rgb(246, 246, 246);
	padding: 20px;
}
.xwpWO {
	display: block;
	margin: 0 auto 25px auto;
	clear: both;
}
.EEMmD {
	max-width: 485px;
	margin: 0 auto;
	border: 1px solid rgb(223, 227, 228);
	background: rgb(255, 255, 255);
	padding: 20px;
}

@media (min-width:768px) {
	.EEMmD {
		padding: 45px 80px;
	}
}
.fLwSqC {
	color: rgb(118, 129, 135);
	font-size: 12px;
}

@media (min-width:992px) {
	.fLwSqC {
		display: none;
	}
}
.bvDjiZ {
	color: rgb(53, 56, 58);
	font-size: 14px;
	margin-top: 3px;
	font-weight: 500;
}

@media (min-width:992px) {
	.bvDjiZ {
		padding-top: 0;
	}
}

.cBtYdm {
	color: rgb(53, 56, 58);
	font-size: 14px;
	margin-top: 3px;
}

@media (min-width:992px) {
	.cBtYdm {
		padding-top: 0;
	}
}

.fSfYgx {
	color: rgb(53, 56, 58);
	font-size: 14px;
	margin-top: 3px;
	color: rgb(30, 156, 159);
}

@media (min-width:992px) {
	.fSfYgx {
		padding-top: 0;
	}
}
.invnTH {
	grid-template-rows: repeat(3, 1fr);
	-ms-grid-rows: 1fr 1fr 1fr;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid rgb(223, 227, 228);
	border-top: 1px solid rgb(223, 227, 228);
	display: grid;
	display: -ms-grid;
	grid-column-gap: 55px;
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-columns: 1fr 1fr;
	-ms-grid-column-gap: 55px;
	padding: 5px 3vw;
	margin: 10px 0;
	width: 100%;
}

@media (max-width:380px) {
	.invnTH {
		grid-column-gap: 20px;
		-ms-grid-column-gap: 20px;
		padding: 15px 1vw;
	}
}

@media (min-width:768px) {
	.invnTH {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 0;
		-ms-grid-column-gap: 0;
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr 1fr;
		border-collapse: collapse;
		margin: 0;
		padding: 10px 3vw;
	}
}

@media (min-width:992px) {
	.invnTH {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-gap: 5px;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr;
		-ms-grid-gap: 5px;
		padding: 5px 15px;
		border-top: 0;
	}
}

.invnTH:nth-child(odd) {
	background: rgb(255, 255, 255);
}

.invnTH:nth-child(even) {
	background: rgb(246, 246, 246);
}

.iQwHZA {
	grid-template-rows: repeat(3, 1fr);
	-ms-grid-rows: 1fr 1fr 1fr;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid rgb(223, 227, 228);
	border-top: 1px solid rgb(223, 227, 228);
	display: grid;
	display: -ms-grid;
	grid-column-gap: 55px;
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-columns: 1fr 1fr;
	-ms-grid-column-gap: 55px;
	padding: 5px 3vw;
	margin: 10px 0;
	width: 100%;
}

@media (max-width:380px) {
	.iQwHZA {
		grid-column-gap: 20px;
		-ms-grid-column-gap: 20px;
		padding: 15px 1vw;
	}
}

@media (min-width:768px) {
	.iQwHZA {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(6, 1fr);
		grid-column-gap: 0;
		-ms-grid-column-gap: 0;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr 1fr;
		border-collapse: collapse;
		margin: 0;
		padding: 10px 3vw;
	}
}

@media (min-width:992px) {
	.iQwHZA {
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-gap: 5px;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr;
		-ms-grid-gap: 5px;
		padding: 5px 15px;
		border-top: 0;
	}
}

.iQwHZA:nth-child(odd) {
	background: rgb(255, 255, 255);
}

.iQwHZA:nth-child(even) {
	background: rgb(246, 246, 246);
}
.eAqlTR {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	white-space: nowrap;
}

@media (max-width:380px) {
	.eAqlTR {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.eAqlTR {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.eAqlTR {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.eAqlTR {
		grid-column-start: 1;
		grid-column-end: 3;
		width: unset;
		white-space: normal;
	}
}

.kexPqu {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	margin: 0 0 0 auto;
	padding: 5px 20px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	-ms-grid-row: 2;
	-ms-grid-row-span: 2;
}

@media (max-width:380px) {
	.kexPqu {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.kexPqu {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.kexPqu {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.kexPqu {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 2;
		-ms-grid-column: 3;
		-ms-grid-row: 1;
	}
}

@media (min-width:992px) {
	.kexPqu {
		grid-column-start: 3;
		grid-column-end: 5;
	}
}

.UxSRi {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	margin: 0 auto 0 0;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	-ms-grid-column: 2;
	-ms-grid-column-span: 2;
	-ms-grid-row: 2;
	-ms-grid-row-span: 3;
	padding: 5px 20px 0 5px;
}

@media (max-width:380px) {
	.UxSRi {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.UxSRi {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.UxSRi {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.UxSRi {
		margin: 0;
		grid-column-start: 1;
		-ms-grid-column: 1;
	}
}

@media (min-width:992px) {
	.UxSRi {
		grid-column-start: 5;
		grid-column-end: 7;
		grid-row-start: 1;
		grid-row-end: 2;
		-ms-grid-column: 5;
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
	}
}

.hAVZVZ {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	padding: 5px 20px 0 5px;
	margin: 0 auto 0 0;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	-ms-grid-column: 2;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	padding: 0 !important;
}

@media (max-width:380px) {
	.hAVZVZ {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.hAVZVZ {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.hAVZVZ {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.hAVZVZ {
		margin: 0;
		width: 100%;
		grid-row-start: 2;
		grid-row-end: 3;
		-ms-grid-row: 2;
		grid-column-start: 3;
		grid-column-end: 5;
		-ms-grid-column: 3;
	}
}

@media (min-width:992px) {
	.hAVZVZ {
		grid-column-start: 7;
		grid-column-end: 9;
		grid-row-start: 1;
		grid-row-end: 2;
		-ms-grid-column: 7;
		-ms-grid-row: 1;
	}
}

.eIykCj {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	-ms-grid-row: 3;
	-ms-grid-row-span: 2;
}

@media (max-width:380px) {
	.eIykCj {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.eIykCj {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.eIykCj {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.eIykCj {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 3;
		-ms-grid-column: 3;
		-ms-grid-row: 2;
	}
}

@media (min-width:992px) {
	.eIykCj {
		grid-column-start: 7;
		grid-column-end: 9;
		grid-row-start: 1;
		grid-row-end: 2;
		-ms-grid-column: 7;
		-ms-grid-row: 1;
	}
}

.fUzbkT {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	padding: 5px 20px 0 5px;
	margin: 0 auto 0 0;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	-ms-grid-column: 2;
	-ms-grid-column-span: 2;
	-ms-grid-row: 3;
	-ms-grid-row-span: 2;
	padding: 0 !important;
}

@media (max-width:380px) {
	.fUzbkT {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.fUzbkT {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.fUzbkT {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.fUzbkT {
		margin: 0;
		width: 100%;
		grid-row-start: 2;
		grid-row-end: 3;
		-ms-grid-row: 2;
		grid-column-start: 5;
		grid-column-end: 7;
		-ms-grid-column: 5;
	}
}

@media (min-width:992px) {
	.fUzbkT {
		grid-column-start: 9;
		grid-column-end: 11;
		grid-row-start: 1;
		grid-row-end: 2;
		-ms-grid-column: 9;
		-ms-grid-row: 1;
	}
}
.fadEfH {
	color: rgb(43, 184, 192);
	font-size: 14px;
	line-height: 24px;
}

.fadEfH:hover {
	color: rgb(30, 156, 159);
}