<div class="Main__Wrapper-fTNHWf fHOsuF">
  <div class="Main__Container-jeBqdM gQKlCo">
     <div class="InvestorAccounts__Wrapper-hlILMC itwTyA">
        <div class="Navbar__InnerWrapper-jFgBlI cuaAbL Container-gZqETv dedQyW">
           <div class="Navbar__NavbarWrapper-gvcNVs jdzcjd">
              <ul class="Navbar__Wrapper-kOBqOU inRjwF">
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a class="" aria-current="false" href="/portfolio">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/OverviewActive.b3840050.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/OverviewDefault.b4fc387f.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Overview</div>
                    </a>
                 </li>
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a class="" aria-current="false" href="/portfolio/investments">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/InvestmentsActive.1aea9b0f.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/InvestmentsDefault.2650c329.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Investments</div>
                    </a>
                 </li>
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a class="" aria-current="false" href="/portfolio/wallet">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/WalletActive.80210110.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/WalletDefault.0e0c70c6.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Wallet</div>
                    </a>
                 </li>
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a class="" aria-current="false" href="/profile/funds">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ManageFundsActive.cb837e75.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ManageFundsDefault.8dad5e3a.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Transfer Funds</div>
                    </a>
                 </li>
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a class="" aria-current="false" href="/portfolio/reports">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ReportsActive.a6f721c1.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ReportsDefault.183daf3d.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Reports</div>
                    </a>
                 </li>
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a class="" aria-current="false" href="/portfolio/transactions">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/TransactionsActive.136ccf21.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/TransactionsDefault.1a96eba4.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Transactions</div>
                    </a>
                 </li>
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a class="active active" aria-current="true" href="/profile/accounts">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ManageInvestorsActive.9f98461a.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ManageInvestorsDefault.05f4f95a.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Manage Accounts</div>
                    </a>
                 </li>
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a class="" aria-current="false" href="/portfolio/tax-center">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/TaxCenterActive.3da60d3d.svg"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/TaxCenterDefault.4257e649.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Tax Center</div>
                    </a>
                 </li>
                 <li class="NavItem__ListItem-jObUkA eZhMjM">
                    <a href="mailto:investments@yieldstreet.com">
                       <img class="activeSVG NavItem__TabIcon-eugFOX iWUARF"><img class="defaultSVG NavItem__TabIcon-eugFOX iWUARF" src="https://www.yieldstreet.com/static/media/ContactDefault.a091529a.svg">
                       <div class="title NavItem__TabTitle-jsVGJM eJexFz">Contact Us</div>
                    </a>
                 </li>
              </ul>
           </div>
           <div class="InvestorAccounts__ContentWrapper-hmDOdb eYkedC">
              <div class="AccountHeader__Header-dzfoXL eUFaOX">
                 <div class="AccountAvatar__Container-hnDrws fGMnpS">
                    <div class="AccountAvatar__Sphere-cZYEID bZWnwk"><span class="AccountAvatar__SphereText-gbhJYI jScECE">TD</span></div>
                    <div class="AccountAvatar__Content-jJObCI cpMlqO">
                       <div class="AccountAvatar__Title-iRTHDV kUprSS">Manage Account<span class="AccountAvatar__CogContainer-eskLGc jMFmlD"><a class="AccountAvatar__CogLink-cJlgBb gDhyzX" href="/profile/user"><span aria-hidden="true" class="fa fa-cog"></span></a></span></div>
                       <div class="AccountAvatar__AccountName-iYHFiC iffCbE">Tushar Dhingra</div>
                    </div>
                 </div>
              </div>
              <div class="InvestorAccounts__Content-xzUNG hPFPqk">
                 <div class="InvestorAccounts__Title-kFjJyR eiwQig">Your Investor Accounts</div>
                 <div class="InvestorAccounts__StyledHeader-eKdaqk PxFFM">
                    <div class="InvestorAccounts__ItemTitle-jIZWoq eyIXqu">Name</div>
                    <div class="InvestorAccounts__ItemTitle-jIZWoq ihUoFz">Account Type</div>
                    <div class="InvestorAccounts__ItemTitle-jIZWoq hsXCls">Identity</div>
                    <div class="InvestorAccounts__ItemTitle-jIZWoq bfjtHr">Accreditation</div>
                    <div class="InvestorAccounts__ItemTitle-jIZWoq caksyX">Next Steps</div>
                 </div>
                 <div class="InvestorAccountsItem__Row-jGQHOG iQwHZA">
                    <div class="InvestorAccountsItem__Item-qmFTp eAqlTR">
                       <label class="InvestorAccountsItem__MobileLabel-goEcfD fLwSqC">Name</label>
                       <div class="InvestorAccountsItem__Value-eVFkKX bvDjiZ">Tushar Dhingra</div>
                    </div>
                    <div class="InvestorAccountsItem__Item-qmFTp kexPqu">
                       <label class="InvestorAccountsItem__MobileLabel-goEcfD fLwSqC">Account Type</label>
                       <div class="InvestorAccountsItem__Value-eVFkKX cBtYdm">Self account</div>
                    </div>
                    <div class="InvestorAccountsItem__Item-qmFTp UxSRi">
                       <label class="InvestorAccountsItem__MobileLabel-goEcfD fLwSqC">Identity</label>
                       <div class="InvestorAccountsItem__Value-eVFkKX fSfYgx">
                          <span class="InvestorAccounts__ValueText-gvYKBd iVgXXZ" color="rgb(208, 2, 27)">
                             <div><span aria-hidden="true" class="fa fa-close"></span> Failed </div>
                          </span>
                       </div>
                    </div>
                    <div class="InvestorAccountsItem__Item-qmFTp eIykCj">
                       <label class="InvestorAccountsItem__MobileLabel-goEcfD fLwSqC">Accreditation</label>
                       <div class="InvestorAccountsItem__Value-eVFkKX fSfYgx">
                          <span class="InvestorAccounts__ValueText-gvYKBd eyJVWC" color="rgb(171, 180, 186)">
                             <div><span aria-hidden="true" class="fa fa-minus"></span> Unverified </div>
                          </span>
                       </div>
                    </div>
                    <div class="InvestorAccountsItem__Item-qmFTp fUzbkT"><a class="InvestorAccountsItem__StyledLinkSetUp-hOxxYE fadEfH" href="/settings/upload-investor-documents/65330">Upload Identity Documents</a></div>
                 </div>
                 <div class="InvestorAccountsItem__Row-jGQHOG iQwHZA">
                    <div class="InvestorAccountsItem__Item-qmFTp eAqlTR">
                       <label class="InvestorAccountsItem__MobileLabel-goEcfD fLwSqC">Name</label>
                       <div class="InvestorAccountsItem__Value-eVFkKX bvDjiZ">test test</div>
                    </div>
                    <div class="InvestorAccountsItem__Item-qmFTp kexPqu">
                       <label class="InvestorAccountsItem__MobileLabel-goEcfD fLwSqC">Account Type</label>
                       <div class="InvestorAccountsItem__Value-eVFkKX cBtYdm">Individual</div>
                    </div>
                    <div class="InvestorAccountsItem__Item-qmFTp UxSRi">
                       <label class="InvestorAccountsItem__MobileLabel-goEcfD fLwSqC">Identity</label>
                       <div class="InvestorAccountsItem__Value-eVFkKX fSfYgx">
                          <span class="InvestorAccounts__ValueText-gvYKBd iVgXXZ" color="rgb(208, 2, 27)">
                             <div><span aria-hidden="true" class="fa fa-close"></span> Failed </div>
                          </span>
                       </div>
                    </div>
                    <div class="InvestorAccountsItem__Item-qmFTp eIykCj">
                       <label class="InvestorAccountsItem__MobileLabel-goEcfD fLwSqC">Accreditation</label>
                       <div class="InvestorAccountsItem__Value-eVFkKX fSfYgx">
                          <span class="InvestorAccounts__ValueText-gvYKBd eyJVWC" color="rgb(171, 180, 186)">
                             <div><span aria-hidden="true" class="fa fa-minus"></span> Unverified </div>
                          </span>
                       </div>
                    </div>
                    <div class="InvestorAccountsItem__Item-qmFTp fUzbkT"><a class="InvestorAccountsItem__StyledLinkSetUp-hOxxYE fadEfH" href="/settings/upload-investor-documents/81649">Upload Identity Documents</a></div>
                 </div>
                 <div class="InvestorAccounts__AddNewInvestorButton-htUWOm idVsRd" id="profile-accounts-new-account">+ Add New Account</div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>