<div class="Main__Wrapper-fTNHWf fHOsuF">
  <div class="Main__Container-jeBqdM fQXNhe">
     <div class="NewBankAccount__InnerWrapper-hkdSbs bIyXsS Container-gZqETv dedQyW">
        <app-sidebar-navigation></app-sidebar-navigation>
        <div class="NewBankAccount__ContentWrapper-dzjfdT cHLMUp">
           <div class="NewBankAccount__Wrapper-hAqoIt hhcbwV">
              <div class="AccountHeader__Header-dzfoXL eUFaOX">
                 <div class="AccountAvatar__Container-hnDrws fGMnpS">
                    <div class="AccountAvatar__Sphere-cZYEID bZWnwk"><span class="AccountAvatar__SphereText-gbhJYI jScECE">TD</span></div>
                    <div class="AccountAvatar__Content-jJObCI cpMlqO">
                       <div class="AccountAvatar__Title-iRTHDV kUprSS">Manage Account<span class="AccountAvatar__CogContainer-eskLGc jMFmlD"><a class="AccountAvatar__CogLink-cJlgBb gDhyzX" href="/profile/user"><span aria-hidden="true" class="fa fa-cog"></span></a></span></div>
                       <div class="AccountAvatar__AccountName-iYHFiC iffCbE">{{currentUser}}</div>
                    </div>
                 </div>
                 <div class="OnboardingProgressView__ProgressBarContainer-kqTHQs fqMPhP" *ngIf = "false">
                    <div class="OnboardingProgressView__ProgressBarWrapper-jkDAxF hhZNft">
                       <div class="OnboardingProgressView__LineGradient-bBYuQr dQgiJq">
                          <div class="OnboardingProgressView__PrimaryLine-kCtWEM jYObjW"></div>
                          <div class="OnboardingProgressView__BlackLine-jTJNnA jyrZlk"></div>
                       </div>
                       <div class="ProgressCircles__CirclesContainer-fXPwKk jncQVe">
                          <div class="ProgressCircles__Bubble-cUJlRI ctOiyt">
                             <div>1</div>
                          </div>
                          <div class="ProgressCircles__Title-ftNeoJ boLsGi">Verify Identity</div>
                       </div>
                       <div class="ProgressCircles__CirclesContainer-fXPwKk jncQVe">
                          <div class="ProgressCircles__Bubble-cUJlRI hFWenB">
                             <div>2</div>
                          </div>
                          <div class="ProgressCircles__Title-ftNeoJ iuJceP">Verify Accreditation</div>
                       </div>
                       <div class="ProgressCircles__CirclesContainer-fXPwKk jncQVe">
                          <div class="ProgressCircles__Bubble-cUJlRI hFWenB">
                             <div>3</div>
                          </div>
                          <div class="ProgressCircles__Title-ftNeoJ iuJceP">Link a Bank</div>
                       </div>
                       <div class="ProgressCircles__CirclesContainer-fXPwKk jncQVe">
                          <div class="ProgressCircles__Bubble-cUJlRI hFWenB">
                             <div>4</div>
                          </div>
                          <div class="ProgressCircles__Title-ftNeoJ iuJceP">Invest</div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="AddAccountManually__Wrapper-kybUmc xkrFu">
                 <div class="AddAccountManually__Content-iPkOQr ghLFmo">
                    <div class="alert alert-danger" *ngIf="errorFlag">
                        <strong>{{errorMessage}}!</strong>
                      </div>
                    <div class="AddAccountManually__Header-cAZtmi klxXto">
                       <div class="AddAccountManually__Title-gtotVb gQswKR">Add Account Manually</div>
                       <!-- <p class="LinkExternalAccount__Change-crQGUA vUFBx">Change</p> -->
                    </div>
                    <div class="AddAccountManually__Body-jqrXds kyqPyY">
                       <div class="AddAccountManually__GeneralInformation-hecSfE ifltFH">When you manually link your bank account to ProjectYield, we make sure the bank account is really yours by sending two "micro deposits" to your bank account. You will see two small deposits in your bank account within the next 2-3 business days between $0.01 and $0.25. We will send you an email with instructions to enter these amounts and verify your account. Your payment will be processed after this.</div>
                       <form (submit) = "addBankAccount($event.target)">
                        <div class="AddAccountManually__InputContainer-dlceqm bRMWRL">
                            <div class="AddAccountManually__LeftInput-eceSix cGFjqr">
                              <div class="undefined InputText__InputTextContainer-eprnIR dafSbU">
                                  <label class="InputText__Label-hEWkWK lnRsmH">
                                    <div class="LinkExternalAccount__MyText-hGqvra jXneMq">Account Nickname</div>
                                  </label>
                                  <div class="InputText__InputContainer-kBPNQb kzXpab">
                                    <input type="text" min="0" required ="true" max="Infinity" name="nickname" placeholder="i.e. My Business Checking">
                                  </div>
                              </div>
                              <div class="undefined InputText__InputTextContainer-eprnIR dafSbU">
                                  <label class="InputText__Label-hEWkWK lnRsmH">Name on Account</label>
                                  <div class="InputText__InputContainer-kBPNQb kzXpab">
                                    <input type="text" min="0" max="Infinity"  name="nameOnAccount" placeholder="Name"></div>
                              </div>
                              <div class="AddAccountManually__DropdownWrapper-NahRM hVrHgJ">
                                  <label class="AddAccountManually__DropdownTitle-hhkupI kwojpG">
                                    <div class="LinkExternalAccount__MyText-hGqvra jXneMq">Type of Account</div>
                                  </label>
                                  <div class="AddAccountManually__FilterContainer-dKsYTz fNbrec">
                                    <div class="dropdown shared__StyledHeaderDropdown-nCqUr cHWqGL HeaderDropdown__DropdownWrapper-coMKrj jvsIdX">
                                        <div class="HeaderDropdown__StyledDropdown-cfQxqG beZXOE Dropdown__Container-cUUygg dlinaM" id="portfolio-investor-dropdown">
                                            <select #accountType class = "HeaderDropdown__StyledDropdown-cfQxqG beZXOE false Dropdown__ActiveContainer-ftVMPU ilTLWk selectWidth" (click) = "onRowClick()">
                                                <!-- <option class = "Dropdown__ActiveOption-eGGXhI eguRTf">Select Type</option> -->
                                                <option class = "Dropdown__ActiveOption-eGGXhI eguRTf">Checking</option>
                                                <option class = "Dropdown__ActiveOption-eGGXhI eguRTf">Savings</option>
                                                <option class = "Dropdown__ActiveOption-eGGXhI eguRTf">Business Checking</option>
                                              </select>
                                        </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                            <div class="AddAccountManually__RightInput-olVwo dgqlDE">
                              <div class="undefined InputText__InputTextContainer-eprnIR dafSbU">
                                  <label class="InputText__Label-hEWkWK lnRsmH">
                                    <div class="LinkExternalAccount__MyText-hGqvra jXneMq">Routing Number</div>
                                  </label>
                                  <div class="InputText__InputContainer-kBPNQb kzXpab">
                                    <input type="text" min="9" max="9" name="bankRoutingNumber" placeholder="Enter 9 digit routing number" required="true"></div>
                              </div>
                              <div class="undefined InputText__InputTextContainer-eprnIR dafSbU">
                                  <label class="InputText__Label-hEWkWK lnRsmH">
                                    <div class="LinkExternalAccount__MyText-hGqvra jXneMq">Account Number</div>
                                  </label>
                                  <div class="InputText__InputContainer-kBPNQb kzXpab">
                                    <input type="text" min="0" max="32" name="accountNumber" placeholder="Account Number" required="true" ></div>
                              </div>
                              <div class="Textarea__Container-cnXbCn gdBoDI">
                                <label class="Textarea__Label-jHTrUR iSeYYG">Special Instructions (Optional)</label>
                                <textarea class="Textarea__RealTextarea-iHgmoi joEYHT" name="specialInstructions"  placeholder="If you have special routing instructions, such as an intermediate brokerage or FCC/FBP account, please enter these details here." required="">
                                </textarea>
                              </div>
                            </div>
                        </div>
                        <div class="AddAccountManually__ButtonContainer-gWxnUT fVIOKd">
                          <button class="SubmitCancelButton-fpFDCR joNMgE PrimaryButton__ButtonPrimary-exVhhh hPkfgc" routerLink = "/funds" id="account-cancel">
                            Cancel
                            </button>
                            <button class="SubmitCancelButton-fpFDCR joNMgE PrimaryButton__ButtonPrimary-exVhhh eEyGQH" id="account-add">
                              Add Account
                            </button>
                          </div>
                        </form>
                       <div class="AddAccountManually__TermsAndService-dakExW iFQhAp">By using our services, you agree to SynapseFI’s <a class="AddAccountManually__TermsOfServiceLink-kaQshb khwiIZ" href="https://synapsefi.com/tos-evolve" target="_blank"> Terms of Service</a> and <a class="AddAccountManually__TermsOfServiceLink-kaQshb khwiIZ" href="https://synapsefi.com/privacy" target="_blank">Privacy Policy</a>.</div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
