.kAIOAZ {
	text-align: justify;
	padding: 5px 30px;
	font-size: 12px;
	color: rgb(118, 129, 135);
}

@media (min-width:992px) {
	.kAIOAZ {
		grid-column: 1/span 3;
	}
}
.geFHgL p {
	text-align: justify;
	padding: 5px 30px;
	font-size: 12px;
	color: rgb(118, 129, 135);
}

.geFHgL a {
	font-size: 10px;
}

.geFHgL #footnote-read-more-2 {
	padding-top: 100px !important;
}

.geFHgL #footnote-read-more-3 {
	padding-top: 100px;
}
.clofcx {
	padding: 0 5px;
}
.gyZyXo {
	font-family: 'Gotham A', 'Gotham B';
	font-weight: 500;
	font-size: 12px;
	padding: 40px 0 10px;
}
.duevyT {
	display: block;
	text-align: left;
	padding: 20px 30px;
	font-size: 10px;
	color: rgb(118, 129, 135);
}

@media (min-width:992px) {
	.duevyT {
		grid-column: 1/span 3;
	}
}
.gQKlCo {
	padding-top: 60px;
}

@media (min-width:1200px) {
	.gQKlCo {
		padding-top: 85px;
	}
}

.fQXNhe {
	padding-top: 60px;
	background: rgb(246, 246, 246);
}

@media (min-width:1200px) {
	.fQXNhe {
		padding-top: 85px;
	}
}
.fGMnpS {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-right: auto;
}

@media (min-width:768px) {
	.fGMnpS {
		margin-right: 60px;
	}
}

@media (min-width:992px) {
	.fGMnpS {
		margin-right: 75px;
	}
}
.bZWnwk {
	background: rgb(223, 227, 228);
	border-radius: 100%;
	float: left;
	height: 40px;
	margin-left: 15px;
	text-align: center;
	width: 40px;
}

@media (min-width:992px) {
	.bZWnwk {
		height: 50px;
		margin: auto 0 5px 15px;
		width: 50px;
	}
}
.cpMlqO {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	line-height: 20px;
	margin-left: 10px;
}

@media (min-width:768px) {
	.cpMlqO {
		line-height: 19px;
	}
}

@media (min-width:992px) {
	.cpMlqO {
		line-height: 0;
	}
}
.jScECE {
	float: left;
	font-size: 16px;
	height: inherit;
	padding-top: 10px;
	width: inherit;
}

@media (min-width:768px) {
	.jScECE {
		font-size: 18px;
		padding-top: 9px;
	}
}

@media (min-width:992px) {
	.jScECE {
		font-size: 20px;
		padding-top: 12px;
	}
}
.kUprSS {
	color: rgb(118, 129, 135);
	font-size: 12px;
}

@media (min-width:768px) {
	.kUprSS {
		line-height: 17px;
	}
}

@media (min-width:992px) {
	.kUprSS {
		font-size: 14px;
		line-height: 24px;
	}
}
.iffCbE {
	color: rgb(53, 56, 58);
	font-family: Raleway, sans-serif;
	font-size: 17px;
}

@media (min-width:768px) {
	.iffCbE {
		font-size: 18px;
		line-height: 24px;
	}
}

@media (min-width:992px) {
	.iffCbE {
		font-size: 20px;
		line-height: 30px;
	}
}
.jMFmlD {
	position: absolute;
	font-size: 16px;
	padding-left: 6px;
}

@media (min-width:992px) {
	.jMFmlD {
		font-size: 20px;
	}
}
.gDhyzX {
	color: rgb(53, 56, 58);
}
.boLsGi {
	font-size: 13px;
	color: rgb(118, 129, 135);
	color: rgb(30, 156, 159);
}

.iuJceP {
	font-size: 13px;
	color: rgb(118, 129, 135);
}
.jncQVe {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	z-index: 2;
	width: 25%;
	text-align: center;
	margin-top: 10px;
}
.ctOiyt {
	width: 22px;
	height: 22px;
	margin-bottom: 5px;
	border-radius: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 400;
	font-size: 13px;
	color: rgb(118, 129, 135);
	border: solid 1px rgb(223, 227, 228);
	background-color: rgb(246, 246, 246);
	border: solid 1px rgb(30, 156, 159);
	color: rgb(30, 156, 159);
	background-color: rgb(238, 240, 240);
}

.hFWenB {
	width: 22px;
	height: 22px;
	margin-bottom: 5px;
	border-radius: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 400;
	font-size: 13px;
	color: rgb(118, 129, 135);
	border: solid 1px rgb(223, 227, 228);
	background-color: rgb(246, 246, 246);
}
.dQgiJq {
	position: absolute;
	width: 73%;
	z-index: 1;
	height: 44px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.jYObjW {
	-webkit-flex: 0;
	-ms-flex: 0;
	flex: 0;
	background-color: rgb(30, 156, 159);
	height: 2px;
}
.jyrZlk {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background-color: rgb(223, 227, 228);
	height: 2px;
}
.fqMPhP {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.hhZNft {
	width: 100%;
	margin: 20px auto 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	font-size: 14px;
}

@media (min-width:768px) {
	.hhZNft {
		width: 80%;
		margin: 0 auto;
		font-size: 16px;
	}
}
.eUFaOX {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 228);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 25px 0;
	margin: 10px 0;
}

@media (min-width:768px) {
	.eUFaOX {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}
.fLwSqC {
	color: rgb(118, 129, 135);
	font-size: 12px;
}

@media (min-width:992px) {
	.fLwSqC {
		display: none;
	}
}

.bvDjiZ {
	color: rgb(53, 56, 58);
	font-size: 14px;
	margin-top: 3px;
	font-weight: 500;
}

@media (min-width:992px) {
	.bvDjiZ {
		padding-top: 0;
	}
}

.cBtYdm {
	color: rgb(53, 56, 58);
	font-size: 14px;
	margin-top: 3px;
}

@media (min-width:992px) {
	.cBtYdm {
		padding-top: 0;
	}
}

.fSfYgx {
	color: rgb(53, 56, 58);
	font-size: 14px;
	margin-top: 3px;
	color: rgb(30, 156, 159);
}

@media (min-width:992px) {
	.fSfYgx {
		padding-top: 0;
	}
}
.invnTH {
	grid-template-rows: repeat(3, 1fr);
	-ms-grid-rows: 1fr 1fr 1fr;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid rgb(223, 227, 228);
	border-top: 1px solid rgb(223, 227, 228);
	display: grid;
	display: -ms-grid;
	grid-column-gap: 55px;
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-columns: 1fr 1fr;
	-ms-grid-column-gap: 55px;
	padding: 5px 3vw;
	margin: 10px 0;
	width: 100%;
}

@media (max-width:380px) {
	.invnTH {
		grid-column-gap: 20px;
		-ms-grid-column-gap: 20px;
		padding: 15px 1vw;
	}
}

@media (min-width:768px) {
	.invnTH {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 0;
		-ms-grid-column-gap: 0;
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr 1fr;
		border-collapse: collapse;
		margin: 0;
		padding: 10px 3vw;
	}
}

@media (min-width:992px) {
	.invnTH {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-gap: 5px;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr;
		-ms-grid-gap: 5px;
		padding: 5px 15px;
		border-top: 0;
	}
}

.invnTH:nth-child(odd) {
	background: rgb(255, 255, 255);
}

.invnTH:nth-child(even) {
	background: rgb(246, 246, 246);
}

.iQwHZA {
	grid-template-rows: repeat(3, 1fr);
	-ms-grid-rows: 1fr 1fr 1fr;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid rgb(223, 227, 228);
	border-top: 1px solid rgb(223, 227, 228);
	display: grid;
	display: -ms-grid;
	grid-column-gap: 55px;
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-columns: 1fr 1fr;
	-ms-grid-column-gap: 55px;
	padding: 5px 3vw;
	margin: 10px 0;
	width: 100%;
}

@media (max-width:380px) {
	.iQwHZA {
		grid-column-gap: 20px;
		-ms-grid-column-gap: 20px;
		padding: 15px 1vw;
	}
}

@media (min-width:768px) {
	.iQwHZA {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(6, 1fr);
		grid-column-gap: 0;
		-ms-grid-column-gap: 0;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr 1fr;
		border-collapse: collapse;
		margin: 0;
		padding: 10px 3vw;
	}
}

@media (min-width:992px) {
	.iQwHZA {
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-gap: 5px;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-rows: 1fr;
		-ms-grid-gap: 5px;
		padding: 5px 15px;
		border-top: 0;
	}
}

.iQwHZA:nth-child(odd) {
	background: rgb(255, 255, 255);
}

.iQwHZA:nth-child(even) {
	background: rgb(246, 246, 246);
}

.eAqlTR {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	white-space: nowrap;
}

@media (max-width:380px) {
	.eAqlTR {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.eAqlTR {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.eAqlTR {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.eAqlTR {
		grid-column-start: 1;
		grid-column-end: 3;
		width: unset;
		white-space: normal;
	}
}

.kexPqu {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	margin: 0 0 0 auto;
	padding: 5px 20px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	-ms-grid-row: 2;
	-ms-grid-row-span: 2;
}

@media (max-width:380px) {
	.kexPqu {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.kexPqu {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.kexPqu {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.kexPqu {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 2;
		-ms-grid-column: 3;
		-ms-grid-row: 1;
	}
}

@media (min-width:992px) {
	.kexPqu {
		grid-column-start: 3;
		grid-column-end: 5;
	}
}

.UxSRi {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	margin: 0 auto 0 0;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	-ms-grid-column: 2;
	-ms-grid-column-span: 2;
	-ms-grid-row: 2;
	-ms-grid-row-span: 3;
	padding: 5px 20px 0 5px;
}

@media (max-width:380px) {
	.UxSRi {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.UxSRi {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.UxSRi {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.UxSRi {
		margin: 0;
		grid-column-start: 1;
		-ms-grid-column: 1;
	}
}

@media (min-width:992px) {
	.UxSRi {
		grid-column-start: 5;
		grid-column-end: 7;
		grid-row-start: 1;
		grid-row-end: 2;
		-ms-grid-column: 5;
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
	}
}

.hAVZVZ {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	padding: 5px 20px 0 5px;
	margin: 0 auto 0 0;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	-ms-grid-column: 2;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	padding: 0 !important;
}

@media (max-width:380px) {
	.hAVZVZ {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.hAVZVZ {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.hAVZVZ {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.hAVZVZ {
		margin: 0;
		width: 100%;
		grid-row-start: 2;
		grid-row-end: 3;
		-ms-grid-row: 2;
		grid-column-start: 3;
		grid-column-end: 5;
		-ms-grid-column: 3;
	}
}

@media (min-width:992px) {
	.hAVZVZ {
		grid-column-start: 7;
		grid-column-end: 9;
		grid-row-start: 1;
		grid-row-end: 2;
		-ms-grid-column: 7;
		-ms-grid-row: 1;
	}
}

.eIykCj {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	-ms-grid-row: 3;
	-ms-grid-row-span: 2;
}

@media (max-width:380px) {
	.eIykCj {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.eIykCj {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.eIykCj {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.eIykCj {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 3;
		-ms-grid-column: 3;
		-ms-grid-row: 2;
	}
}

@media (min-width:992px) {
	.eIykCj {
		grid-column-start: 7;
		grid-column-end: 9;
		grid-row-start: 1;
		grid-row-end: 2;
		-ms-grid-column: 7;
		-ms-grid-row: 1;
	}
}

.fUzbkT {
	margin: 0 0 0 auto;
	max-width: 135px;
	padding: 5px 20px;
	overflow-wrap: break-word;
	width: 100%;
	padding: 5px 20px 0 5px;
	margin: 0 auto 0 0;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	-ms-grid-column: 2;
	-ms-grid-column-span: 2;
	-ms-grid-row: 3;
	-ms-grid-row-span: 2;
	padding: 0 !important;
}

@media (max-width:380px) {
	.fUzbkT {
		max-width: 125px;
	}
}

@media (min-width:768px) {
	.fUzbkT {
		margin: 0;
		max-width: 100%;
		padding: 5px 0;
		width: unset;
	}
}

@media (min-width:992px) {
	.fUzbkT {
		padding: 7px 0;
	}
}

@media (min-width:768px) {
	.fUzbkT {
		margin: 0;
		width: 100%;
		grid-row-start: 2;
		grid-row-end: 3;
		-ms-grid-row: 2;
		grid-column-start: 5;
		grid-column-end: 7;
		-ms-grid-column: 5;
	}
}

@media (min-width:992px) {
	.fUzbkT {
		grid-column-start: 9;
		grid-column-end: 11;
		grid-row-start: 1;
		grid-row-end: 2;
		-ms-grid-column: 9;
		-ms-grid-row: 1;
	}
}
.fadEfH {
	color: rgb(43, 184, 192) !important;
	font-size: 14px;
	line-height: 24px;
}

.fadEfH:hover {
	color: rgb(30, 156, 159);
}
.cHWqGL {
	margin-right: 7px;
}

.cHWqGL:last-child {
	margin-right: 0;
}

.fVIOKd {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.fVIOKd button {
	width: 100%;
	max-width: 100%;
}

.fVIOKd button:nth-child(1) {
	margin-bottom: 15px;
}

@media (min-width:576px) {
	.fVIOKd {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		max-width: 190px;
	}
	.fVIOKd button {
		display: block;
		width: unset;
	}
	.fVIOKd button:nth-child(1) {
		margin-bottom: 0px;
		margin-right: 15px;
	}
}

.khwiIZ {
	color: rgb(53, 56, 58);
	cursor: pointer;
	text-decoration: underline;
}


.hVrHgJ {
	font-size: 14px;
	font-family: Gotham A, Gotham B;
	margin-bottom: 20px;
}

.kwojpG {
	font-size: 14px;
	color: rgb(53, 56, 58);
	line-height: 24px;
    display: block;
    font-weight: bold;
}


.fNbrec {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: row;
	-webkit-justify-content: row;
	-ms-flex-pack: row;
	justify-content: row;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.fNbrec .dropdown>div {
	padding-top: 0px;
}

.fNbrec div {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
}

.bRMWRL {
	margin-top: 25px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media (min-width:576px) {
	.bRMWRL {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

.cGFjqr {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.cGFjqr input {
	width: 100%;
	border: 1px solid rgb(223, 227, 228);
}

@media (min-width:576px) {
	.cGFjqr>div {
		width: 95%;
		margin-right: auto;
	}
}


.dgqlDE {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.dgqlDE input,
.dgqlDE textarea {
	width: 100%;
	border: 1px solid rgb(223, 227, 228);
}

@media (min-width:576px) {
	.dgqlDE>div {
		width: 95%;
		margin-left: auto;
	}
}

.iFQhAp {
	margin-top: 30px;
	background-color: rgb(238, 240, 240);
	border: solid 1px rgb(223, 227, 228);
	padding: 15px 25px;
	font-size: 14px;
	font-weight: 300;
}

.ifltFH {
	border-radius: 2px;
	border: solid 1px rgb(223, 227, 228);
	padding: 15px 25px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: rgb(53, 56, 58);
}


.kyqPyY {
	margin-top: 20px;
}

@media (min-width:768px) {
	.kyqPyY {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		margin-top: 0px;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
.klxXto {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.gQswKR {
	color: rgb(53, 56, 58);
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 10px;
}

@media (min-width:768px) {
	.gQswKR {
		font-size: 26px;
	}
}

@media (min-width:992px) {
	.gQswKR {
		font-size: 28px;
	}
}
.xkrFu {
	background: rgb(246, 246, 246);
	width: 100%;
}
.ghLFmo {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 228);
	padding: 25px 3vw;
	margin: 10px 0;
}

@media (min-width:768px) {
	.ghLFmo {
		padding-bottom: 5vw;
	}
}
.cHLMUp {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
}
.bIyXsS {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0 2vw;
}
@media (min-width:768px) {
	.bdEmHK {
		padding: 17px 20px 0 0;
		min-width: 200px;
	}
}
.hhcbwV {
	background: rgb(246, 246, 246);
	font-family: Gotham A, Gotham B;
	width: 100%;
}
.kmqWFo {
	background: rgb(246, 246, 246);
	font-family: Gotham A, Gotham B;
	width: 100%;
}
.diVxBw {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 228);
	padding: 25px 3vw;
	margin: 10px 0;
}

@media (min-width:768px) {
	.diVxBw {
		padding-bottom: 5vw;
	}
}
.lgSQGw {
	display: block;
}

@media (min-width:768px) {
	.lgSQGw {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}
.kaIhwm {
	color: rgb(53, 56, 58);
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 10px;
	margin-right: auto;
}

@media (min-width:768px) {
	.kaIhwm {
		font-size: 26px;
	}
}

@media (min-width:992px) {
	.kaIhwm {
		font-size: 28px;
	}
}
.hUQEze {
	color: rgb(53, 56, 58);
	font-size: 20px;
	line-height: 30px;
	margin-top: 20px;
}

@media (min-width:992px) {
	.hUQEze {
		font-size: 18px;
	}
}
.hvSjDn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0 2vw;
}
@media (min-width:768px) {
	.jpzIMq {
		padding: 17px 20px 0 0;
		min-width: 200px;
	}
}
.vUFBx {
	font-size: 14px;
	cursor: pointer;
	color: rgb(30, 156, 159);
}
.jXneMq {
	position: relative;
}

.jXneMq:after {
	font-family: FontAwesome;
	content: '\f069';
	position: absolute;
	font-size: 7px;
	color: rgb(208, 2, 27);
	bottom: 5px;
}
.eyIXqu {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 1;
	grid-column-end: 3;
	-ms-grid-column: 1;
}

.ihUoFz {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 3;
	grid-column-end: 5;
	-ms-grid-column: 3;
}

.hsXCls {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 5;
	grid-column-end: 7;
	-ms-grid-column: 5;
}

.bocQDz {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 7;
	grid-column-end: 9;
	-ms-grid-column: 7;
}

@media (min-width:992px) {
	.bocQDz {
		text-align: left;
	}
}

.bfjtHr {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 7;
	grid-column-end: 9;
	-ms-grid-column: 7;
}

.caksyX {
	color: rgb(53, 56, 58);
	font-size: 14px;
	line-height: 24px;
	grid-row-start: 1;
	grid-row-end: 2;
	white-space: nowrap;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column-start: 9;
	grid-column-end: 11;
	-ms-grid-column: 9;
}

@media (min-width:992px) {
	.caksyX {
		text-align: left;
	}
}


.iVgXXZ {
	color: rgb(208, 2, 27);
}

.eyJVWC {
	color: rgb(171, 180, 186);
}

.idVsRd {
	cursor: pointer;
	color: rgb(43, 184, 192);
	font-size: 14px;
	margin-top: 20px;
}

.dafSbU {
	font-size: 14px;
	font-family: Gotham A, Gotham B;
	margin-bottom: 20px;
}

.ePQAqy>input {
	width: 100%;
	font-size: 14px;
	font-family: Gotham A, Gotham B;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(171, 180, 186);
	box-shadow: inset 0 0 3px 0 rgba(55, 62, 65, 0.13);
	border-radius: 1px;
	text-align: left;
	color: rgb(53, 56, 58);
	line-height: 24px;
	height: 40px;
	padding: 0 10px;
	outline: none;
}

.ePQAqy>input:focus {
	border: 1px solid rgb(107, 197, 199);
}

.ePQAqy>input:disabled {
	background: rgb(246, 246, 246);
	border: 1px solid rgb(223, 227, 228);
	color: rgb(171, 180, 186);
}

.ePQAqy>input:placeholder {
	color: rgb(171, 180, 186);
}

.kzXpab>input {
	font-size: 14px;
	font-family: Gotham A, Gotham B;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(171, 180, 186);
	box-shadow: inset 0 0 3px 0 rgba(55, 62, 65, 0.13);
	border-radius: 1px;
	text-align: left;
	color: rgb(53, 56, 58);
	line-height: 24px;
	height: 40px;
	padding: 0 10px;
	outline: none;
}

.kzXpab>input:focus {
	border: 1px solid rgb(107, 197, 199);
}

.kzXpab>input:disabled {
	background: rgb(246, 246, 246);
	border: 1px solid rgb(223, 227, 228);
	color: rgb(171, 180, 186);
}

.kzXpab>input:placeholder {
	color: rgb(171, 180, 186);
}

.lnRsmH {
	font-size: 14px;
	color: rgb(53, 56, 58);
	line-height: 24px;
    display: block;
    font-weight: bold;
}

.jjVZyg {
	margin-top: 20px;
	border-color: rgb(223, 227, 228);
	border-width: 1px 1px 0 1px;
	border-style: solid;
}

@media (min-width:768px) {
	.jjVZyg {
		border: 1px solid rgb(223, 227, 228);
		border-bottom: 0;
	}
}

.kPUQpi {
	color: rgb(53, 56, 58);
	font-size: 15px;
	line-height: 20px;
	margin-top: 15px;
}

@media (min-width:768px) {
	.kPUQpi {
		margin-top: 30px;
		text-align: center;
	}
}

@media (min-width:992px) {
	.kPUQpi {
		font-size: 17px;
	}
}

.joNMgE {
	max-width: 340px;
	margin: 0 auto;
	width: 100%;
	line-height: 26px;
}

@media (min-width:576px) {
	.joNMgE {
		max-width: 190px;
		margin: unset;
	}
}

.cxSETh {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media (min-width:768px) {
	.cxSETh {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

.jFIKSM {
	color: rgb(43, 184, 192);
	cursor: pointer;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 10px;
	padding: 5px 15px 0 0;
}

.jFIKSM:hover {
	color: rgb(30, 156, 159);
}

@media (min-width:768px) {
	.jFIKSM {
		padding: 5px 15px 0;
	}
}

.ixgFTF {
	color: rgb(43, 184, 192);
	cursor: pointer;
	padding-left: 5px;
}

.ixgFTF:hover {
	color: rgb(30, 156, 159);
}

.hWwEEY {
	min-width: 210px;
	height: 45px;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.kYDotr {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 228);
	padding: 25px 3vw;
	margin: 10px 0;
}

@media (min-width:768px) {
	.kYDotr {
		padding-bottom: 5vw;
	}
}

.ilKiJq {
	color: rgb(53, 56, 58);
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 10px;
	margin-right: auto;
}

.gTIbuQ {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	padding: 0 40px;
}
.gtlfJX {
	-webkit-flex-basis: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
}

@media (min-width:576px) {
	.gtlfJX {
		-webkit-flex-basis: 50%;
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
	}
}

@media (min-width:992px) {
	.gtlfJX {
		-webkit-flex-basis: 33%;
		-ms-flex-preferred-size: 33%;
		flex-basis: 33%;
	}
}
.uHBNF {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 15px;
	cursor: pointer;
	border: solid 1px transparent;
}

.uHBNF:hover {
	background: #f7fdff;
	border: solid 1px rgb(43, 184, 192);
}
.gkGlGb {
	width: 40px;
	height: 40px;
	margin-right: 14px;
}
.djsOqs {
	color: rgb(53, 56, 58);
	font-size: 14px;
}
.cTVLTS {
	background: rgb(238, 240, 240);
	position: relative;
	padding: 10px 0;
	text-align: center;
}

.cTVLTS label {
	position: absolute;
	z-index: 2;
	top: 30%;
	left: 15%;
}

@media (min-width:576px) {
	.cTVLTS label {
		left: 14%;
	}
}

@media (min-width:992px) {
	.cTVLTS label {
		left: 13.5%;
	}
}

.cTVLTS input {
	padding: 0 25px;
	width: 75%;
}
.hOdOzw {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin-top: 30px;
	padding-top: 15px;
	border-top: 1px solid rgb(171, 180, 186);
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 14px;
	-webkit-flex-wrap: wrap-reverse;
	-ms-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}

.hOdOzw button {
	margin: 0px 10px 0px 0px;
}
.gdBoDI {
	clear: both;
	font-size: 14px;
	margin-bottom: 20px;
}
.iSeYYG {
	font-size: 14px;
	color: rgb(53, 56, 58);
	line-height: 24px;
    display: block;
    font-weight: bold;
}
.joEYHT {
	font-family: Gotham A, Gotham B;
	font-size: 14px;
	background: #ffffff;
	border: 1px solid rgb(171, 180, 186);
	box-shadow: inset 0 0 3px 0 rgba(55, 62, 65, 0.13);
	border-radius: 1px;
	color: rgb(53, 56, 58);
	line-height: 24px;
	min-width: 220px;
	min-height: 40px;
	max-width: 100%;
	max-height: 50vh;
	width: 100%;
	height: 90px;
	padding: 5px 10px 0;
	outline: none;
}

.joEYHT:focus {
	border: 1px solid rgb(107, 197, 199);
}

.joEYHT::-webkit-input-placeholder {
	color: rgb(171, 180, 186);
}

.joEYHT::-moz-placeholder {
	color: rgb(171, 180, 186);
}

.joEYHT:-ms-input-placeholder {
	color: rgb(171, 180, 186);
}

.joEYHT::placeholder {
	color: rgb(171, 180, 186);
}

.ioxbgJ {
	background: rgb(43, 184, 192);
	display: block;
	width: 30px;
	height: 3px;
	border-radius: 1px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.fgMiRS {
	cursor: pointer;
	display: inline-block;
	height: 23px;
	position: relative;
	width: 30px;
	vertical-align: top;
}

.fgMiRS:before,
.fgMiRS:after {
	-webkit-transition: -webkit-transform 0.5s;
	-webkit-transition: transform 0.5s;
	transition: transform 0.5s;
	content: '';
	background: rgb(43, 184, 192);
	display: block;
	width: 30px;
	height: 3px;
	border-radius: 1px;
	position: absolute;
}

.fgMiRS:before {
	top: 0;
}

.fgMiRS:after {
	bottom: 0;
}

.deZsHZ {
	font-weight: inherit;
}

.deZsHZ a {
	display: block;
	font-size: 14px;
	list-style: none;
	padding: 10px 15px;
	color: rgb(53, 56, 58);
	text-decoration: none;
	font-family: 'Raleway';
}

.deZsHZ a:hover {
	background: rgb(238, 240, 240);
}

@media (min-width:1200px) {
	.eLNCUV {
		white-space: nowrap;
	}
}

.eLNCUV a {
	text-transform: uppercase;
	font-size: 10px;
	background: rgb(238, 240, 240);
	display: block;
	padding: 5px 25px;
	color: rgb(171, 180, 186);
	text-decoration: none;
}

.eLNCUV a:hover {
	color: black;
}

@media (min-width:1200px) {
	.eLNCUV a {
		text-transform: none;
		background: transparent;
		display: inline-block;
		font-size: 14px;
		color: rgb(53, 56, 58);
		padding: 10px;
	}
}

.iDymxL a {
	text-transform: none;
	font-size: 13px;
	background: white;
	display: block;
	padding: 8px 25px 8px;
	color: black;
	text-decoration: none;
}

.lmOyev {
	display: none;
}

@media (min-width:1200px) {
	.lmOyev {
		display: inline-block;
		margin-left: -4px;
		position: relative;
		width: 10px;
	}
}

.iddAdX {
	color: auto;
}

.bhBKHK {
	color: black !important;
}
.eoIeAn {
	background: white;
	display: block;
	position: relative;
	padding-bottom: 5px;
	padding-top: 5px;
	right: auto;
}

@media (min-width:1200px) {
	.eoIeAn {
		width: 190px;
		background: white;
		border: 1px solid rgb(223, 227, 228);
		box-shadow: 0 2px 4px 0 rgba(116, 121, 123, 0.05);
		position: relative;
		margin-top: 10px;
	}
}

.eoIeAn:before,
.eoIeAn:after {
	left: calc(50% + 5px);
	right: auto;
}

@media (min-width:1200px) {
	.eoIeAn:before,
	.eoIeAn:after {
		content: "";
		width: 10px;
		height: 10px;
		border: 1px solid rgb(223, 227, 228);
		margin-left: -10px;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		position: absolute;
		left: calc(50% + 5px);
		top: -6px;
		display: block;
		background: white;
		z-index: -1;
	}
}

.eoIeAn:after {
	border: none;
	z-index: 0;
	top: -5px;
	left: calc(50% + 7px);
}

.eoIeAn a {
	display: block;
	position: relative;
}

.eoIeAn a:hover {
	background: rgb(238, 240, 240);
}
@media (min-width:1200px) {
	.kpCVzn {
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}
.DCXDW {
	position: relative;
	margin-right: 20px;
}

.iayJkn {
	position: relative;
	margin-right: 0;
}

.iayJkn a {
	background-color: transparent;
	padding: 14px 10px;
}
.jHraXx {
	border: 1px solid rgb(223, 227, 228);
	border-radius: 1px;
	font: normal 16px Raleway;
	background: white;
	height: 46px;
	color: rgb(43, 184, 192);
}

.jHraXx:hover {
	border: 1px solid rgb(171, 180, 186);
	color: rgb(30, 156, 159);
}

.jHraXx a {
	color: rgb(43, 184, 192);
	text-decoration: none;
}
.fJoWbf {
	position: fixed;
	bottom: 0;
	top: 60px;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	z-index: 9000;
	left: -100%;
	opacity: 0;
}

@media (min-width:1200px) {
	.fJoWbf {
		position: static;
		opacity: 1;
		background: transparent;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding-top: 7px;
		max-width: 830px;
	}
}
.flIItU {
	position: fixed;
	bottom: 0;
	top: 60px;
	width: 320px;
	z-index: 9001;
	background: white;
	overflow-y: auto;
	left: -100%;
	-webkit-transition: left 0.5s;
	transition: left 0.5s;
}

@media (min-width:1200px) {
	.flIItU {
		position: static;
		bottom: 0;
		top: auto;
		width: auto;
		overflow-y: visible;
	}
}
@media (min-width:1200px) {
	.diURqM {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
}
.hVDqtC {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.hVDqtC>* {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

@media (min-width:1200px) {
	.hVDqtC {
		display: none;
	}
}

.mERlW {
	min-width: 95px;
	max-width: none;
	width: auto;
	padding-top: 11px;
	padding-right: 15px;
	padding-bottom: 12px;
	padding-left: 15px;
	background: linear-gradient(180deg, #20C2CB 0%, #2DB7BF 100%);
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 14px;
	text-align: left;
	border: 0;
	position: relative;
	border-radius: 0;
	line-height: 12px;
	height: 36px;
	text-align: center;
	cursor: pointer;
}

.mERlW:hover {
	background: linear-gradient(0deg, #1E9C9F 0%, #2DB7BF 100%);
}

.mERlW disabled {
	background: gray5;
}

.mERlW a {
	color: white;
	text-decoration: none;
}

.jLNNsJ {
	min-width: 190px;
	max-width: none;
	width: auto;
	padding-top: 11px;
	padding-right: 15px;
	padding-bottom: 11px;
	padding-left: 15px;
	background: linear-gradient(180deg, #20C2CB 0%, #2DB7BF 100%);
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-align: left;
	border: 0;
	position: relative;
	border-radius: 0;
	line-height: 24px;
	height: auto;
	text-align: center;
	cursor: pointer;
}

.jLNNsJ:hover {
	background: linear-gradient(0deg, #1E9C9F 0%, #2DB7BF 100%);
}

.jLNNsJ disabled {
	background: gray5;
}

.jLNNsJ a {
	color: white;
	text-decoration: none;
}

.hPkfgc {
	min-width: 190px;
	max-width: 340px;
	width: 100%;
	padding-top: 11px;
	padding-right: 15px;
	padding-bottom: 11px;
	padding-left: 15px;
	background: rgb(118, 129, 135);
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-align: left;
	border: 0;
	position: relative;
	border-radius: 0;
	line-height: 24px;
	height: auto;
	text-align: center;
	cursor: pointer;
}

.hPkfgc:hover {
	background: linear-gradient(0deg, rgb(82, 87, 90) 0%, rgb(118, 129, 135) 100%);
}

.hPkfgc disabled {
	background: gray5;
}

.hPkfgc a {
	color: white;
	text-decoration: none;
}

.eEyGQH {
	min-width: 190px;
	max-width: 340px;
	width: 100%;
	padding-top: 11px;
	padding-right: 15px;
	padding-bottom: 11px;
	padding-left: 15px;
	background: linear-gradient(180deg, #20C2CB 0%, #2DB7BF 100%);
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-align: left;
	border: 0;
	position: relative;
	border-radius: 0;
	line-height: 24px;
	height: auto;
	text-align: center;
	cursor: pointer;
}

.eEyGQH:hover {
	background: linear-gradient(0deg, #1E9C9F 0%, #2DB7BF 100%);
}

.eEyGQH disabled {
	background: gray5;
}

.eEyGQH a {
	color: white;
	text-decoration: none;
}

@media (min-width:1200px) {
	.fgZKGP {
		margin-top: -17px;
		white-space: nowrap;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

@media (min-width:992px) {
	.hPEnxl {
		display: none;
	}
}

.kLYUMh {
	display: none;
}

@media (min-width:992px) {
	.kLYUMh {
		display: block;
	}
}

.gRvaAo {
	display: inline-block;
}

.kSVXxb {
	display: inline-block;
}

.kSVXxb button {
	font-size: 11px;
	min-width: 0;
}

.chQaUb {
	display: none;
}

@media (min-width:576px) {
	.chQaUb {
		display: inline;
		font-size: 14px;
		line-height: 12px;
		color: rgb(53, 56, 58);
		margin-right: 30px;
		text-decoration: none;
	}
}
.rucKh {
	height: 60px;
	padding: 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	position: fixed;
	top: 0;
	background: rgba(255, 255, 255, 1);
	width: 100%;
	z-index: 9000;
	-webkit-transition: background 0.5s;
	transition: background 0.5s;
	border-bottom: 1px solid rgb(223, 227, 228);
}

.rucKh.transparent {
	background: rgba(255, 255, 255, 0);
	border-bottom: none;
}

@media (min-width:1200px) {
	.rucKh {
		height: 85px;
		padding: 17px 20px 0 30px;
	}
}
.exlzqj {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@media (min-width:992px) {
	.exlzqj {
		display: block;
	}
}
.kiuLFy {
	display: inline-block;
	margin-top: 8px;
	padding: 0px 15px 0px 10px;
	vertical-align: top;
}

@media (min-width:768px) {
	.kiuLFy {
		padding: 0px 25px 0px 10px;
	}
}

@media (min-width:1200px) {
	.kiuLFy {
		display: none;
	}
}
.iHrkvQ {
	display: inline-block;
}

.iHrkvQ img {
	width: 145px;
	min-height: 39px;
}

@media (min-width:1200px) {
	.iHrkvQ img {
		width: 185px;
		height: 100%;
		min-height: 50px;
	}
}

@media (min-width:1200px) {
	.cMmiVI {
		display: none;
	}
}
.itXJHw {
	display: none;
}

@media (min-width:1200px) {
	.itXJHw {
		display: block;
	}
}
@media (min-width:1200px) {
	.lcHVPd {
		padding: 0 30px 0 30px;
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}
}
.gkspIF {
	text-align: justify;
	padding: 5px 30px;
	font-size: 12px;
	color: rgb(118, 129, 135);
}

@media (min-width:992px) {
	.gkspIF {
		grid-column: 1/span 3;
	}
}

.gkspIF .noteLink {
	font-size: 10px;
}
.gFiVEz {
	cursor: pointer;
}
.dIcvnz {
	background: rgb(246, 246, 246);
	text-align: center;
}

.dIcvnz a {
	color: rgb(43, 184, 192);
	font-size: 12px;
	text-decoration: none;
}

.dIcvnz a:hover {
	color: rgb(30, 156, 159);
}
.grMMFi {
	display: grid;
	grid-template-columns: 1fr;
}

@media (min-width:992px) {
	.grMMFi {
		grid-template-columns: 1fr 1fr 1fr;
		margin: 0 auto;
		max-width: 1300px;
	}
}
.bOoXYW {
	padding: 60px 30px 40px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	text-align: left;
}

@media (min-width:768px) {
	.bOoXYW {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
}

@media (min-width:992px) {
	.bOoXYW {
		grid-column: 1/span 2;
	}
}

.dVMYOD {
	width: 50%;
	padding-bottom: 30px;
}

.dVMYOD>span {
	color: rgb(53, 56, 58);
	font-size: 13px;
}

.dVMYOD>ul>li {
	line-height: 28px;
}

@media (min-width:768px) {
	.dVMYOD {
		width: 25%;
	}
}
@media (min-width:992px) {
	.dzjDfM {
		padding: 60px 30px 40px;
		-webkit-align-self: top;
		-ms-flex-item-align: top;
		align-self: top;
		text-align: right;
	}
}
.bwmXNO {
	padding: 30px 0;
	margin: 30px;
	border-top: 1px solid rgb(223, 227, 228);
	border-bottom: 1px solid rgb(223, 227, 228);
	font-size: 12px;
	line-height: 21px;
	color: rgb(118, 129, 135);
}

@media (min-width:768px) {
	.bwmXNO {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

@media (min-width:992px) {
	.bwmXNO {
		grid-column: 1/span 2;
		padding: 30px 0;
		border-top: 1px solid rgb(223, 227, 228);
		border-bottom: 1px solid rgb(223, 227, 228);
		line-height: 21px;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-flex: 2;
		-webkit-flex-grow: 2;
		-ms-flex-positive: 2;
		flex-grow: 2;
		margin: 30px 0 30px 30px;
	}
	.bwmXNO p {
		margin-right: 30px;
	}
}
.daezUS {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-around;
	-webkit-justify-content: space-around;
	-ms-flex-pack: space-around;
	justify-content: space-around;
	padding: 0 30px;
}

.daezUS a {
	display: block;
	color: rgb(118, 129, 135);
	font-size: 30px;
}

@media (min-width:992px) {
	.daezUS {
		padding: 30px 0;
		border-top: 1px solid rgb(223, 227, 228);
		border-bottom: 1px solid rgb(223, 227, 228);
		line-height: 21px;
		margin: 30px 30px 30px 0;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.daezUS>a {
		margin-left: 30px;
	}
	.daezUS>a:hover {
		color: rgb(118, 129, 135);
	}
}
.eguRTf {
	border: none;
	padding: 0 10px 0 0;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.eguRTf.active-option {
	color: rgb(30, 156, 159);
	display: block;
	font-size: 15px;
	margin: 0 auto;
	padding: 0px 12px !important;
	width: 96%;
}

.selectWidth {
		width: 425px !important;
}

